<div class="row" ng-show="isSearchFormVisible || isRouteFormVisible">
    <md-tabs md-dynamic-height="true" md-stretch-tabs="always">
        <md-tab md-active="isSearchFormVisible">
            <md-tab-body>
                <div class="col-xs-12 tab-content keyword-search">
                    <div class="row">
                        <div class="col-md-6 input-section align-first">
                            <img class="icon" src="./images/icons/paso1.png">
                            <p class="data-label" translate="SEARCH_BY_KEY_WORD"></p>
                            <div class="input">
                                <browser-input-field></browser-input-field>
                            </div>
                        </div>
                        <div class="separator"></div>
                        <div class="col-md-6 input-section align-second">
                            <img class="icon" src="./images/icons/paso2.png">
                            <p class="data-label" translate="SELECT_TOWN"></p>
                            <div class="input">
                                <drop-down-town-directive></drop-down-town-directive>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <button class="button" aria-label="Buscar" translate="MAKE_SEARCH"
                                    ng-click="doSearch(result)"></button>
                        </div>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
        <md-tab md-active="isRouteFormVisible">
            <md-tab-body>
                <div class="col-xs-12 tab-content route-search">
                    <div class="row">
                        <div class="col-md-6 input-section align-first">
                            <img class="icon" src="./images/icons/paso1.png">
                            <div class="label-with-description">
                                <p class="data-label" translate="SEARCH_TAB_MAP_HOME"></p>
                                <p class="data-description" translate="SEARCH_TAB_MAP_HOME_TIP"></p>
                            </div>
                            <div class="input">
                                <div class="inline-block">
                                    <p class="tip" translate="STARTING_POINT_TIP"></p>
                                    <input ng-focus="deleteText('routeToController.routeFrom')"
                                           ng-blur="searchFieldIsFill(routeToController.routeFrom.geometry.location.lat(),routeToController.routeFrom.geometry.location.lng(),'routeToController.routeFrom')"
                                           class="form-control" g-places-autocomplete options="autocompleteOptions"
                                           ng-model="routeToController.routeFrom"/>
                                </div>
                                <div class="inline-block">
                                    <p class="tip md-margin-top" translate="CURRENT_LOCATION"></p>
                                    <img class="my-position-icon" src="./images/icons/mi-ubicacion.png"
                                         ng-click="getUserPosition()">
                                    <md-progress-circular class="loadingSitesOnMap"  ng-show="loadingCurrentPosition" md-mode="indeterminate"></md-progress-circular>
                                </div>
                            </div>
                        </div>
                        <div class="separator"></div>
                        <div class="col-md-6 input-section align-second">
                            <img class="icon" src="./images/icons/paso2.png">
                            <div class="label-with-description">
                                <p class="data-label" translate="SEARCH_TAB_MAP_HOME_2NDSTEP"></p>
                                <p class="data-description" translate="SEARCH_TAB_MAP_HOME_2NDSTEP_TIP"></p>
                            </div>

                            <div class="input">
                                <input ng-focus="deleteText('routeToController.routeTo')"
                                       ng-blur="searchFieldIsFill(routeToController.routeTo.geometry.location.lat(),routeToController.routeTo.geometry.location.lng(),'routeToController.routeTo')"
                                       class="form-control" g-places-autocomplete
                                       options="autocompleteOptions"
                                       ng-model="routeToController.routeTo"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 text-center">
                        <button class="button" aria-label="Ruta" translate="MAKE_ROUTE"
                                ng-click="calculateRoute()"></button>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>