.tab-content {
    padding: 0;
}

.tab-content .button {
    width: 250px;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #FFC501;
    color: #2D3C4D;
    padding: 5px 10px;
    margin: 15px 0;
}

.tab-content .label1 {
    color: #2D3C4D;
    font-size: 1.1em;
    font-weight: bolder;
    padding: 15px 5px;
    vertical-align: middle;
    display: inline-block;
    width: 250px;
    text-align: left;
    vertical-align: middle;
    margin: 0;
}

.tab-content .icon {
    height: 30px;
}

.tab-content .input {
    display: inline-block;
}

.tab-content .data-input {
    padding: 15px 10px;
}

md-tabs-content-wrapper {
    top: 0.1px !important;
}

md-tabs-canvas {
    height: 0 !important;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .tab-content {
        padding: 0px !important;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .tab-content {
        padding: 20px 5px;
    }

    .tab-content .label1 {
        font-size: 1.3em;
        padding: 0 5px;
        width: 250px;
    }

    .tab-content .icon {
        height: 50px;
    }

    .tab-content .button {
        width: 400px;
        font-size: 1.3em;
        margin: 15px 0 0 0;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


