<div class="prompt_q">
<div class="styled-select">
<select 
ng-options="opcion.id as opcion.respuesta for opcion in currentQuestion.opciones" ng-model="currentQuestion.dato">
</select>
</div>	
</div>
<div class="bar_bottom_b" ng-show="oyb('P')" ng-click="summary()">    
    Estoy Buscando... 
    <div class="next" ng-click="buscar()" ng-show="b_buscar()">Buscar</div>
  </div>
  <div class="bar_bottom_o" ng-show="oyb('S')" ng-click="summary()">    
    Estoy Ofreciendo...
    <div class="next" ng-click="buscar()" ng-show="b_buscar()">Buscar</div>
  </div>
