<div class="prompt_r" ng-repeat="opcion in currentQuestion.opciones">
<div >%%opcion.respuesta%%
	<input type="checkbox"  ng-model="opcion.dato"
 ng-click="mclick(opcion.id,opcion.dato)"/>
</div>
</div>
<div class="bar_bottom_b" ng-show="oyb('P')" ng-click="summary()">    
    Estoy Buscando... 
    <div class="next" ng-click="buscar()" ng-show="b_buscar()">Buscar</div>
  </div>
  <div class="bar_bottom_o" ng-show="oyb('S')" ng-click="summary()">    
    Estoy Ofreciendo...
    <div class="next" ng-click="buscar()" ng-show="b_buscar()">Buscar</div>
  </div>

