
<!-- backup -->
<!-- <div layout="column" layout-align="end center" class="bc_content">
 <div class="prompt_r" ng-repeat="opcion in currentQuestion.opciones">
     <label class="rad" ng-click="uclick(opcion.id)">
   %%opcion.respuesta%%
      <input type="radio" name="radio" value="%%opcion.id%%" ng-model="currentQuestion.dato"/>
      <i></i>
     </label>
 </div>
</div> -->

<!-- Provisionalmente para poder probar funcionalidad -->

<div layout="column" layout-align="end center" class="bc_content"> 
 <md-radio-group class="prompt_r" ng-model="currentQuestion.dato" ng-repeat="opcion in currentQuestion.opciones">
 <md-radio-button class="md-warn" value="%%opcion.id%%" ng-click="uclick(opcion.id)">%%opcion.respuesta%%</md-radio-button>
</md-radio-group>
</div> 
</br>
</br>
</br>
</br>

