<div layout="row" layout-align="space-around center" class="barra_main">   
  <div class="regresar" ng-click="previous()">
    <img ng-src="%%anterior%%">
  </div>
  MERCATIC
  <div class="menu" ng-click="toggleRight()"> 
    <i class="fa fa-reorder"></i>
  </div>
</div>

<div class="prompt">
  <div class="prompt_q">
    %%currentQuestion.enunciado%%
    <div class="q_button" layout="row" layout-align="center center">
      <div flex="34" class="q_img"><img ng-src="%%ruta+questionnaire.imagen%%"></div>
    </div>
  </div>
  <div ng-include src="answersTemplate"></div>
</div>
<div layout="column" layout-align="space-around center" class="footer_fix" ng-show="isNextButtonVisible">
  <div layout="row" class="footer_cont footer_buscar" layout-align="space-around center" ng-click="next()" ng-show="searchOrOfferView('P')">
    <div class="text_footer">SIGUIENTE</div>
    <div class="btn-buscar" ng-click="buscar()" ng-show="false">Buscar</div>
  </div>
</div>

<div layout="column" layout-align="space-around center" class="footer_fix" ng-show="searchOrOfferView('S')">
  <div layout="row" class="footer_cont footer_buscar" layout-align="space-around center" ng-click="next()">
    <div class="text_footer">SIGUIENTE</div>
  </div>
</div>
<side-bar></side-bar>