<div layout="row" layout-align="space-around center" class="barra_main">   
  <div class="regresar" ng-click="changeView('V')">
    <i class="fa fa-arrow-left"></i>
  </div>
  LABORATORIOS VIRTUALES
  <div class="menu" ng-click="toggleRight()"> 
    <i class="fa fa-reorder"></i>
  </div>
</div>
<div class="body">
  <div class="header">    
    <div class="prompt_q">
      2. Ahora, cuéntanos un poco más sobre quién eres...
    </div> 
  </div> 
  <div layout='row' layout-align="center center">
    <md-progress-circular md-mode="indeterminate" ng-show="load"></md-progress-circular>
  </div>  
  <div class="galeria">
    <a ng-click="toggleDescription($index)" ng-repeat="rol in roles" class="roles">
        <img class="slide" ng-src="%%ruta+rol.imagen%%" />
      <p>%%rol.nombre%%</p>
    </a>
  </div>
  <div layout="column" layout-align="space-around center" class="footer_fix footer_buscar" ng-show="oyb('P')">Estoy Buscando...</div>  
  <div layout="column" layout-align="space-around center" class="footer_fix footer_ofrecer" ng-show="oyb('S')">Estoy Ofreciendo...</div>

<div class="overlay" ng-hide="verDescription">
  <div class="descriptionWrapper">
    <h2>%%overlayTitle%%</h2>
    <a class="close" ng-click="toggleDescription(0)"><span>X</span></a>
    <div class="descriptionWindow">    
      <div>
        <img src="%%ruta+rol_seleccionado.imagen%%" />
      </div>
      <h3>%% rol_seleccionado.nombre %%</h3>
      <p>%% rol_seleccionado.descripcion %%</p>
    </div>
    <div class="botones">
      <div class="aceptar" ng-click="changeView('questionnaires')"><span>Aceptar</span></div>
      <div class="cancelar" ng-click="toggleDescription(0)"><span>Cancelar</span></div>
    </div>
  </div>
</div>
</div>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar layout="row" layout-align="space-around center" class="toolbar_side">  
    <div>Lab. Virtuales</div>
    <div ng-click="close()" class="md-primary">
        <i class="fa fa-close"></i>
      </div>
  </md-toolbar>
  <div layout="column" layout-align="space_around center">
    <div class="botones_barra" ng-click="menu_bar('signin')">Inicio</div>
    <div class="botones_barra" ng-click="menu_bar('personalData')">Registrate</div>      
    <div class="botones_barra" ng-click="menu_bar('signin')">Iniciar Sesión</div>            
  </div>  
</md-sidenav>  