<div layout="row" layout-align="space-around center" class="barra_main">
  <div class="regresar" ng-click="menu_bar('solutions')">
    <img ng-src="%%img_anterior%%">
    <md-tooltip>
        VOLVER
      </md-tooltip>
  </div>
  MERCATIC
  <div class="menu" ng-click="toggleRight()"> 
    <i class="fa fa-reorder"></i>
  </div>
</div> 

<div layout="row" layout-align="space-around center" class="sol_imagenes">
	<div><img class="box-img"  ng-src="%%img1%%"></div>	
	<div layout="row" layout-align ="center center" class="bubble box-img ">%%solution.nivel_afinidad | number:0%%%</div>	
	<div><img class="box-img" ng-src="%%img1%%"></div>	
</div>	

<div layout="row" layout-align="space-between center" style="
    margin-bottom: 2%;">
		<div flex="33" class="solution_text">Usted</div>   
		<div flex="33" class="solution_text">%%solution.problema_solucion.titulo%%</div>	
</div>
<div layout='row' layout-align="center center">
      <md-progress-circular md-mode="indeterminate" ng-show="load"></md-progress-circular>
    </div>  
<!-- TABS -->
<div ng-hide="load">
	<!-- <md-tabs md-dynamic-height md-border-bottom> -->  
<md-tabs md-stretch-tabs="always">
      <md-tab label="Coincidencia">
        <md-content>
        	<div ng-repeat="detalle in detail">
            <!-- Categoria -->            
        		<p class="sol_categoria">%%detalle.cuestionario%%</p>        		
            <!-- Pregunta -->            
            <p class="sol_pregunta">%%detalle.pregunta%%</p>                                   
            <div layout="row" layout-align="center center" ng-repeat="parejas in detalle.respuestas">
              <!-- Respuestas -->                
              
              <div layout="row" layout-align="center center" style="position: absolute; width: 100%; height: 50px;">
                <div class="match_bubble %%parejas.clase_color_bubble%%" layout="row" layout-align="center center">
                  %%parejas.afinidad | number:0%%%
                </div>
              </div>

              <div class="sol_respuesta %%parejas.clase_color%%" layout="column" layout-align="center center">
                <div>%%parejas.respuesta1%%</div>
              </div>              
              
              <div class="sol_respuesta %%parejas.clase_color%%" layout="column" layout-align="center center">
              <div>%%parejas.respuesta2%%</div>
              </div>
              
            </div>          		
            <md-divider ng-if="!$last"></md-divider>
        	</div>          
        </md-content>
      </md-tab>
      <md-tab label="Información">
        <md-content >        
        <div class=""><p>%%solution.problema_solucion.descripcion%%</p></div>    
          
        </md-content>
      </md-tab>
      <md-tab label="Contacto" ng-disabled="true">
        <md-content class="md-padding">                
          <p>Información de Contacto</p>
        </md-content>
      </md-tab>
</md-tabs md-swipe>
</div>
<div class="solut_foot" layout="row" layout-align="space-between center">	
    <div ng-click="anterior()" class="solut_back"><img ng-src="%%img_anterior%%"></div>		 
    <!-- <p ng-show="logged()" ng-click="guardarSolucion()">Agregar Solución</p> -->
    <!-- <img ng-show="logged()" ng-click="guardarSolucion()" class="img_box" ng-src="%%img_agregar%%">
		<img ng-click="conectar()" class="img_box" ng-src="%%img_cerrar%%">      -->
    <img ng-show="logged()" ng-click="guardarSolucion()" class="box-img" ng-src="%%img_agregar%%">
    <img ng-click="conectar()" class="box-img" ng-src="%%img_cerrar%%">

    <div ng-click="siguiente()" class="solut_next"><img ng-src="%%img_siguiente%%"></div>	
</div>					


<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar layout="row" layout-align="space-around center" class="toolbar_side">  
    <div>Lab. Virtuales</div>
    <div ng-click="close()" class="md-primary">
        <i class="fa fa-close"></i>
      </div>
  </md-toolbar>
  <div layout="column" layout-align="space_around center">
    <div class="botones_barra" ng-click="menu_bar('signin')">Inicio</div>
    <div class="botones_barra" ng-click="menu_bar('personalData')">Registrate</div>      
    <div class="botones_barra" ng-click="menu_bar('auth')">Iniciar Sesión</div>            
  </div>  
</md-sidenav>  