<div class="prompt">
<div class="prompt_q center">Edita o elimina tus preferencias para personalizar tu búsqueda...</div>
<div ng-repeat="questionnaire in questionnaires">
<div class="gray" ng-show="questionnaire.enable">	
	<div class="row">
		<div class="col-xs-offset-1 col-xs-1">
			<img ng-src="%%editar%%" ng-click="edit($index)">
		</div>
		<div class="prompt_categoria col-xs-7">
			%%questionnaire.titulo%%
		</div>
		<div class="col-xs-1">
			<img ng-src="%%borrar%%" ng-click="remove($index)">
		</div>		
	</div>	
	<div ng-repeat="question in questionnaire.preguntas">
		<div ng-show="question.enable">
			<div class="prompt_r"><div class="blanco">%%question.pregunta.enunciado%%</div>
			<div ng-repeat="option in question.pregunta.opciones">
				<h3 ng-show="option.dato || question.pregunta.dato==option.id">%%option.respuesta%%</h3>
			</div>	
			</div>	
		</div>
	</div>
</div>	
</div>	
<div class="aprobado">
	<img class="flecha_arriba" ng-click="back()"><br>
</div>
</div>