.account-info-subtitle{
    text-align: center;
    font-size: 2em;
    color: #2D3C4D;
}
.register{
	background-color: #F2F2F2;
}

.registered-business{ 
	margin-top: 2%;
	background-color: #F2F2F2;
	height: 180px;
	padding: 2% 2% 2% 2%;
	display: flex;
  flex-direction: column;
}
.registered-business .business-image{
	width: 30%;
}
.flex-container {
           display: -webkit-flex;
           display: flex;
           -webkit-flex-direction: row;
           flex-direction: row;
           -webkit-align-items: center;
           align-items: center;
           flex-wrap: wrap;
           min-width: 170px;
           
           
        }
.flex-item {

height: 120px;
width: 100%;
padding: 10px 0 0 10px;
}

.flex-item-button {

	display: flex;
	flex-direction: row-reverse;
	width: 98%;
}
.info-container{
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.info-container p{
    padding: 0;
    margin: 0 0 10px 20px;
    color: #2D3C4D;
}
.registered-business .business-name{
    font-weight: bold;
    font-size: 1.3em;
    color: #32A2D4;
}
.registered-business .remove-icon{
    width: 5%;
    height: 5%;
}
.edit-button{
	width: 30%;
}