<div class="hidden-xs hidden-sm">
    <app-header></app-header>
</div>

<div class="row topMarginHeader registerSiteBackgroundColor backgroundFillViewPort">
    <div class="col-md-4  col-md-offset-4 centerColumnNoPadding registerSiteFormBackgroundColor">
        <div class="header container-fluid">
            <a href="#/home">
                <div class="col-xs-1 registerHeaderBackIconcontainer">
                    <img class="registerHeaderBackIcon" src="./images/registerIcons/atras.png">
                </div>
                <p class="text" translate="ACCOUNT_INFO.ACCOUNT_INFO_TITLE"></p></a>
        </div>


        <form name="traderInfoForm" class="form-group form">
            <div class="row">
                <p class="col-xs-12 account-info-subtitle" translate="ACCOUNT_INFO.ACCOUNT_INFO_SUBTITLE"></p>
            </div>
            <div class="row control topMarginHeader">
                <div class="container-fluid col-xs-12">
                    <input name="firstname" placeholder="Regular Placeholder" translate
                           translate-attr-placeholder="REGISTER_USER_CONSTANTS.FIRST_NAME" class="form-control col-xs-10 businessAddressInput"
                           name="firstname" type="text" ng-model="usuario.nombres" required>

                    <i ng-show="usuario.nombres==undefined"
                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconRegisterStar"></i>
                </div>

            </div>
   <span class="error" ng-show="submitted && traderInfoForm.firstname.$error.required"
         translate="REGISTER_USER_CONSTANTS.REQUIRED_FIELD"></span>
            <div class="row control topMarginHeader">
                <div class="container-fluid col-xs-12">
                    <input placeholder="Regular Placeholder" translate
                           translate-attr-placeholder="REGISTER_USER_CONSTANTS.LAST_NAME" type="text"
                           class="form-control col-xs-10 businessAddressInput"
                           name="lastname" ng-model="usuario.apellidos" required>

                    <i ng-show="usuario.apellidos==undefined"
                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconRegisterStar"></i>
                </div>
            </div>
    <span class="error" ng-show="submitted && traderInfoForm.lastname.$error.required"
          translate="REGISTER_USER_CONSTANTS.REQUIRED_FIELD"></span>

            <div class="row control">
                <div class="col-xs-2 container-fluid">
                    <img class="confirmRegisterIcons" src="./images/registerIcons/mail.png">
                </div>
                <div class="container-fluid col-xs-10 emailTraderContainer">
                    <input input placeholder="Regular Placeholder" translate
                           translate-attr-placeholder="REGISTER_USER_CONSTANTS.EMAIL" class="form-control col-xs-10 businessAddressInput"
                           name="email"
                           type="email" ng-model="usuario.correo" required>

                    <i ng-show="usuario.correo==undefined"
                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconRegisterStar"></i>
                </div>
            </div>
     <span class="error" ng-show="submitted && traderInfoForm.email.$error.required"
           translate="REGISTER_USER_CONSTANTS.REQUIRED_FIELD"></span>
     <span class="error" ng-show="submitted && traderInfoForm.email.$error.email"
           translate="REGISTER_USER_CONSTANTS.EMAIL_VALIDATION"></span>

            <div class="row control topMarginHeader">
                <div class="container-fluid col-xs-12">
                    <input input placeholder="Regular Placeholder" translate
                           translate-attr-placeholder="REGISTER_USER_CONSTANTS.PASSWORD" class="form-control col-xs-10 businessAddressInput"
                           name="password" type="password" ng-model="usuario.password" required>

                    <i ng-show="usuario.password==undefined"
                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconRegisterStar"></i>
                </div>
            </div>
   <span class="error" ng-show="submitted && traderInfoForm.password.$error.required"
         translate="REGISTER_USER_CONSTANTS.REQUIRED_FIELD"></span>

            <div class="row control topMarginHeader">
                <div class="container-fluid col-xs-12">
                    <input input placeholder="Regular Placeholder" translate
                           translate-attr-placeholder="REGISTER_USER_CONSTANTS.OLD_PASSWORD" class="form-control col-xs-10 businessAddressInput"
                           name="oldpassword" type="password" ng-model="usuario.oldpassword" required>

                    <i ng-show="usuario.oldpassword==undefined"
                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconRegisterStar"></i>
                </div>
            </div>
   <span class="error" ng-show="submitted && traderInfoForm.oldpassword.$error.required"
         translate="REGISTER_USER_CONSTANTS.REQUIRED_FIELD"></span>

            <div class="row control topMarginHeader">
                <div class="container-fluid col-xs-12">
                    <input input placeholder="Regular Placeholder" translate
                           translate-attr-placeholder="REGISTER_USER_CONSTANTS.NEW_PASSWORD" class="form-control col-xs-10 businessAddressInput"
                           name="newpassword" type="password" ng-model="usuario.newpassword" required>

                    <i ng-show="usuario.newpassword==undefined"
                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconRegisterStar"></i>
                </div>
            </div>
   <span class="error" ng-show="submitted && traderInfoForm.newpassword.$error.required"
         translate="REGISTER_USER_CONSTANTS.REQUIRED_FIELD"></span>

            <div class="row control topMarginHeader">
                <div class="container-fluid col-xs-12">
                    <input input placeholder="Regular Placeholder" translate
                           translate-attr-placeholder="REGISTER_USER_CONSTANTS.CONFIRM_NEW_PASSWORD" class="form-control col-xs-10 businessAddressInput"
                           name="confirmnewpassword" type="password" ng-model="usuario.confirmnewpassword" required>

                    <i ng-show="usuario.confirmnewpassword==undefined"
                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconRegisterStar"></i>
                </div>
            </div>
   <span class="error" ng-show="submitted && traderInfoForm.newpassword.$error.required"
         translate="REGISTER_USER_CONSTANTS.REQUIRED_FIELD"></span>


            <div class="registerTrader-button NextButtonRegister topMarginElements">
                <button class="button" ng-click="save()"
                        translate="ACCOUNT_INFO.SAVE_BUTTON"></button>
            </div>

            <div class="registerTraderLineSeparator row col-xs-12"></div>
            <div class="row">
            <p class="col-xs-12 account-info-subtitle" translate="ACCOUNT_INFO.REGISTERED_BUSINESS"></p>
        </div>

        <div ng-repeat="sitio in usuario.sitios">
        <div class="row registered-business">
        <div class="col-xs-4 image">
        <img class="img-responsive" ng-src="%%(sitio.fotos | filter:{tipo:'P'}:true)[0].URLfoto%%"/>
        </div>
        <div>
              <h3>%%sitio.nombre%%</h3>    
              <p>%%sitio.ubicacionlocal%%</p>    
              <p>%%sitio.telefono%%</p>    
        </div>      
        </div>
        </form>
        
        

    </div>
</div>