<div class="col-md-4  col-md-offset-4 centerColumnNoPadding registerSiteFormBackgroundColor">
    <div class="header container-fluid register-trader-title">
        <label class="text" translate="DELETE_ACCOUNT.TITLE"></label>
    </div>
    <div>
        <div class="text-center">
            <label class="topMarginElements register-success-padding"
                   translate="DELETE_ACCOUNT.MESSAGE"></label>
        </div>
        <div class="next-button NextButtonRegister topMarginElements">
            <button class="button edit-section-button" ng-click="closeDialog()"
                    translate="DELETE_ACCOUNT.CANCEL"></button>
            <button class="button edit-section-button cancel-button" ng-click="deleteAccount()"
                    translate="DELETE_ACCOUNT.CONTINUE"></button>
        </div>
    </div>
</div>