<div>
  
<div>Nombre del Comercio o Institución: <input type="text" ng-model="usuario.nombre_institucion"/></div>
<div>Dirección: <input type="text" ng-model="usuario.direccion_institucion" /></div>
<div>Municipio: <input type="text" ng-model="usuario.ubicacion_institucion" /></div>
<div>Teléfono: <input type="text" ng-model="usuario.telefono_institucion" /></div>
<div>Correo Electrónico: <input type="text" ng-model="usuario.correo_institucion"/></div>
<div>NIT: <input type="text" ng-model="usuario.NIT"/></div>
<div ng-click="changeView('profileSummary')">Siguiente</div>
<div ng-click="changeView('personalData')">Anterior </div>
</div>

