<div class="personalData">
  <div>
    <label for="name"><span>Nombres:</span></label>
    <input id="name" type="text" ng-model="usuario.nombres" />
  </div>
  <div>
    <label for="lastName1"><span>Apellido 1:</span></label>
    <input id="lastName1" type="text" ng-model="usuario.apellido1" />
  </div>
  <div>
    <label for="lastName2"><span>Apellido 2:</span></label>
    <input id="lastName2" type="text" ng-model="usuario.apellido2" />
  </div>
  <div>
    <label for="phone"><span>Número de documento:</span></label>
    <input id="phone" type="text" ng-model="usuario.numero_documento" /></div>
  <div>
    <label for="email"><span>Correo Electrónico:</span></label>
    <input id="email" type="text" ng-model="usuario.correo" />
  </div>
</div>
<div class="aprobado">
  <div class="siguiente" ng-click="changeView('businessData')"><span><span class="icon-check"></span></span></div>
  <div class="anterior" ng-click="changeView('roles')"><span><span class="icon-arrow-back"></span></span></div>
</div>