<div>

<div>Nombres: <input type="text" ng-model="usuario.nombres" /></div>
<div>Apellido 1: <input type="text" ng-model="usuario.apellido1" /></div>
<div>Apellido 2: <input type="text" ng-model="usuario.apellido2" /></div>
<div>Número de documento: <input type="text" ng-model="usuario.numero_documento" /></div>
<div>Correo Electrónico: <input type="text" ng-model="usuario.correo" /></div>
<div ng-click="changeView('businessData')">Siguiente</div>
<div ng-click="changeView('roles')">Anterior </div>
</div>