FELICITACIONES! TU REGISTRO
HA SIDO COMPLETADO

<div>

<div>Nombres: %%usuario.nombres%% </div>
<div>Apellido 1: %%usuario.apellido1%% </div>
<div>Apellido 2: %%usuario.apellido2%% </div>
<div>Número de documento: %%usuario.numero_documento%% </div>
<div>Correo Electrónico: %%usuario.correo%% </div>

</div>
<div>
<div>Nombre del Comercio o Institución: %%usuario.nombre_institucion%%</div>
<div>Dirección: %%usuario.direccion_institucion%% </div>
<div>Municipio: %%usuario.ubicacion_institucion%% </div>
<div>Teléfono: %%usuario.telefono_institucion%% </div>
<div>Correo Electrónico: %%usuario.correo_institucion%%</div>
<div>NIT: %%usuario.NIT%%</div>
</div>

Redes Sociales:

<table>
<tr ng-repeat="usuariored in usuarioredes">

<td> 
		
	%%getRedById(usuariored.red_social).nombre%%
		

</td>
<td>
	%%usuariored.url%% 
	
</td>
</table>

<div class="aprobado">
  <div class="siguiente" ng-click="save(usuario, usuarioredes)"><span>Salvar</span></div>
  <div class="anterior" ng-click="changeView('roles')"><span>A</span></div>
</div>
