<h3>
  FELICITACIONES! TU REGISTRO HA SIDO COMPLETADO
</h3>

<div class="summaryBusiness">
  <div class="wrapperSummaryBusiness">
    <div><strong>%%usuario.nombre_institucion%%</strong></div>
    <div><span class="icon-location2"></span>%%usuario.direccion_institucion%%, %%usuario.ubicacion_institucion%%</div>
    <div><span class="icon-phone"></span>%%usuario.telefono_institucion%% </div>
    <div><span class="icon-mail"></span>%%usuario.correo_institucion%%</div>
    <div>NIT: %%usuario.NIT%%</div>
    <div ng-repeat="usuariored in usuarioredes">
      <span>%%getRedById(usuariored.red_social).nombre%%</span>
      <span>%%usuariored.url%%</span>
    </div>
  </div>
</div>

<div class="summaryUser">
  <div><span>NOMBRE:</span> %%usuario.nombres%% </div>
  <div><span>APELLIDO:</span> %%usuario.apellido1%% %%usuario.apellido2%% </div>
  <div><span>DOCUMENTO:</span> %%usuario.numero_documento%% </div>
  <div><span>CORREO ELECTRÓNICO:</span><br>%%usuario.correo%% </div>
</div>


<div class="aprobado">
  <!-- <div class="siguiente" ng-click="changeView('profileDescription/'+usuario.id)"><span><span class="icon-check"></span></span></div> -->
  <div class="siguiente" ng-click="changeView('signin)"><span><span class="icon-check"></span></span></div>
  <div class="anterior" ng-click="changeView('businessData')">
    <span>
      <span class="icon-arrow-back"></span>
    </span>
  </div>
</div>
