<div layout="row" layout-align="space-around center" class="barra_main">   
  <div class="regresar" ng-click="changeView('V')">
    <!-- <i class="fa fa-arrow-left"></i> -->
  </div>
  MERCATIC
  <div class="menu" ng-click="toggleRight()"> 
    
    <!-- <i class="fa fa-reorder"></i> -->
  </div>
</div>
<div class="prompt_q" style="text-align: center;">
  FELICITACIONES! TU REGISTRO HA SIDO COMPLETADO
</div>

<div class="summaryBusiness">
  <div class="wrapperSummaryBusiness">    
    <div><span>Nombres:</span> %%usuario.nombres%%</div>
    <div><span>Apellidos:</span> %%usuario.apellidos%%</div>
    <div><span class="icon-phone"></span>%%usuario.telefono%% </div>
    <div><span>Correo Electrónico:</span>%%usuario.correo%%</div>
    <div ng-repeat="usuariored in usuarioredes">
      <span>%%getRedById(usuariored.red_social).nombre%%</span>
      <span>%%usuariored.url%%</span>
    </div>
  </div>
</div>

<div layout="column" layout-align="space-around center" class="footer_fix">    
  <div layout="row" class="footer_cont footer_buscar" layout-align="space-around center"  ng-click="changeView('profileMain')">
    <div class="text_footer">IR AL PERFIL</div>      
  </div>
</div>  
  <!-- <div class="anterior" ng-click="changeView('businessData')">
    <span>
      <span class="icon-arrow-back"></span>
    </span>
  </div> -->
</div>
