<h3> Agrega tus redes sociales  </h3>

<table class="SocialNetwork">
<tr ng-repeat="usuariored in usuarioredes">
	<td>
		<div ng-model="bGuardar[$index]" ng-show="bGuardar[$index]">
			<select ng-options="red.id as red.nombre for red in redes" ng-model="usuariored.red_social"></select>
		</div>
		<div ng-model="bEditar[$index]" ng-show="!bGuardar[$index]"> %%getRedById(usuariored.red_social).nombre%% </select>
		</div>

	</td>
	<td>
		<div ng-show="!bGuardar[$index]"> <a ng-href="%%usuariored.url%%" target="_blank">URL</a> </div>
		<input type="text" ng-model="usuariored.url" ng-show="bGuardar[$index]"/>
	</td>
	<td>
		<button ng-model="bEditar[$index]" ng-show="!bGuardar[$index]" ng-click="editar($index)">Editar</button>
		<button ng-show="!bGuardar[$index]" ng-click="borrar($index)">Borrar</button>
		<button ng-model="bGuardar[$index]" ng-show="bGuardar[$index]" ng-click="guardar($index)">Guardar</button>
		<!--<button ng-show="bGuardar[$index]" ng-click="cancelar($index)">Cancelar</button>-->
	</td>
</table>

<div class="addContainer" ng-show="!bAgregar" ng-click="bAgregar=true">
	<span class="addLetter">Adicionar</span>
	<div class="addPlus"><span>+</span></div>
</div>

<div ng-model="bAgregar" ng-show="bAgregar" class="addContainerClick">
	<div class="addContainer deshabilitado" ng-show="bAgregar" ng-click="bAgregar=false">
		<span class="addLetter">Adicionar</span>
		<div class="addPlus"><span>+</span></div>
	</div>
	<div class="addContainerCentrar">
		<select ng-options="red.id as red.nombre for red in redes" ng-model="nuevared.red_social"></select>
		<input type="text" ng-model="nuevared.url" ng-show="bAgregar" placeholder="Ingrese la URL"/>
		<button ng-show="bGuardar" ng-click="crear()">OK</button>
	</div>
</div>

<div class="aprobado">
  <div class="siguiente" ng-click="changeView('profileSummary')"><span><span class="icon-check"></span></span></div>
  <div class="anterior" ng-click="changeView('businessData')"><span><span class="icon-arrow-back"></span></span></div>
</div>

