<h3> Redes Sociales </h3>

<table>
<tr ng-repeat="usuariored in usuarioredes">

<td> 
	<div ng-model="bGuardar[$index]" ng-show="bGuardar[$index]">
		<select ng-options="red.id as red.nombre for red in redes" ng-model="usuariored.red_social"></select>
	</div>	
	<div ng-model="bEditar[$index]" ng-show="!bGuardar[$index]"> {{getRedById(usuariored.red_social).nombre}} </select>
	</div>	

</td>
<td>
	<div ng-show="!bGuardar[$index]">{{usuariored.url}} </div>
	<input type="text" ng-model="usuariored.url" ng-show="bGuardar[$index]"/>
</td>
<td><button ng-model="bEditar[$index]" ng-show="!bGuardar[$index]" ng-click="editar($index)">Editar</button>
<button ng-show="!bGuardar[$index]" ng-click="borrar($index)">Borrar</button>
<button ng-model="bGuardar[$index]" ng-show="bGuardar[$index]" ng-click="guardar($index)">Guardar</button>
<!--<button ng-show="bGuardar[$index]" ng-click="cancelar($index)">Cancelar</button>-->
</td>
</table>

	<div ng-model="bAgregar" ng-show="bAgregar">
		<select ng-options="red.id as red.nombre for red in redes" ng-model="nuevared.red_social"></select>
	
	<input type="text" ng-model="nuevared.url" ng-show="bAgregar"/>
	<button ng-show="bGuardar" ng-click="crear()">Crear</button>
	
	</div>
	<button ng-show="!bAgregar" ng-click="bAgregar=true">Adicionar</button>
	
