.mobile {
    display: none;
}

.stepsContainerMobileMap{
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: column wrap;
}

.searchInputSectionMobileMap{
    width: 90%;
    height: auto;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    flex-flow: row wrap;
}

.inputContainerMobileMap {
    width: 37%;
    height: auto;

    display: flex;
    flex-flow: column wrap;
}

.textContainerMobileMap{
    width: 5%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.textSearchMobileMap{
    color: #285453;
    font-size: 1.5em;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;

}

.searchButtonContainerMobileMap{
    width: 5%;
    margin-left: 5%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.categorySectionMobileMap{
    width: 80%;
    height: 10px;
    margin: 2% 10% 2% 10%;


    display: flex;
    flex-flow: row wrap;
}

@media screen and (max-width: 1000px) {
    .desktopLayout {
        display: none;
    }

    .mobile {
        display: flex;
    }
}