/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete input{
  font-size: 1.2em;
  width: 95%;
  padding:0.4em;
}

.autocomplete ul{
  position: absolute;
  left: 0.1em;
  top: 1.8em;
  width: 93%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 93%;
  padding:-5em;
  position: relative;
  left: -2em;
  background-color: #fff;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}

/*.main{
  display: inline-block;
  padding: 2em;
  width: 30em;
  margin-bottom: 5em;
}
*/