/*Contenedor*/
.fixedTop {position: fixed; top:0px; width: 100%}
.content {margin: 52px 0 0 0;}
html {font-family: 'Open Sans', sans-serif;font-weight: 400;}

header { background: #E0DFD7; height: 52px; display: block; border-bottom: 1px solid #9B9A91;}

header img.logo { margin: 12px 0 0px 16px; height: 32px;}

/*Boton Menu Mobile*/
header a.MobileMenu { margin:12px 12px 0 0; float: right; background-image: url("../images/RegistroIconMenu.png");background-size: 42px 35px;
    background-repeat: no-repeat; border-radius: 5px; cursor: pointer; display: block; width: 42px; height: 35px; text-align: center; vertical-align: middle; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
/*header a.MobileMenu:hover {background: #e2202e !important;}*/
header a.MobileMenu span {color:white; font-size: 22pt; position: relative; top: 2px;}

/*MobileMenu*/
nav.MobileMenu { z-index: 9999; display: block; width: 100%; background: #9B9A91; margin: 4px 0 0 0;}
nav.MobileMenu ul {z-index: 9999; list-style: none; margin: 0; padding: 0;}
nav.MobileMenu ul a{z-index: 9999; color: #E0DFD7; width: 100%; height: 32px; font-size: 11pt; border-bottom: 1px solid #E0DFD7; text-decoration: none; display: block;}
nav.MobileMenu ul a li {z-index: 9999; padding: 9px 0 0 16px;}
nav.MobileMenu ul a span {z-index: 9999; float: right; padding:0  16px 0 0;}
nav.MobileMenu div {z-index: 9999; background: #E0DFD7; height: 200px;}


/*BreadCrumbs*/
div.breadCrumbs {margin: 0 0 0 16px; z-index: -1;}

.main { margin: 52px 0 0 0; 
height: 400px;
}

/* Pasos */
div.numero {background: #e2202e; height: 80px; border-radius: 40px; color: #fff; display: block; font-size: 30pt; float: left; margin: 16px 0 16px 16px; text-align: center; vertical-align: middle; width: 80px; -webkit-border-radius: 40px; -moz-border-radius: 40px; }

div.numero span { position: relative; top: 17px; }

div.tituloPaso {color: #9B9A91; display: block; font-size: 18pt; float: left; text-transform: uppercase; margin: 33px 0 0 16px; width: 70%; z-index: -1;}

/*Comunes*/
body h1 {font-size: 11pt;color: #e2202e; text-transform: uppercase; padding: 16px 0 16px 16px; margin: 0;}

/*Galeria*/
.galeria {width: 100%; clear: both; text-align: center; margin: 1px 0 6px;}
a.roles {width: 49.5%; display: inline-block; border-top: 2px solid #E0DFD7; border-right: 2px solid #E0DFD7; border-left: 0px; border-bottom: 0px; cursor: pointer;}
a.roles:nth-child(even)  {border-left: 0px !important; border-right: 0px !important;}
/*a.roles:hover { background: #e2202e;}*/
.galeria div { background: #C3DBCC; border: 2px solid #E0DFD7; border-radius: 50%; margin: 16px auto; height: 112px; width: 112px; }
.galeria div:hover { background: #E0DFD7; }
.galeria div img { max-width: 100%;}
.galeria p {color:#58595B; font-size: 12pt;}

/*footer*/
div.MobileFooter { background: #E0DFD7; height: 100%; width:100%; position: absolute; top:318px;}
footer {display: none;}

/*overlay*/
div.overlay{ background: rgba(88,89,91,0.85); height: 100%; width:100%; position: absolute; top:0; text-align: center;}
a.close {background: #58595B; height: 24px; border-radius: 12px; color: #E0DFD7; display: block; width: 24px; -webkit-border-radius: 12px; -moz-border-radius: 12px;cursor: pointer;text-align: center; float: right; margin: 12px 12px 0 0;}
a.close span {font-size: 18px;margin: 0; display: block; font-weight: 700; }
div.descriptionWrapper h2 { color: #59585B; display: inline-block; float: left; font-size: 12pt; margin: 12px 0 12px 12px; text-align: left; text-transform: uppercase; width: 75%; }
div.descriptionWrapper { -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #E0DFD7; border-radius: 5px; display: block; margin: 20px auto; width: 90%;}
div.descriptionWindow { -moz-border-radius: 5px; -webkit-border-radius: 5px; background: white; border-radius: 5px; clear: both; display: block; margin: 20px auto; width: 95%; padding: 12px 0 0 0; height: 100%;}
div.descriptionWindow div{background: white; border: 2px solid #E0DFD7; border-radius: 50%; margin: 10px auto; height: 112px; width: 112px;}
div.descriptionWindow div img{ max-width: 100%;}
div.descriptionWindow h3 {font-size: 12pt; color: #e2202e;}
div.descriptionWindow p {color:#58595B; font-size: 12pt; margin-bottom: }
div.descriptionWrapper .botones {display: inline-block; width: 95%; height: 32px; margin: 0 0 10px 0;}
div.descriptionWrapper div.cancelar {-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; width: 96px; height: 32px; background: #e2202e; float: left; cursor: pointer; }
div.descriptionWrapper div.aceptar {-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; width: 96px; height: 32px; background: #37b34a; float: right; cursor: pointer;}
div.cancelar span, div.aceptar span{ margin: 4px 0 0 0; display: block; font-weight: 700; color: white;}

/*personalData*/
div.personalData {width: 100%; display: block; padding: 10px 0;}
div.personalData div {width: 93%; margin: 10px auto;}

/*Form*/
label {width: 35%; display: inline-block;color:#58595B; font-weight: 300; }
/*
.personalData div:nth-child(4) span, .personalData div:nth-child(5) span{position: relative; top: 8px; display: block;}
input[type="text"], input[type="email"], textarea, select{ border: 1px solid #CCC; color: #888; height: 20px; line-height:15px; margin:7px 0; outline: 0 none; padding: 5px 0px 5px 5px; width: 60%; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
select { height: 35px; width: 80%; margin: 0 auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 12pt;}
.deshabilitado { cursor: auto;}
*/  /*Siguente y Anterior*/
  div.aprobado { background: #E0DFD7; width: 100%; display: block; height: 70px;}
  div.aprobado div {margin: 10px 20px;}

  div.aprobado div.siguiente.disabled  {background: #BDBDBD;}
  div.aprobado div.siguiente.enabled  {background: #37b34a;}
  div.aprobado div.siguiente {float: right; width: 50px; height:50px; border-radius: 25px; -webkit-border-radius: 25px; -moz-border-radius: 25px; background: #37b34a; text-align: center; cursor: pointer;}
  div.aprobado div.anterior {float:left; width: 50px; height:50px; border-radius: 25px; -webkit-border-radius: 25px; -moz-border-radius: 25px; text-align: center; background: #58595B; cursor: pointer;}
  
  div.siguiente span, div.anterior span{ margin: 5px 0 0 0; display: block; color:#E0DFD7; font-size: 1.6em;}
  div.anterior span {margin: 2px 0 0 0;}
  /*Form BusinessData*/
  .businessData div {margin: 10px 0;}
  .businessData div:nth-child(1) input { vertical-align: top; margin-top: 20px;}
  .businessData div input, .businessData div span { vertical-align: middle; }

/*Social Network*/
div.addContainer { width: 95%; background: #E0DFD7;  margin: 10px auto; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; height: 40px; border: 1px #9B9A91 solid; cursor: pointer;}
div.addContainer span.addLetter { display: block; width: 75%; float: left; text-align: center; padding: 9px 0 0 0; text-transform: uppercase;}
div.addContainer div.addPlus { display: block; width: 20%; float: right; border-left: 1px #9B9A91 solid; height: 97%; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; font-weight: 700; vertical-align: top;}
div.addContainer div.addPlus span {display: block; width: 100%; height: 100%;  font-size: 25pt; text-align: center;  color: #e2202e; margin: -4px 0 0 0;}
div.addContainerClick .addContainerCentrar {width: 95%; margin: 10px auto;}
div.addContainerClick select {width: 30%; display: inline-block;}
div.addContainerClick input {width: 50%; display: inline-block;}
div.addContainerClick button {width: 15%; display: inline-block;}

/*Summary*/
.summaryBusiness {width: 90%;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #e0dfd7; border: 1px solid #58595b; margin: 0 auto;-webkit-box-shadow: 3px 3px 10px 3px rgba(88,89,91,1); -moz-box-shadow: 3px 3px 10px 3px rgba(88,89,91,1); box-shadow: 3px 3px 10px 3px rgba(88,89,91,1);}
.wrapperSummaryBusiness {margin: 16px;}
.wrapperSummaryBusiness span { margin-right: 16px; font-size: 12px;}
.summaryUser div {margin: 0 auto; width: 95%; border-bottom: 1px solid #58595b; vertical-align: top; padding: 24px 0 24px 0;}
.summaryUser div:last-child {margin-bottom: 8px;}
