/*Contenedor*/
.fixedTop {position: fixed; top:0px; width: 100%}
.content {margin: 52px 0 0 0;}

header { background: #E0DFD7; height: 52px; display: block; border-bottom: 1px solid #9B9A91;}

header img.logo { margin: 12px 0 0px 16px; height: 32px;}

/*Boton Menu Mobile*/
header a.MobileMenu { margin:12px 12px 0 0; float: right; background: #9B9A91; border-radius: 5px; cursor: pointer; display: block; width: 42px; height: 35px; text-align: center; vertical-align: middle; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
header a.MobileMenu:hover {background: #e2202e !important;}
header a.MobileMenu span {color:white; font-size: 22pt; position: relative; top: 2px;}

/*MobileMenu*/
nav.MobileMenu { display: block; width: 100%; background: #9B9A91; margin: 4px 0 0 0;}
nav.MobileMenu ul {list-style: none; margin: 0; padding: 0;}
nav.MobileMenu ul a{color: #E0DFD7; width: 100%; height: 32px; font-size: 11pt; border-bottom: 1px solid #E0DFD7; text-decoration: none; display: block;}
nav.MobileMenu ul a li {padding: 9px 0 0 16px;}
nav.MobileMenu ul a span {float: right; padding:0  16px 0 0;}

/*BreadCrumbs*/
div.breadCrumbs {margin: 0 0 0 16px; z-index: -1;}

.main { margin: 52px 0 0 0; }

/* Pasos */
div.numero {background: #e2202e; height: 80px; border-radius: 40px; color: #fff; display: block; font-size: 30pt; float: left; margin: 16px 0 16px 16px; text-align: center; vertical-align: middle; width: 80px; -webkit-border-radius: 40px; -moz-border-radius: 40px; }

div.numero span { position: relative; top: 17px; }

div.tituloPaso {color: #9B9A91; display: block; font-size: 18pt; float: left; text-transform: uppercase; margin: 33px 0 0 16px; width: 70%; z-index: -1;}

/*Comunes*/
body h1 {font-size: 11pt;color: #e2202e; text-transform: uppercase; padding: 16px 0 16px 16px; margin: 0;}

/*Galeria*/
.galeria {width: 100%; clear: both; text-align: center;}
a.roles {width: 49.5%; display: inline-block; border-top: 2px solid #E0DFD7; border-right: 2px solid #E0DFD7; border-left: 0px; border-bottom: 0px;}
a.roles:nth-child(even)  {border-left: 0px !important; border-right: 0px !important;}
a.roles:hover { background: #e2202e;}
.galeria div { background: white; border: 2px solid #E0DFD7; border-radius: 50%; margin: 16px auto; height: 224px; width: 224px; }
.galeria div:hover { background: #E0DFD7; }

/*footer*/
/*body, html { height: 100%; }*/
div.MobileFooter { background: #E0DFD7; height: 100%; width:100%; position: absolute; top:118px;}
footer {display: none;}

/*overlay*/
div.overlay{
  background: rgba(88,89,91,0.85); height: 100%; width:100%; position: absolute; top:0;
}
a.close {background: #58595B; height: 40px; border-radius: 20px; color: #E0DFD7; display: block; font-size: 23px; text-align: center; vertical-align: middle; width: 40px; -webkit-border-radius: 20px; -moz-border-radius: 20px;cursor: pointer;}