@media all{

	/*diferent pages*/
	.main{
		width: 100%;
		height: 100%;		
		background-color: #f2f2f2;
	}
	.serv_body{
	  height: 80%; 
	}
	.prompt {
	    padding-left: 5%;
	    padding-right: 5%;
	    height: 80%;	    
	    background-color: #F2F2F2;	    
	}
	.bc_content{
	  height: 100%;
	  overflow: visible;
	 }
	.prompt_q {	  
	  color: #4F4D59; 	   
	  text-align: justify;
	  padding: 2% 2% 2% 2%;
	}


	/*Modificaciones para pantalla SIGNIN*/

	.btn-success {
	  background-color: #548880;
	  border-color: #548880;
	  text-align: left;
	}
	.btn-success:hover, .btn-success:active{
	  background-color: #549080;
	  border-color: #549080;
	  text-align: left;
	}

	.btn-danger {
	  background-color: #80392C;
	  border-color: #80392C;
	  text-align: left;
	}

	.btn-danger:hover, .btn-danger:active {
	  background-color: #90392C;
	  border-color: #90392C;
	  text-align: left;
	}
	

	/*action page*/
	.barra_main{
		height: 10%;
		background-color: white;
		color: #154064; "/*azul*/
		font-weight: bolder;
		box-shadow: 0px 0px 5px 2px rgba(1, 1, 1, 0.6);		
	}
	.regresar {
		text-align: center;
		width: 10%;

	}
	.menu{
		text-align: center;
		width: 10%;
	}
	.toolbar_side{
		background-color: #f2f2f2;
		color: #154064;
		height: 10%;
	}
	.botones_barra {
		height: 100%;
		text-align: center;		
	}

	md-sidenav{
		min-width: 0px;
		max-width: 100%;
		width: 50%;
	}
	md-toolbar{
		font-size: inherit;
		min-height: 0px;
	}

	.serv_button{	  
	  height: 115px;	  
	}

	.btn_buscar {  
	  color: #80392C;
  	  text-align: center;
  	  font-weight: bold;
	}

	.btn_ofrecer {  
  		color: #548880;
  		text-align: center;
  		font-weight: bold;
	}


	/*rol page*/

	.body{
	  height: 80%;
	  background-color: #F2F2F2;  
	}
	.header{
		height: 20%;
		padding: 4% 2% 0px 2%;
	}
	a.roles {
	  border: none;
	  width: 45%;
	}
	.galeria {
	  background-color: #F2F2F2; 
	}
	.galeria div{
	  padding-top: 5px;
	  width: 95px; 
	  height: 95px;
	  margin: 5px auto
	}
	.bar_bottom_b{
	  padding-top: 5px;
	  padding-left: 15px;
	  padding-right: 15px;
	  color: #FFFFFF;
	  background-color: #80392C;
	  height: 60px;
	}
	.bar_bottom_o{
	  padding-top: 5px;
	  padding-left: 15px;
	  padding-right: 15px;
	  color: #FFFFFF;
	  background-color: #548880;
	  height: 60px;
	}
	.prompt_categoria {  
	  padding-left: 30px;
	  padding-right: 30px;
	  color: #4F4D59;  
	  font-size: 16px;
	  text-align: center;  
	}
	.gray {
	  background-color: #E0DFD7;
	  border-radius: 10px;
	}
	.blanco {
	  color: white;
	}
	md-tabs md-ink-bar {
	    color: rgb(6,158,82);
	    background: rgb(6,158,82);
	}

	md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
	    color: rgb(6,158,82);
	}
	.footer_fix {
	  position: fixed;
	  bottom: 0;
	  width: 100%;	  
	  padding: 1% 2% 1% 2%;
	  height: 10%;
	  box-shadow: 0 0 5px 2px rgba(1, 1, 1, 0.6);
	}
	.footer_buscar {
	  color: #FFFFFF;
  	  background-color: #80392C;
	}

	.footer_ofrecer {	  
	  color: #FFFFFF;
  	  background-color: #548880;
	}

	.galeria p {
	  color:#58595B; 
	}


	/*rol-overlay page*/

	div.overlay { 
		background: rgba(88,89,91,0.85); 
		height: 100%; 
		width:100%; 
		position: absolute; 
		top:0; 
		text-align: center;
	}
	a.close {
		background: #58595B; 
		height: 24px; 
		border-radius: 12px; 
		color: #E0DFD7; 
		display: block; 
		width: 24px; 
		-webkit-border-radius: 12px; 
		-moz-border-radius: 12px;
		cursor: pointer;
		text-align: center; 
		float: right; 
		margin: 12px 12px 0 0;
	}
	a.close span {
		font-size: 18px;
		margin: 0; 
		display: block; 
		font-weight: 700; 
	}
	div.descriptionWrapper { 
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px; 
		background: #E0DFD7; 
		border-radius: 5px; 
		display: block; 
		margin: 20px auto; 
		width: 90%;
	}
	div.descriptionWrapper h2 { 
		color: #59585B; 
		display: inline-block; 
		float: left; 
		margin: 12px 0 12px 12px; 
		text-align: left; 
		text-transform: uppercase; 
		width: 75%; 
	}
	div.descriptionWindow { 
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px; 
		background: white; 
		border-radius: 5px; 
		clear: both; 
		display: block; 
		width: 95%; 
		margin-left: 2.5%;
	}
	div.descriptionWindow div {
		background: white; 
		/*border: 2px solid #E0DFD7; */
		border-radius: 50%; 
		margin: 5% auto; 
		height: 112px; 
		width: 112px;
	}
	div.descriptionWindow div img { 
		max-width: 100%;
	}
	div.descriptionWindow h3 { 
		color: #e2202e;
	}
	div.descriptionWindow p {
		color:#58595B; 
	}
	.descrip_img{
		padding: 5% 5% 5% 5%;
	}
	div.descriptionWrapper .botones {
		display: inline-block; 
		width: 95%; 
		max-height: 50px; 
		margin: 0 0 5% 0;
	}
	div.descriptionWrapper div.cancelar {
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px; 
		border-radius: 5px; 
		width: 25%;  
		background: #e2202e; 
		float: left; 
		cursor: pointer; 
	}
	div.descriptionWrapper div.aceptar {
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px; 
		border-radius: 5px; 
		width: 25%; 
		background: #37b34a; 
		float: right; 
		cursor: pointer;
	}
	div.cancelar span, div.aceptar span {
		margin: 4px 0 0 0; 
		display: block;  
		color: white;
	}


}



/*Dispositivos Pequeños*/
@media (max-width: 480px) and (orientation: portrait){
	
	/*signin page*/
	.fondo{
		width: 100%;
		height: 100%;
		background-image: url("../images/Fondo/Fondo_Inicio2.png");
	    background-repeat: no-repeat;
	    background-position: center;			
	}
	.img-logo {		
		padding-left: 25%;
		padding-right: 25%;
		width: 100%
	}
	.form-signin {
    	max-width: 90%;
	}
	.botones_inicio {
		margin-top: 40%;
	}

	/*rol page*/
	.galeria{
	 	margin-top: 10%;
	}


	div.descriptionWrapper h2, div.descriptionWindow h3,
	div.descriptionWindow p, div.cancelar span, div.aceptar span
	{ 
		font-size: medium;
	}

	/*rol-overlay page*/
	div.descriptionWrapper { 
		
	}



}

@media (max-width: 480px) and (orientation: landscape){
	
	.main{
		height: 100%;	
	}

	/*signin page*/
	.fondo{
		width: 100%;
		height: 100%;
		background-image: url("../images/Fondo/Fondo_Inicio2.png");
	    background-repeat: no-repeat;
	    background-position: center;			
	}
	.img-logo {		
		padding-left: 35%;
		padding-right: 35%;
		width: 100%
	}
	.form-signin {
    	max-width: 70%;
	}
	.botones_inicio {
		margin-top: 5%;
	}
	
	/*rol page*/
	.galeria{
	 	margin-bottom: 5%;
	 	margin-top: 5%
	}
	div.descriptionWrapper h2, div.descriptionWindow h3,
	div.descriptionWindow p, div.cancelar span, div.aceptar span
	{ 
		font-size: medium;
	}


	/*rol-overlay page*/
	div.descriptionWrapper { 
		margin: 20px auto; 
		width: 90%;
		height: 90%;
		padding-bottom: 3%;
	}
	div.descriptionWindow {  
		margin: 20px auto;  
		height: 70%;
	}

	/*questionnarie page*/
	.prompt {
	    height: 10	0%;	        
	}


}


/*Dispositivos Medios*/
@media (min-width: 481px) and (max-width: 800px) and (orientation: portrait){

	/*signin page*/
	.fondo{
		width: 100%;
		height: 100%;
		background-image: url("../images/Fondo/Fondo_media.png");
	    background-repeat: no-repeat;
	    background-position: center;			
	}
	.img-logo {		
		padding-left: 25%;
		padding-right: 25%;
		width: 100%
	}
	.form-signin {
    	max-width: 60%;
	}
	.botones_inicio {
		margin-top: 40%;
	}


	/*action questionnaire page*/
	 .barra_main, .botones_barra, .prompt_q, .toolbar_side,
	 .action_text, .galeria p, .footer_fix{
	 	font-size: x-large;
	 }

	 .circle p{
	 	    font-size: small;
	 }

	div.descriptionWrapper h2, div.descriptionWindow h3,
	div.descriptionWindow p, div.cancelar span, 
	div.aceptar span{
	 	font-size: x-large;
	}

 	/*rol page*/
	 .galeria{
	 	margin-top: 20%;
	 }

	
}

@media (min-width: 481px) and (max-width: 800px) and (orientation: landscape){

	/*signin page*/
	.fondo{
		width: 100%;
		height: 100%;
		background-image: url("../images/Fondo/Fondo_media.png");
	    background-repeat: no-repeat;
	    background-position: center;			
	}
	.img-logo {		
		padding-left: 35%;
		padding-right: 35%;
		width: 100%
	}
	.form-signin {
    	max-width: 60%;
	}
	.botones_inicio {
		margin-top: 5%;
	}

	/*action questionnaire page*/
	 .barra_main, .botones_barra, .prompt_q, .toolbar_side,
	 .action_text, .galeria p, .footer_fix{
	 	font-size: large;
	 }

	 .circle p{
	 	    font-size: small;
	 }

	div.descriptionWrapper h2, div.descriptionWindow h3,
	div.descriptionWindow p, div.cancelar span, 
	div.aceptar span{
	 	font-size: large;
	}


	/*actionquestionnaire page*/
	.serv_body{
	  height: 70%; 
	}

 	/*rol page*/
	 .galeria{
	 	margin-bottom: 5%;
	 	margin-top: 5%;
	 }


	 /*rol-overlay page*/
	div.descriptionWrapper { 
		margin: 20px auto; 
		width: 90%;
		height: 90%;
	}
	div.descriptionWindow {  
		margin: 20px auto; 
		height: 65%;
	}

	
}

	
/*Dispositivos Grandes*/
@media (min-width: 801px){

	/*signin page*/
	.fondo{
		width: 100%;
		height: 100%;
		background-image: url("../images/Fondo/Fondo_grande2.png");
	    background-repeat: no-repeat;
	    background-position: center;			
	}
	.img-logo {		
		padding-left: 25%;
		padding-right: 25%;
		width: 100%
	}
	.form-signin {
    	max-width: 40%;
	}
	.botones_inicio {
		margin-top: 40%;
	}

	/*action questionnaire page*/
	 .barra_main, .botones_barra, .prompt_q, .toolbar_side, 
	 .action_text, .galeria p, .footer_fix, 
	 .div.descriptionWrapper h2, div.descriptionWindow h3,
	 div.descriptionWindow p, div.cancelar span, 
	 div.aceptar span{
	 	font-size: xx-large;
	 }
	 .circle p{
	 	    font-size: small;
	 }

 	/*rol page*/
	 .galeria{
	 	margin-top: 5%;
	 }


	/*rol-overlay page*/
	div.descriptionWrapper { 
		margin: 20px auto; 
		width: 90%;
		height: 80%;
	}
	div.descriptionWindow {  
		margin: 20px auto; 
		padding: 1% 0 0 0; 
		height: 70%;
	}

}
