* {
    font-family: 'PT Sans', sans-serif;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
}

input {
    font-family: 'PT Sans', sans-serif;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.button {
    width: 80%;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 100%;
    background-color: #FFC501;
    color: #2D3C4D;
    padding: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.navbar-header {
    margin-right: 0 !important;
}

.navbar-toggle {
    margin-right: 0;
}

.row-eq-height {
    display: flex;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .button {
        width: 50%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

