* {
    font-family: 'PT Sans', sans-serif;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
}

input.text-input {
    color: #2D3C4D;
    background-color: #f2f2f2;
    font-size: 1.2em;
    width: auto;
    padding: 7px;
    border: none;
    border-radius: 5px;
}

a.button {
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #FFC501;
    color: #2D3C4D;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

a.button:hover {
    text-decoration: none;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.button {
    width: 80%;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 100%;
    background-color: #FFC501;
    color: #2D3C4D;
    padding: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.navbar-header {
    margin-right: 0 !important;
}

.navbar-toggle {
    margin-right: 0;
}

.row-eq-height {
    display: flex;
}

.padding-bottom-forms {
    padding-bottom: 3% !important;
}

.forms-height {
    height: auto !important;
}

.rotateImage {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

_::-webkit-:not(:root:root), .just-safari-arrow-correction {

    width: auto !important;


}


/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .forms-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .button {
        width: 50%;
    }

    .forms-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .forms-container {
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #E4EDEF;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .forms-container {
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #E4EDEF;
    }
}

