.masterContainer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}

header {
    background: #285453;
    width: 100%;
    padding: 20px;
    height: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

header .logo a {
    font-size: 3em;
    text-decoration: none;
}

header nav {
    width: 40%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 2em;

    flex-grow: 1;
}

.carousel {
    width: 100%;
    height: 400px;
    background-color: #59585B;

    display: flex;
    flex-flow: row wrap;

}

.searchSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.searchDiv {
    width: 50%;
    background-color: #3BC6D0;
    padding: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.searchInput {
    width: 50%;
    border: 1px solid #B6EDEA;
    border-radius: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    color: #868684;
    background: #B6EDEA;


}

.searchButton{
    width: 40%;
    border: 1px solid #149AA9;
    border-radius: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 2em;
    line-height: 2em;
    background-color: #149AA9;
    color: white;
    padding: 5px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.seacrhIcon{
    margin-left: 20%;
    height: 1.5em;
    width: 1em;
    margin-top: 6px;

}

.routeDiv {
    width: 50%;
    background-color: #D19637;
}
