
/*Radio Button*/

.styled-radio input{      
  border: 0px;  
  height: 16px;
  font-size: 14;
  padding-right: 10px;
}
.styled-radio input + span{  
visibility: hidden; /*temporarily hide the "YES" label*/
  background: #6EB558;
  /*adding some CSS3 eye-candy - optional*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4e813f), to(#6EB558));
  border: 1px solid #4e813f;
  border-bottom-color: #ccc;
  border-top-color: #000;
  text-shadow: 0px 1px 1px #4e813f; 

}



/**
 * Nuevas Ediciones
 */
.s_quest {  
  padding-top: 5px;
  /*height: 422px;*/
  background-color: #F2F2F2;    
}

.s_quest_h {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 5px;
  width: 100%;
  color: #4F4D59;   
  font-size: 16px;
  text-align: left;
}
.s_quest_b {
  background-color: #7F382B;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;

}
.s_quest_row {
  background-color: #7F382B;
  color: #FFFFFF;
  width: 100%;
  padding-top: 4px;
  padding-left: 15px;
}
.s_quest_cat {
  color: #FFFFFF;
  padding-left: 20%;
  padding-top: 4px;
}
.s_quest_q {
  padding: 10px;  
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  color: #000000;  
  font-size: 16px;  
  text-align: center;
  background-color: #548880;
  border-radius: 12px;
}
.s_quest_r {
  background-color: #9BBDAA;
  padding: 4px 4px 4px 4px;
  border-radius: 10px;
}
.s_quest_back {
  height: 20px;
  padding-left: 50%;
}

.radio_b{
  padding-left: 0;
}

/*Solutions*/
.backgr{
  background-color: white;
}

/*5 11 2015*/

.btn-guardar-busq{
  text-align: center;
    background-color: #548880;
    border-radius: 5px;
    width: 125px;
    height: 35px;
    padding: 7px;  
}