/*Dispositivos Pequeños*/
@media (max-width: 385px) and (orientation: portrait){

	/*View Question*/
	.prompt_r {	  
	  margin-top: 5px;
	  margin-bottom: 5px;
	  margin-left: 15px;
	  margin-right: 15px;
	  width: 95%;
	  color: #000000;  
	  font-size: 16px;  
	  text-align: center;
	  background-color: #C6D7CE;
	  border-radius: 12px;
	 }

	 .q_button {
	  height: 9em;
	  padding-top: 15%;      
	  width: 100%;
	}
	.q_next {
	  width: 90px;
	  height: 75px;	  
	  color: #548880;
	  text-align: center;
	  font-weight: bold;
	  cursor: pointer;
	}
	.q_img {	  	  	  
	  text-align: center;	  	 
	  margin-bottom: 15%; 
	}
	.q_back {
	  width: 90px;
	  height: 75px; 
	  padding-left: 0px;
	  color: #80392C;
	  text-align: center;
	  font-weight: bold;
	  cursor: pointer;
	}
/* View Summary*/


	.s_quest_b {
	    background-color: #f2f2f2;
	    width: 100%;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    margin-top: 2%;
	}
	.s_quest_q {
	  padding: 10px;  
	  margin-top: 5px;
	  margin-bottom: 5px;
	  margin-left: 15px;
	  margin-right: 15px;
	  color: #000000;  
	  font-size: 16px;  
	  text-align: center;
	  background-color: #f2f2f2;
	  border-radius: 12px;
	}
	.s_quest_r {
	  background-color: #9BBDAA;
	  padding: 4px 4px 4px 4px;
	  border-radius: 10px;
	}

	

	/*SOLUTIONS-DETAIL*/

	.sol_imagenes{
		margin-top: 20px;
	}

	.solut_img{
		width: 60px;
	}
	
	.bubble{
		color: #ffffff;
		width: 50px;
		height: 50px;		
		border-radius: 50%;
		background-color: #548880;		
	}
	.sol_categoria{
		font-style: italic;
		color: #909CA6;
		margin-top: 10px;
	}

	.sol_pregunta{
		color: #000000;	
	}

	.sol_respuesta{
		color: #ffffff;
		background-color: #548880;
		border-radius: 7px;
    	width: 35%;
		height: 40px;		
		text-align: center;
	}

	.solut_back{
		color: #548880;		
		font-size: larger;
		cursor: pointer;
	}
	.solut_next{
		color: #548880;		
		font-size: larger;
		cursor: pointer;
	}

	md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    	min-height: 250px;
	}
}

/*Dispositivos Grandes*/
@media (min-width: 386px) and (max-width: 2000px){	

	.regresar {
		text-align: center;
		width: 100px;
	}

	.menu{
		text-align: center;
		width: 100px;
	}

	.botones_barra {
		height: 40px;
		text-align: center;		
	}


	/*View Question*/

	.prompt_r {	  
	  margin-top: 5px;
	  margin-bottom: 5px;
	  margin-left: 15px;
	  margin-right: 15px;
	  width: 100%;
	  color: #000000;  
	  font-size: 16px;  
	  text-align: center;
	  background-color: #C6D7CE;
	  border-radius: 12px;
	  user-select: none;
  		-webkit-user-select: none;
  		-webkit-touch-callout: none;
	}
	.q_button {
	  height: 9em;
	  padding-top: 15%;      
	  width: 100%;
	}
	.q_next {
	  width: 90px;
	  height: 75px;	  
	  color: #548880;
	  text-align: center;
	  font-weight: bold;
	  cursor: pointer;
	}
	.q_img {	  	  	  
	  text-align: center;	  	 
	  margin-bottom: 15%; 
	}
	.q_back {
	  width: 90px;
	  height: 75px; 
	  padding-left: 0px;
	  color: #80392C;
	  text-align: center;

	  font-weight: bold;
	  cursor: pointer;
	}
	
	/* View Summary*/

	.s_quest_b {
	    background-color: #f2f2f2;
	    width: 100%;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    margin-top: 2%;
	}

	.s_quest_q {
	  padding: 10px;  
	  margin-top: 5px;
	  margin-bottom: 5px;
	  margin-left: 15px;
	  margin-right: 15px;
	  color: #000000;  
	  font-size: 16px;  
	  text-align: center;
	  background-color: #f2f2f2;
	  border-radius: 12px;
	}
	.s_quest_r {
	  background-color: #9BBDAA;
	  padding: 4px 4px 4px 4px;
	  border-radius: 10px;
	}

	/*SOLUTIONS-DETAIL*/

	.sol_imagenes{
		margin-top: 20px;
	}

	.solution_text{
		text-align: center;
	}

	.solut_img{
		width: 60px;
	}
	
	.bubble{
		color: #ffffff;
		width: 50px;
		height: 50px;		
		border-radius: 50%;
	    margin-bottom: 10px;
		background-color: #9BBDAA;		
	}

	.sol_categoria{
		font-style: italic;
		color: #909CA6;
	}

	.sol_pregunta{
		color: #000000;	
	}

	.sol_respuesta{
		color: #ffffff;
		background-color: #548880;
		border-radius: 7px;
    	width: 35%;
		height: 40px;		
		text-align: center;
	}
	.solut_back{
		color: #548880;		
		font-size: larger;
		cursor: pointer;
	}
	.solut_next{
		color: #548880;		
		font-size: larger;
		cursor: pointer;
	}

	md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
 	   min-height: 475px;
	}
}	

@media all{	
	.flecha_arriba{
	  border: transparent;
	  width: 19px;
	  height: 12px;
	  background: url("../images/botones/boton-flecha-arriba.png") no-repeat;
	}
	.flecha_abajo{
	  border: transparent;
	  width: 19px;
	  height: 12px;
	  background: url("../images/botones/boton-flecha-arriba.png") no-repeat;
	  -webkit-transform: rotate(180deg);
	  -moz-transform: rotate(180deg);
	  -ms-transform: rotate(180deg);
	}
	.fondo_blanco{
		background-color: #ffffff;
		color: #000000;
	}

	.texto_verde {
  		color: #548880;
	}
	

/*Modificaciones al MATERIAL ANGULAR*/
	md-tabs md-ink-bar {
	    color: rgb(6,158,82);
	    background: rgb(6,158,82);
	}

	md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
	    color: rgb(6,158,82);
	}

	md-select:not([disabled]):focus .md-select-label {
	    border-bottom-color: rgb(6,158,82);
	    color: rgba(0,0,0,0.87);
	}
	md-select-menu md-option[selected] {
    	color: rgb(6,158,82);
	}	

	.color_verde{
		background-color: #548880;
	}
	.color_amarillo{
		background-color: #D6B406;
	}
	.color_rojo{
		background-color: #80392C;
	}


/* Fin Modificaciones al MATERIAL ANGULAR*/

/*Questionnaries style*/

	
.s_cont{
	  margin: -6% 0 0 0;
	  display: block;
	  font-size: 50px;
	}
	.floating{
	      padding-top: 5px;
	      display: block;
	      float: right;
	      background-color: #7F382B; 
	      width: 25px;
	      height: 25px;
	      border-radius: 50%;
	      margin: 0 0 0 70px;
	      font-size: 15px;
	      position: absolute;
	}
	.icon-check:before {
	  color: White;
	}




	.rad,
	.ckb{
	  cursor: pointer;
	  user-select: none;
	  -webkit-user-select: none;
	  -webkit-touch-callout: none;
	  width:100%;
	}
	.rad > input,
	.ckb > input{ /* HIDE ORG RADIO & CHECKBOX */
	  visibility: hidden;
	  position: absolute;
	}
	/* RADIO & CHECKBOX STYLES */
	.rad > i,
	.ckb > i{     /* DEFAULT <i> STYLE */
	  display: inline-block;
	  vertical-align: middle;
	  width:  23px;
	  height: 23px;
	  border-radius: 50%;
	  transition: 0.2s;
	  box-shadow: inset 0 0 0 18px #fff;
	  border: 1px #548880;
	  background: gray;
	}
	/* CHECKBOX OVERWRITE STYLES */
	/* HOVER <i> STYLE */
	/*.rad:hover > i{ 
	  box-shadow: inset 0 0 0 3px #fff;
	  background: gray;
	}
	*/
	.rad > input:checked ~ i{ /* (RADIO CHECKED) <i> STYLE */
	  box-shadow: inset 0 0 0 3px #fff;
	  background: #548880;
	}
	/* CHECKBOX */
	.ckb > input + i:after{
	  margin-top: -4px;
	}
	.ckb > input:checked + i:after{ /* (RADIO CHECKED) <i> STYLE */
	  content: "✓";
	  font-weight: bold;
	  color:  #548880;
	  margin-right: 25%;
	}

	.b_label{
		display: inline;
	}	

	*:focus {
		outline:0;
	}

	::-webkit-scrollbar {
	    width: 12px;
	}
	::-webkit-scrollbar-track {
	    background-color: #eaeaea;
	    border-left: 1px solid #ccc;
	}
	::-webkit-scrollbar-thumb {
	    background-color: #C6D7CE;
	}
	::-webkit-scrollbar-thumb:hover {
	    background-color: #548880;
	}

	md-input-container label {
	 	color: rgba(0,0,0,0.9);
	}
	md-input-container.md-input-has-value label:not(.md-no-float) {
		color: rgb(63,81,181);	
	}

	div.personalData {
    width: 80%;
    display: block;
    padding: 10px 0;
    margin: auto;
	}

div.businessData {
    width: 80%;
    display: block;
    padding: 10px 0;
    margin: auto;
}

}