/*Dispositivos Pequeños*/
@media (max-width: 320px) and (orientation: portrait){
	.fondo{
		width: 100%;
		background-image: url("../images/Fondo/Fondo_Inicio.png");
	    background-repeat: no-repeat;
	    background-position: center;			
	}
	.img-logo {		
		padding-left: 25%;
		padding-right: 25%;
		width: 100%;
		/*width: 116px;
		height: 117px;
		background: url("../images/botones/logo.png") no-repeat;*/
	}

	.botones_inicio {
		margin-top: 114px;
	}

	.regresar {
		text-align: center;
		width: 50px;

	}

	.menu{
		text-align: center;
		width: 50px;
	}

	.barra_main{
		height: 50px;
		background-color: white;
		color: #154064; "/*azul*/
		font-weight: bolder;
		box-shadow: 0px 0px 5px 2px rgba(1, 1, 1, 0.6);		
	}

	.botones_barra {
		height: 40px;
		text-align: center;		
	}

	/*Action View*/	

	.prompt {
	    padding-top: 15px;
	    padding-left: 10px;
	    padding-right: 10px;
	    height: 80%;	    	    
	    background-color: #F2F2F2;
	}
	.prompt_q {	  
	  color: #4F4D59; 	   
	  font-size: 16px;
	  text-align: justify;
	}

	.serv_body{
	  padding: 70% 10px 60px 10px;
	  height: 366px; 
	}

	.serv_button{	  
	  height: 115px;	  
	}

	.btn_buscar {  
	  color: #80392C;
  	  text-align: center;
  	  font-weight: bold;
	}

	.btn_ofrecer {  
  		color: #548880;
  		text-align: center;
  		font-weight: bold;
	}
/* View Roles*/
	.galeria {
		background-color: #F2F2F2;
	    width: 100%;
	    clear: both;
	    text-align: center;
	    margin: 20px 0 6px;
	}
	.body {
		height: 370px;
  		background-color: #F2F2F2;  
	}
	.footer_fix {
	  position: fixed;
	  bottom: 0;
	  width: 100%;	  
	  padding: 1% 2% 1% 2%;
	  height: 60px;
	  box-shadow: 0 0 5px 2px rgba(1, 1, 1, 0.6);
	}
	.footer_buscar {
	  color: #FFFFFF;
  	  background-color: #80392C;
	}

	.footer_ofrecer {	  
	  color: #FFFFFF;
  	  background-color: #548880;
	}

	/*View Question*/
	.prompt_r {	  
	  margin-top: 5px;
	  margin-bottom: 5px;
	  margin-left: 15px;
	  margin-right: 15px;
	  width: 100%;
	  color: #000000;  
	  font-size: 16px;  
	  text-align: center;
	  background-color: #C6D7CE;
	  border-radius: 12px;
	 }

	 .q_button {
	  height: 9em;
	  padding-top: 15%;      
	  width: 100%;
	}
	.q_next {
	  width: 90px;
	  height: 75px;	  
	  color: #548880;
	  text-align: center;
	  font-weight: bold;
	  cursor: pointer;
	}
	.q_img {	  	  	  
	  text-align: center;	  	 
	  margin-bottom: 15%; 
	}
	.q_back {
	  width: 90px;
	  height: 75px; 
	  padding-left: 0px;
	  color: #80392C;
	  text-align: center;
	  font-weight: bold;
	  cursor: pointer;
	}
/* View Summary*/
	.prompt_q_full {	  
	  width: 100%;
	  color: #4F4D59;   
	  font-size: 16px;
	  text-align: left;
	}

	.s_quest_b {
	    background-color: #f2f2f2;
	    width: 100%;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    margin-top: 2%;
	}

	.s_quest_q {
	  padding: 10px;  
	  margin-top: 5px;
	  margin-bottom: 5px;
	  margin-left: 15px;
	  margin-right: 15px;
	  color: #000000;  
	  font-size: 16px;  
	  text-align: center;
	  background-color: #f2f2f2;
	  border-radius: 12px;
	}
	.s_quest_r {
	  background-color: #9BBDAA;
	  padding: 4px 4px 4px 4px;
	  border-radius: 10px;
	}

	  /*VIEW SOLUTIONS;  */

	.box{
	  /*margin-top: px;  */
	  text-align: center;
	  border-style: none;
	  border-width: 1px;
	  background-color: #F1F1F1;
	  padding: 1% 1% 1% 1%;
	  margin: 2% 2% 2% 2%;
	}

	.box-title{  
	  color: #909CA6;
	  padding-left: 10px;
	  font-size: 15px;
	  text-align: left;
	}

	.box-img{  
	  border-radius: 20px;
	  width: 50px;
	  height: 50px;
	}

	.box-bubble{
		color: #ffffff;
	    width: 35px;
	    height: 35px;
	    border-radius: 50%;
	    background-color: #548880;
	    padding-top: 10px;
	    font-size: 12px;    
	}


	.box-body{  
	  color: #000000;
	  padding: 2% 7% 0 7%;
	  text-align: justify;
	}

	.box-body-p{
		height: 100px;
		overflow: auto;
	}

	.box-footer{  
	  color: #909CA6;
	  height: 30px;
	  cursor: pointer;
	  background-color: #F1F1F1; 
	  vertical-align: center;
	  padding-top: 2%; 
	  padding-left: 7%;
	  text-align: justify;
	}
	.solut_foot{
	  position: fixed;
	  bottom: 0;
	  width: 100%;
	  background-color: #E6E6E6;
	  padding: 1% 2% 1% 2%;
	  height: 60px;
	  box-shadow: 0 0 5px 2px rgba(1, 1, 1, 0.6);
	}
	
	.solut-button{
	  background-color: #548880;
	  border-radius: 10px;
	  margin: 0% 30% 0% 30%;
	  height: 50px;
	}

	/*SOLUTIONS-DETAIL*/

	.sol_imagenes{
		margin-top: 20px;
	}

	.solut_img{
		width: 60px;
	}
	
	.bubble{
		color: #ffffff;
		width: 50px;
		height: 50px;		
		border-radius: 50%;
		background-color: #548880;		
	}
	.sol_categoria{
		font-style: italic;
		color: #909CA6;
		margin-top: 10px;
	}

	.sol_pregunta{
		color: #000000;	
	}

	.sol_respuesta{
		color: #ffffff;
		background-color: #548880;
		border-radius: 7px;
    	width: 35%;
		height: 40px;		
		text-align: center;
	}

	.solut_back{
		color: #548880;		
		font-size: larger;
		cursor: pointer;
	}
	.solut_next{
		color: #548880;		
		font-size: larger;
		cursor: pointer;
	}

	md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    	min-height: 250px;
	}
}

/*Dispositivos Grandes*/
@media (min-width: 321px) and (max-width: 2000px){
	.fondo{
		margin-left: 25%;
		width: 50%;
		padding-top:10%;		
	}
	.img-logo {		
		width: 100%;		
	}
	.botones_inicio {
		margin-top: 114px;
	}

	.regresar {
		text-align: center;
		width: 100px;
	}

	.menu{
		text-align: center;
		width: 100px;
	}

	.botones_barra {
		height: 40px;
		text-align: center;		
	}

	/*Action View*/
	.barra_main{
		padding: 10px;
		height: 50px;
		background-color: white;
		color: #154064;
		font-weight: bolder;
		text-align: center;
		box-shadow: 0px 0px 5px 2px rgba(1, 1, 1, 0.6);		
	}

	.prompt {
	    padding-top: 15px;
	    padding-left: 10px;
	    padding-right: 10px;
	    /*padding-bottom: 20%; */
	    height: 80%;	    
	    /*overflow: auto;*/
	    background-color: #F2F2F2;	    
	}

	.prompt_q {	  
	  color: #4F4D59; 	   
	  font-size: 16px;
	  text-align: justify;
	}

	.serv_body{
	  padding: 70% 10px 60px 10px;
	  height: 640px; 
	}

	.serv_button{	  
	  height: 115px;	  
	}

	.btn_buscar {  
	  color: #80392C;
  	  text-align: center;
  	  font-weight: bold;
	}

	.btn_ofrecer {  
  		color: #548880;
  		text-align: center;
  		font-weight: bold;
	}
	/* View Roles*/
	.body {
		height: 370px;
  		background-color: #F2F2F2;  
	}
	.footer_fix {
	  position: fixed;
	  bottom: 0;
	  width: 100%;	  
	  padding: 1% 2% 1% 2%;
	  height: 60px;
	  box-shadow: 0 0 5px 2px rgba(1, 1, 1, 0.6);
	}
	.footer_buscar {
	  color: #FFFFFF;
  	  background-color: #80392C;
	}

	.footer_ofrecer {	  
	  color: #FFFFFF;
  	  background-color: #548880;
	}
	.galeria {
		margin-top: 20%;
	}

	/*View Question*/

	.prompt_r {
	  padding: 10px;  
	  margin-top: 5px;
	  margin-bottom: 5px;
	  margin-left: 15px;
	  margin-right: 15px;
	  width: 100%;
	  color: #000000;  
	  font-size: 16px;  
	  text-align: center;
	  background-color: #C6D7CE;
	  border-radius: 12px;
	  user-select: none;
  		-webkit-user-select: none;
  		-webkit-touch-callout: none;
	}
	.q_button {
	  height: 9em;
	  padding-top: 15%;      
	  width: 100%;
	}
	.q_next {
	  width: 90px;
	  height: 75px;	  
	  color: #548880;
	  text-align: center;
	  font-weight: bold;
	  cursor: pointer;
	}
	.q_img {	  	  	  
	  text-align: center;	  	 
	  margin-bottom: 15%; 
	}
	.q_back {
	  width: 90px;
	  height: 75px; 
	  padding-left: 0px;
	  color: #80392C;
	  text-align: center;
	  font-weight: bold;
	  cursor: pointer;
	}
	/* View Summary*/
	.prompt_q_full {	  
	  width: 100%;
	  color: #4F4D59;   
	  font-size: 16px;
	  text-align: left;
	}

	.s_quest_b {
	    background-color: #f2f2f2;
	    width: 100%;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    margin-top: 2%;
	}

	.s_quest_q {
	  padding: 10px;  
	  margin-top: 5px;
	  margin-bottom: 5px;
	  margin-left: 15px;
	  margin-right: 15px;
	  color: #000000;  
	  font-size: 16px;  
	  text-align: center;
	  background-color: #f2f2f2;
	  border-radius: 12px;
	}
	.s_quest_r {
	  background-color: #9BBDAA;
	  padding: 4px 4px 4px 4px;
	  border-radius: 10px;
	}

	  /*VIEW SOLUTIONS;  */

	.box{
	  /*margin-top: px;  */
	  text-align: center;
	  border-style: none;
	  border-width: 1px;
	  background-color: #F1F1F1;
	  padding: 1% 1% 1% 1%;
	  margin: 2% 2% 2% 2%;
	}

	.box-title{  
	  color: #909CA6;
	  padding-left: 10px;
	  font-size: 15px;
	  text-align: left;
	}

	.box-img{  
	  border-radius: 20px;
	  width: 75px;
	  height: 75px;
	}

	.box-bubble{
		color: #ffffff;
	    width: 60px;
	    height: 60px;
	    border-radius: 50%;
	    background-color: #548880;
	    padding-top: 20px;
	    padding-left: 3px;
	}

	.box-body{  
	  color: #000000;
	  padding: 2% 7% 0 7%;
	  text-align: justify;
	}

	.box-body-p{
		height: 100px;
		overflow: auto;
	}

	.box-footer{  
	  color: #909CA6;
	  height: 30px;
	  cursor: pointer;
	  background-color: #F1F1F1; 
	  vertical-align: center;
	  padding-top: 2%; 
	  padding-left: 7%;
	  text-align: justify;
	}
	.solut_foot{
	  position: fixed;
	  bottom: 0;
	  width: 100%;
	  background-color: #E6E6E6;
	  padding: 1% 2% 1% 2%;
	  height: 60px;
	  box-shadow: 0 0 5px 2px rgba(1, 1, 1, 0.6);
	}

	.solut-button{
	  background-color: #548880;
	  border-radius: 10px;
	  margin: 0% 30% 0% 30%;
	  height: 50px;
	}

	/*SOLUTIONS-DETAIL*/

	.sol_imagenes{
		margin-top: 20px;
	}

	.solution_text{
		text-align: center;
	}

	.solut_img{
		width: 60px;
	}
	
	.bubble{
		color: #ffffff;
		width: 50px;
		height: 50px;		
		border-radius: 50%;
	    margin-bottom: 10px;
		background-color: #9BBDAA;		
	}

	.sol_categoria{
		font-style: italic;
		color: #909CA6;
	}

	.sol_pregunta{
		color: #000000;	
	}

	.sol_respuesta{
		color: #ffffff;
		background-color: #548880;
		border-radius: 7px;
    	width: 35%;
		height: 40px;		
		text-align: center;
	}
	.solut_back{
		color: #548880;		
		font-size: larger;
		cursor: pointer;
	}
	.solut_next{
		color: #548880;		
		font-size: larger;
		cursor: pointer;
	}

	md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
 	   min-height: 475px;
	}
}	

@media all{
	.main{
		width: 100%;
		height: 100%;		
		background-color: #f2f2f2;
	}
	.flecha_arriba{
	  border: transparent;
	  width: 19px;
	  height: 12px;
	  background: url("../images/botones/boton-flecha-arriba.png") no-repeat;
	}
	.flecha_abajo{
	  border: transparent;
	  width: 19px;
	  height: 12px;
	  background: url("../images/botones/boton-flecha-arriba.png") no-repeat;
	  -webkit-transform: rotate(180deg);
	  -moz-transform: rotate(180deg);
	  -ms-transform: rotate(180deg);
	}
	.toolbar_side{
		background-color: #f2f2f2;
		color: #154064;
	}

	.fondo_blanco{
		background-color: #ffffff;
		color: #000000;
	}

	.texto_verde {
  		color: #548880;
	}
	

/*Modificaciones al MATERIAL ANGULAR*/
	md-tabs md-ink-bar {
	    color: rgb(6,158,82);
	    background: rgb(6,158,82);
	}

	md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
	    color: rgb(6,158,82);
	}

	md-select:not([disabled]):focus .md-select-label {
	    border-bottom-color: rgb(6,158,82);
	    color: rgba(0,0,0,0.87);
	}
	md-select-menu md-option[selected] {
    	color: rgb(6,158,82);
	}	

	.color_verde{
		background-color: #548880;
	}
	.color_amarillo{
		background-color: #D6B406;
	}
	.color_rojo{
		background-color: #80392C;
	}


/* Fin Modificaciones al MATERIAL ANGULAR*/

/*Questionnaries style*/

	
.s_cont{
	  margin: -6% 0 0 0;
	  display: block;
	  font-size: 50px;
	}
	.floating{
	      padding-top: 5px;
	      display: block;
	      float: right;
	      background-color: #7F382B; 
	      width: 25px;
	      height: 25px;
	      border-radius: 50%;
	      margin: 0 0 0 70px;
	      font-size: 15px;
	      position: absolute;
	}
	.icon-check:before {
	  color: White;
	}

	*{
	  box-sizing: border-box	  
	  }
	 body,button, html, input, select, textarea{
	 	    font-family: 'Roboto Condensed', sans-serif !important;
	 }
	.galeria p {
	  color:#58595B; 
	  font-size: 9.6pt;
	}

	.prompt_r {
	 padding: 10px;  
	 margin-top: 5px;
	 margin-bottom: 5px;
	 margin-left: 15px;
	 margin-right: 15px;
	   width: 100%;
	 color: #000000;  
	  font-size: 16px;  
	 text-align: center;
	 background-color: #C6D7CE;
	 border-radius: 12px;
	 }

	.rad,
	.ckb{
	  cursor: pointer;
	  user-select: none;
	  -webkit-user-select: none;
	  -webkit-touch-callout: none;
	  width:100%;
	}
	.rad > input,
	.ckb > input{ /* HIDE ORG RADIO & CHECKBOX */
	  visibility: hidden;
	  position: absolute;
	}
	/* RADIO & CHECKBOX STYLES */
	.rad > i,
	.ckb > i{     /* DEFAULT <i> STYLE */
	  display: inline-block;
	  vertical-align: middle;
	  width:  23px;
	  height: 23px;
	  border-radius: 50%;
	  transition: 0.2s;
	  box-shadow: inset 0 0 0 18px #fff;
	  border: 1px #548880;
	  background: gray;
	}
	/* CHECKBOX OVERWRITE STYLES */
	/* HOVER <i> STYLE */
	/*.rad:hover > i{ 
	  box-shadow: inset 0 0 0 3px #fff;
	  background: gray;
	}
	*/
	.rad > input:checked ~ i{ /* (RADIO CHECKED) <i> STYLE */
	  box-shadow: inset 0 0 0 3px #fff;
	  background: #548880;
	}
	/* CHECKBOX */
	.ckb > input + i:after{
	  margin-top: -4px;
	}
	.ckb > input:checked + i:after{ /* (RADIO CHECKED) <i> STYLE */
	  content: "✓";
	  font-weight: bold;
	  color:  #548880;
	  margin-right: 25%;
	}

	.b_label{
		display: inline;
	}	

	*:focus {
		outline:0;
	}

	::-webkit-scrollbar {
	    width: 12px;
	}
	::-webkit-scrollbar-track {
	    background-color: #eaeaea;
	    border-left: 1px solid #ccc;
	}
	::-webkit-scrollbar-thumb {
	    background-color: #C6D7CE;
	}
	::-webkit-scrollbar-thumb:hover {
	    background-color: #548880;
	}
}