angular.module('gemStore')
    .constant("Constantes", {
        "url": "http://localhost:9000",
        "ruta_imagenes": "./images/",
        "app": "C"
    });

angular.module('constants', [])
    .constant("API_CONFIG", {
    	"url": "http://127.0.0.1:8000",
    	"login": "/rest-auth/login",
    	"user": "/usuario",
    	"facebookID":"822335427898991",
    	"googleID": "348524611866-dkkhnm8pk6vudvppd8tc52te3gr6d510.apps.googleusercontent.com"
    });