.app-footer .img {
    background: #fff url("../../images/icons/footer/a.Extra-small-device-new.png") center no-repeat;
    background-size: auto 180px;
    height: 200px;
}

.contact-info {
    color: #2D3C4D;
    font-size: 14px;
    padding: 10px 0;
}

.contact-info p {
    margin: 0;
    padding: 0 0 0 2px;
    display: inline-block;
}

.contact-info a{
    text-decoration: none;
}

.contact-info ul{
    list-style-type: none;
}

.footer-text{
    color: #0a3c5a;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
}

.footer-title{
    font-weight: bold;
}

.footer-background-color{
    background-color: #97d3e8;
}


@media (max-width: 767px) {
}

@media (min-width: 768px) {
    .app-footer .img {
        background-image: url("../../images/icons/footer/b.Small-devices-new.png");
        background-size: auto 121px;
        height: 151px;
    }

    .contact-info {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .app-footer .img {
        background-image: url("../../images/icons/footer/c.Medium-devices-new.png");
        background-size: auto 116px;
        height: 146px;
    }
}

@media (min-width: 1200px) {
    .app-footer .img {
        background-image: url("../../images/icons/footer/d.Large-devices-nuevo.png");
        background-size: auto 202px;
        height: 232px;
    }
}
