.app-footer .img {
    background: #fff url("../../images/icons/footer/a.Extra-small-device.png") center no-repeat;
    background-size: auto 227px;
    height: 247px;
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {
    .app-footer .img {
        background-image: url("../../images/icons/footer/b.Small-devices.png");
        background-size: auto 121px;
        height: 151px;
    }
}

@media (min-width: 992px) {
    .app-footer .img {
        background-image: url("../../images/icons/footer/c.Medium-devices.png");
        background-size: auto 116px;
        height: 146px;
    }
}

@media (min-width: 1200px) {
    .app-footer .img {
        background-image: url("../../images/icons/footer/d.Large-devices.png");
        background-size: auto 102px;
        height: 132px;
    }
}
