<div class="row app-footer">
    <div class="row">
        <div class="footer-separator separator-gray"></div>
    </div>
    <div class="row">
        <div class="visible-xs visible-sm partner">
            <img src="images/footer/partners-xs.png">
        </div>
        <!--div class="visible-sm partner">
            <img src="images/footer/partners-sm.png">
        </div>
        <div class=" visible-md partner">
            <img src="images/footer/partners-md.png">
        </div-->
        <div class="visible-md visible-lg partner">
            <img src="images/footer/partners-lg.png">
        </div>
    </div>
    <div class="row footer-background-color contact-info">
        <div class="col-xs-12 col-md-2 col-md-offset-3">
            <label class="row col-xs-12 footer-text footer-title" translate="TOURISTS"></label>
            <a href="#/howitworks" class="row col-xs-12 footer-text" translate="HOME_CONSTANTS.HOW_IT_WORKS"></a>
        </div>
        <div class="col-xs-12 col-md-2">
            <label class="row col-xs-12 footer-text footer-title" translate="TRADERS"></label>
            <a href="#/login" class="row col-xs-12 footer-text" translate="HEADER_CONSTANTS.LOGIN_TRADER"></a>
            <a ng-click="goToRegisterTrader()" class="row col-xs-12 footer-text"
               translate="HEADER_CONSTANTS.REGISTER_BUSINESS"></a>
        </div>
        <div class="col-xs-12 col-md-2">
            <label class="row col-xs-12 footer-text footer-title" translate="MUNICIPALITIES"></label>
            <a href="#/loginmunicipality" class="row col-xs-12 footer-text" translate="LOGIN.MUNICIPALITY_LOGIN"></a>
            <a ng-click="goToRegisterMunicipality()" class="row col-xs-12 footer-text"
               translate="REGISTER_MUNICIPALITY_CONSTANTS.REGISTER_MUNICIPALITY"></a>
        </div>
    </div>
    <div class="row footer-background-color">
        <label class="col-xs-12 col-md-2 col-md-offset-3 footer-text" translate="LABORATORIOS_VIRTUALES"></label>
    </div>
    <div class="row footer-background-color">
        <div class="footer-separator separator-blue"></div>
    </div>
    <div class="col-md-12 contact-info-container text-center footer-background-color"><p class="contact-text"
                                                                                         translate="CONTACT_INFO"></p>
        <a class="mail-footer" href="mailto:vivelab_bog@unal.edu.co">&nbsp innovatic_fibog@unal.edu.co</a>
    </div>


</div>
