.app-footer .partner {
    text-align: center;
    margin: 15px 0;
}

.app-footer .partner img {
    max-width: 100%;
}

.contact-info-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-info {
    color: #2D3C4D;
    font-size: 14px;
    padding: 10px 0;
}

.contact-info p {
    margin: 0;
    padding: 0 0 0 2px;
    display: inline-block;
}

.contact-info a {
    text-decoration: none;
}

.contact-info ul {
    list-style-type: none;
}

.footer-text {
    color: #0a3c5a;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
}

.footer-title {
    font-weight: bold;
    margin-top: 10px;
}

.footer-background-color {
    background-color: #97d3e8;
}

.footer-separator {
    height: 2px;
    width: 90%;
    margin-left: 5%;
}

.separator-blue {
    background-color: #32a2d4
}

.separator-gray {
    background-color: #cccccc
}

.contact-text {
    color: #FFF;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
}

.mail-footer {
    color: #0071bc;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
}
