<div class="hidden-xs hidden-sm">
    <app-header></app-header>
</div>
<form name="registerSiteForm">
<div class="row topMarginHeader">
    <div class="col-md-4  col-md-offset-4 centerColumnNoPadding" >
        <div class="header container-fluid"><div class="glyphicon glyphicon-menu-left backButton" ng-click="changeView('businessinformation')"></div><p class="text" translate="REGISTER_SITE_CONSTANTS.BUSINESS_INFORMATION"></p></div>
        <ul class="progress-bar1 progressBarPadding topMarginElements">
            <li class="done-step"></li>
            <li class="done-step"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        
        <div class="row businessAddressText topMarginElements">
            <div class="col-xs-2" >
                <img class="confirmRegisterIcons" src="./images/registerIcons/nombre-negocio.png">
            </div>
            <div class="col-xs-10">
                <input type="text" placeholder="Regular Placeholder" translate translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_NAME" class="form-control businessAddressInput"  name="businessName" type="text" ng-model="$parent.businessName" placeholder="Nombre negocio" required/>
                <i ng-show="businessName==undefined"  class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconBusinessStar"></i>
                <span ng-show="businessName==undefined && registerSiteForm.businessName.$dirty" class="errorField" translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
            </div>

        </div>    

        <div class="row businessAddressText topMarginElements">
            <div class="col-xs-2" >
                <img class="confirmRegisterIcons" src="./images/registerIcons/telefono.png">
            </div>
            <div class="col-xs-10">
                <input type="text" class="form-control businessAddressInput"  name="businessPhone" type="text" translate translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_PHONE" ng-model="sitePhoneNumber" placeholder="Teléfono" required/>

                <i ng-show="businessPhone==undefined"  class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconBusinessStar"></i>
                <span ng-show="businessPhone==undefined && registerSiteForm.businessPhone.$dirty" class="errorField" translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
            </div>
        </div>
        <div class="row businessAddressText topMarginElements">
            <div class="col-xs-2" >
                <img class="confirmRegisterIcons" src="./images/registerIcons/whatsapp.png">
            </div>
            <div class="col-xs-10">
                <input type="text" class="form-control businessAddressInput"  name="businessWhatsapp" type="text" ng-model="whatsapp" translate translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_WHATS_APP"/>

         
            </div>
        </div>
        <div class="input topMarginElements businessAddressText">
            <drop-down-town-directive></drop-down-town-directive>
        </div>
             
        <div class="input topMarginElements ">
            <div class="col-xs-12" >
            <textarea placeholder="Regular Placeholder" translate translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_DESCRIPTION" class="form-control businessAddressInput businessAddressText" name="businessDescription" ng-model="businessDescription" required></textarea>
            <i ng-show="true"  class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconBusinessDescriptionStar"></i>
                <span ng-show="businessDescription==undefined && registerSiteForm.businessDescription.$dirty" class="errorField" translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
            </div>    
        </div>
        
        <div class="row businessAddressText topMarginElements">
        <span class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.BUSINESS_OPENINGHOURS_TEXT"></span><span class="texto-claro-business" translate="REGISTER_SITE_CONSTANTS.BUSINESS_OPENINGHOURS_TEXT_EXAMPLE"></span>
        </div>

        <div class="input topMarginElements ">
            <textarea placeholder="Regular Placeholder" translate translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_OPENINGHOURS" class="form-control businessAddressInput businessAddressText" name="openingHours" ng-model="openingHours"></textarea>
        </div>

        <div class="row businessAddressText topMarginElements">
        <span class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY_TEXT"></span>
        </div>

        <div class="topMarginElements">
            <div class="col-xs-12" >
            <select ng-model="businessCategories.category"
                    ng-options="obj.id as obj.nombre for obj in categories"
                    name="catefory"
                    class="form-control businessAddressInput businessAddressText"
                    required>
                <option value="" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY"></option>
            </select>
            <i ng-show="businessDescription==undefined"  class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconBusinessDescriptionStar"></i>
                <span ng-show="businessDescription==undefined && registerSiteForm.businessDescription.$dirty" class="errorField" translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
            </div>    
        </div>

        <div class="row businessAddressText topMarginElements">
        <span class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.TAGS_TEXT"></span><span class="texto-claro-business" translate="REGISTER_SITE_CONSTANTS.TAGS_TEXT_EXAMPLE"></span>
        </div>

        <div class="topMarginElements">
            <tags-input class="businessAddressText businessAddressInput" name="tags" ng-model="tags" placeholder="Etiquetas" add-on-comma=true replace-spaces-with-dashes=false required>
            </tags-input>
        </div>
        <div class=" next-button NextButtonRegister topMarginElements">
            <button class="button" ng-disabled="businessAddress==undefined || businessLocation.lat==undefined" ng-click="changeView('photos')" translate="REGISTER_SITE_CONSTANTS.NEXT_BUTTON"></button>
        </div>
    </div>
</div>
</form>



