<loader></loader>

<div class="col-md-4  col-md-offset-4 centerColumnNoPadding registerSiteFormBackgroundColor">
    <div class="header container-fluid">
        <p ng-show="!siteId" class="text" translate="REGISTER_SITE_CONSTANTS.COMPLETE_REGISTRATION_HEADER"></p>
        <p ng-show="siteId" class="text" translate="REGISTER_SITE_CONSTANTS.COMPLETE_UPDATE_HEADER"></p>
    </div>
    <ul class="progress-bar1 progressBarPadding topMarginElements">
        <li class="done-step"></li>
        <li class="done-step"></li>
        <li class="done-step"></li>
        <li class="done-step"></li>
        <li class="done-step"></li>
        <li class="done-step"></li>
    </ul>
    <div ng-show="!siteId">
        <div class="text-center">
            <label ng-show="user.tipo_cuenta=='C'" class="topMarginElements texto-claroBusinessLocation"
                   translate="REGISTER_SITE_CONSTANTS.COMPLETE_REGISTRATION_TEXT"></label>

            <label ng-show="user.tipo_cuenta=='M'" class="topMarginElements texto-claroBusinessLocation"
                   translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_COMPLETE_REGISTRATION_TEXT"></label>

        </div>
        <div class=" next-button NextButtonRegister topMarginElements">
            <button class="button" ng-click="doneRegistration()"
                    translate="REGISTER_SITE_CONSTANTS.COMPLETE_REGISTRATION_POPUP_BUTTON"></button>
        </div>
    </div>
    <div ng-show="siteId">
        <div class="text-center">
            <label ng-show="user.tipo_cuenta=='C'" class="topMarginElements texto-claroBusinessLocation"
                   translate="REGISTER_SITE_CONSTANTS.COMPLETE_UPDATE_TEXT"></label>

            <label ng-show="user.tipo_cuenta=='M'" class="topMarginElements texto-claroBusinessLocation"
                   translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_COMPLETE_UPDATE_TEXT"></label>
        </div>
        <div class=" next-button NextButtonRegister topMarginElements">
            <button class="button" ng-click="doneRegistration()"
                    translate="REGISTER_SITE_CONSTANTS.COMPLETE_UPDATE_POPUP_BUTTON"></button>
        </div>
    </div>
</div>