.backgroundFillViewPort{
    height: 100vh
}

.topMarginElements{
    margin-top: 3% !important;
}

.topMarginHeader{
    padding-top: 3%;
}

.registerSiteFormBackgroundColor{
    background-color: #FFF;
}

.centerColumnNoPadding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.progressBarPadding{
    padding-left: 15px !important;
    padding-right: 15px !important;

}

.businessAddressText{
    width: 83%;
    margin-left: 8.5%;
}

.businessAddressInput{
    background-color: #F2F2F2;
    font-family: "PT Sans";
    color: #2D3C4D;
}

.errorField{
    color:#ff0000;
}

.glyphiconBusinessAddress{
    color: #00b3ee;
}

.texto-claroBusinessLocation{
    color: #32A2D4;
}

.texto-oscuroBusinessLocation{
    color: #2D3C4D;
}

.getUserPositionBusinessAddressButton{
    height: 4vmin;
}

.NextButtonRegister{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.

/* xs devices */
@media (max-width: 767px) {
    .topMarginHeader{
        padding-top: 0%;
    }

    .getUserPositionBusinessAddressButton{
        height: 12vmin;
    }

    .registerSiteBackgroundColor{
        background-color: #FFF;
    }

}

.angular-google-map-container {
    height: 50vh;
}

/* sm devices */
@media (min-width:768px) {
    .topMarginHeader{
        padding-top: 0%;
    }

    .getUserPositionBusinessAddressButton{
        height: 8vmin;
    }


    .registerSiteBackgroundColor{
        background-color: #FFF;
    }
}

/* md devices */
@media(min-width:992px){
    .topMarginHeader{
        padding-top: 3%;
    }

    .getUserPositionBusinessAddressButton{
        height: 4vmin;
    }

    .registerSiteBackgroundColor{
        background-color: #E4EDEF;
    }
}

