<app-header></app-header>
<label translate="REGISTER_SITE_CONSTANTS.PHOTOS"></label>

<form name="businessForm">
    <div style="display: flex; flex-flow: row wrap;">
        <input type="file" onchange="angular.element(this).scope().filesChange(this)" multiple
               translate="REGISTER_SITE_CONSTANTS.CHOOSE_FILES"/>
    </div>

    <div>
        <label translate="REGISTER_SITE_CONSTANTS.BUSINESS_PHONE"></label>
        <input name="sitePhoneNumber" type="tel" ng-pattern="/^\d+$/" ng-minlength="7" ng-maxlength="10"
               ng-model="sitePhoneNumber" required/>
        <span ng-show="businessForm.sitePhoneNumber.$error.required"
              translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
        <span ng-show="businessForm.sitePhoneNumber.$dirty && !businessForm.sitePhoneNumber.$valid"
              translate="REGISTER_SITE_CONSTANTS.PHONE_VALIDATION"></span>
    </div>


    <div>
        <label translate="REGISTER_SITE_CONSTANTS.BUSINESS_OPENINGHOURS"></label>
        <business-hours-input model="businessopeningSchedule.hours"></business-hours-input>
        <business-hours model="businessopeningSchedule.hours"></business-hours>
        <span ng-show="businessForm.openingHours.$error.required"
              translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
    </div>


    <div>
        <label translate="REGISTER_SITE_CONSTANTS.BUSINESS_NAME"></label>
        <input name="businessName" type="text" ng-model="businessName" required/>
        <span ng-show="businessForm.businessName.$error.required"
              translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
    </div>

    <div>
        <label translate="REGISTER_SITE_CONSTANTS.BUSINESS_LOCATION"></label>
        <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events"></ui-gmap-google-map>
    </div>

    <div>
        <label translate="REGISTER_SITE_CONSTANTS.BUSINESS_DESCRIPTION"></label>
        <textarea name="businessDescription" ng-model="businessDescription" required></textarea>
        <span ng-show="businessForm.businessDescription.$error.required"
              translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
    </div>

    <div>
        <label>Tags</label>
        <tags-input name="tags" ng-model="tags" add-on-space=true required>
        </tags-input>
        <span ng-show="businessForm.tags.$error.required">Campo requerido</span>
    </div>


    <div>
        <label translate="REGISTER_SITE_CONSTANTS.BUSINESS_EMAIL"></label>
        <input name="businessEmail" type="email" ng-model="businessEmail" required>
        <span ng-show="businessForm.businessEmail.$error.required"
              translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
        <span ng-show="businessForm.businessEmail.$dirty && businessForm.businessEmail.$error.email"
              translate="REGISTER_SITE_CONSTANTS.EMAIL_VALIDATION"></span>
    </div>


    <div>
        <label translate="REGISTER_SITE_CONSTANTS.BUSINESS_CATEGORY"></label>
        <select ng-model="businessCategories.category"
                ng-options="obj.id as obj.nombre for obj in categories"
                ng-change="getControllerSubcategories()"
                name="catefory"
                required>
            <option value="" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY"></option>
        </select>
        <span ng-show="businessForm.catefory.$error.required" translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
    </div>


    <div>
        <label translate="REGISTER_SITE_CONSTANTS.BUSINESS_SUBCATEGORY"></label>
        <select ng-model="businessCategories.subcategory"
                ng-options="x.id as x.nombre for x in subcategories"
                name="subcategory"
                required>
            <option value="" translate="REGISTER_SITE_CONSTANTS.CHOOSE_SUBCATEGORY"></option>
        </select>
        <span ng-show="businessForm.subcategory.$error.required"
              translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
    </div>


    <div>
        <button ng-disabled="businessForm.$invalid || files==null || businessLocation==undefined" ng-click="register()"
                translate="REGISTER_SITE_CONSTANTS.BUSINESS_REGISTER_BUTTON"></button>
        <span ng-show="businessForm.$invalid || files==null || businessLocation==undefined"
              translate="REGISTER_SITE_CONSTANTS.FIELDS_VALIDATION"></span>
    </div>


</form>


<app-footer></app-footer>

