.register-site {

}

.register-site .header {
    background-color: #efefef;
}

.icon-container {
    padding: 10px 0px;
}

.icon > i {
    position: relative;
    top: calc(50% - 10px); /* 50% - 3/4 of icon height */
}

.progress-bar1 {
    padding: 10px 0 0;
    list-style: none;
    height: 30px;
    width: 100%;
    font-size: 0;
}

.progress-bar1 > li {
    display: inline-block;
    width: calc(100% / 5);
    height: 15px;
    background: #b6b6b6;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-left: 0px;
}

.progress-bar1 li:first-child {
    border-left: 1px solid #000;
}

.progress-bar1 .done-step {
    background: #26d23a;
}

.progress-bar1 .current-step {
    background: #DE6525;
}

input.ng-invalid.ng-dirty {
    border: 1px solid red;
}

textarea.ng-invalid.ng-dirty {
    border: 1px solid red;
}

tags-input.ng-invalid.ng-dirty {
    border: 1px solid red;
}

.next-button{
    padding: 5% 0% 10% 0%;
}
.next-button .button{
    border: none;
    background-color: #FFC501;
    color: #2D3C4D;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;

}
.inputField{
    padding-top: 10%;
}
input[type="tel"]
{
    color: #2D3C4D;
    font-size: 1.6em;
}
input[type="textarea"]
{
    color: #2D3C4D;
    font-size: 1.6em;
}
textarea.description{

    font-size: 1.6em;
}
.select-town{

    font-size: 1.6em;
}

.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
}
.thumbnail img {
    max-width: 200px;
    max-height: 150px;
}

.gallery-box {
    width: 200px;
    padding: 5px;
    margin: 7px;
    float: left;
    min-height: 200px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.gallery-box .progress {
    margin-bottom: 0;
}
.gallery-box .thumbnail {
    height: 188px;
    width: 188px;
}
.gallery-box .title {
    height: 22px;
    overflow: hidden;
    display: block;
}
.texto{
    font-weight: bold;

}
.texto-claro-business{
    
    color: #32A2D4;
}

.texto-oscuro-business{
    color: #2D3C4D;
}
