<ecosistema-header-directive style="width: 100%; height: auto"></ecosistema-header-directive>
<p>FOTO:   </p>
<form name="businessForm">
    <div style="display: flex; flex-flow: row wrap;">
        <input type="file" onchange="angular.element(this).scope().filesChange(this)" multiple/>
        <button ng-click="upload()">ACA</button>
    </div>

    <p>Telefono:</p>
    <input name="sitePhoneNumberInput" type="tel" title="Telefono" ng-model="sitePhoneNumber" required/>
    <p>horario atencion:</p>
    <input type="text" title="Horario" ng-model="openingHours"/>
    <p>Nombre local:</p>
    <input type="text" title="Nombre Local" ng-model="businessName"/>
    <p>Ubicacion</p>

    <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events"></ui-gmap-google-map>

    <input type="text" title="Localización"/>
    <p>Descripción</p>
    <textarea ng-model="businessDescription"></textarea>
    <p>Tags</p>
    <tags-input ng-model="tags">
    </tags-input>
    <p>Correo</p>
    <input type="email" ng-model="businessEmail">
    <p>Categoria</p>


    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
    </select>
    <p>Subcategoria</p>
    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
    </select>

    <button ng-click="register()">REGISTRAR SITIO</button>

</form>
<ecosistema-footer-directive style="width: 100%"></ecosistema-footer-directive>

