<app-header></app-header>
<div class="header"><div class="glyphicon glyphicon-menu-left backButton" ng-click="changeView('photos')"></div><p class="text">Resumen y confimación</div>
<ul class="progress-bar1">
            <li class="done-step"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
<div class="row next-button">
        <div class="col-xs-4"></div>
    <div class="button col-xs-4" ng-disabled="traderInfoForm.$invalid" ng-click="">Terminar Registro</div>
    <div class="col-xs-4"></div>
</div>