.backgroundFillViewPortSummary{
    height: 150vmin;
}

.disabled-color{
    color: #808080;
}


/* xs devices */
@media (max-width: 767px) {
    .confirmRegisterIcons{
        height: 12vmin;
    }
}

/* sm devices */
@media (min-width:768px) {
    .confirmRegisterIcons{
        height: 12vmin;
    }
}

/* md devices */
@media(min-width:992px){
    .confirmRegisterIcons{
        height: 4vmin;
    }
}