<div class="col-md-4  col-md-offset-4 centerColumnNoPadding registerSiteFormBackgroundColor">
    <div class="header container-fluid register-trader-title">
        <label class="text" translate="%%title%%"></label>
    </div>
    <div>
        <div class="text-center">
            <label class="topMarginElements register-success-padding"
                   translate="%%message%%"></label>
        </div>
        <div class="next-button NextButtonRegister topMarginElements">
            <button class="button edit-section-button cancel-button" ng-click="noCallback()"
                    translate="%%noLabel%%"></button>
            <button class="button edit-section-button" ng-click="yesCallback()"
                    translate="%%yesLabel%%"></button>
        </div>
    </div>
</div>