.app-header {
    padding: 7px 5px;
    margin: 0;
    border: none;
    background-color: #285453;
}

.app-header .logo-container {
    padding: 5px 15px;
}

.app-header .logo {
    height: 100%;
}

.menuContainerHeader {
    margin-right: 2%;
    height: 100%;
    width: 5%;
}

.menuHeader {
    margin-top: 5%;
    height: 90%;
    background-color: #7F382B;
}

@media screen and (max-width: 1000px) {
    .app-header {
        height: 8%;
    }
}
