.app-header {
    font-size: 1.1em;
    padding: 7px 5px;
    margin: 0;
    border: none;
    background-color: #0A3C5A !important;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.app-header .logo-container {
    padding: 5px 15px;
}

.app-header .logo {
    height: 100%;
}

.app-header .selected-language {
    color: #FFC501 !important;
}

.app-header .language-buttons:hover {
    color: #fff !important;
}

.app-header .language-button {
    display: inline-block;
}

.app-header .language-button:hover {
    color: #FFC501;
}

.app-header .hamburguer-icon {
    height: 25px;
}

.app-header .left-bar {
    border-left: 1px solid white;
    padding-left: 5px;
}

.menuContainerHeader {
    margin-right: 2%;
    height: 100%;
    width: 5%;
}

.menuHeader {
    margin-top: 5%;
    height: 90%;
    background-color: #7F382B;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFC501;
    background-color: transparent;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .app-header {
        font-size: 1.3em;
        padding: 7px 5px;
    }

    .navbar-nav > li > a {
        font-size: 0.9em;
        padding-left: 7px !important;
        padding-right: 7px !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-nav > li > a {
        font-size: 1.1em;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
