<nav class="navbar navbar-default app-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand logo-container" href="#/home">
                <img class="logo" src="./images/logo.png">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <img class="hamburguer-icon" src="./images/icons/hamburguesa.png">
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/howitworks" translate="HOME_CONSTANTS.HOW_IT_WORKS"></a></li>
                <li><a href="#/login" translate="HEADER_CONSTANTS.LOGIN_TRADER"></a></li>
                <li><a href="#/registertrader" translate="HEADER_CONSTANTS.REGISTER_BUSINESS"></a></li>
                <li>
                    <a class="language-buttons">
                        <div class="language-button" ng-click="changeLanguage('es')"
                             ng-class="selectedLanguage == 'es' ? 'selected-language' : ''">ES
                        </div>
                        <div class="language-button left-bar" ng-click="changeLanguage('en')"
                             ng-class="selectedLanguage == 'en' ? 'selected-language' : ''">EN
                        </div>
                    </a>
                <li></li>
            </ul>
        </div>
    </div>
</nav>