<div class="ecosistemaHeader">
    <div class="heaaderLogoContainer" ng-click="goToHome()">
        <img class="ecosistemaLogoHeader" src="./images/logo-mercatic-transparencia.png">
    </div>
    <div style="height: auto; display: flex; flex-flow: column wrap">
        <img style="height: 1.5em; width: 1.5em" src="./images/es-ES.png" ng-click="changeLanguage('es')">
        <img style="height: 1.5em; width: 1.5em" src="./images/english_flag.png" ng-click="changeLanguage('en')">
    </div>

    <div class="menuContainerHeader">
        <div class="menuHeader">

        </div>
    </div>
</div>