html, body{
    height: 100%;
    width: 100%;
}

.ecosistemaHeader{
    background-color: #285453;

    height: 7%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.heaaderLogoContainer{
    width: 15%;
    height: 98%;

    margin-left: 2%;
    display: flex;
    flex-flow: column wrap;


    justify-content: center;
}

.ecosistemaLogoHeader{
    height: 100%;
    width: 100%;
}

.menuContainerHeader{
    margin-right: 2%;
    height: 100%;
    width: 5%;
}

.menuHeader{
    margin-top: 5%;
    height: 90%;
    background-color: #7F382B;
}

@media screen and (max-width: 1000px) {
    .ecosistemaHeader{
        height: 8%;
    }
}
