<div class="row search-section">
    <div class="col-xs-6 keyword-search text-center" ng-click="showSearchForm()">
        <li class="label" ng-class="isSearchFormVisible ? 'keyword-search-underline' : 'no-underline'"
            translate="SEARCH_TAB"></li>
        <img class="icon" src="./images/icons/que-buscas.png">
    </div>
    <div class="col-xs-6 route-search text-center" ng-click="showRouteForm()">
        <li class="label" ng-class="isRouteFormVisible ? 'route-search-underline' : 'no-underline'"
            translate="PLAN_YOUR_TRIP"></li>
        <img class="icon" src="./images/icons/arma-tu-ruta.png">
    </div>
</div>
