.search-section {
    height: 90px;
}

.keyword-search {
    background-color: #3BC6D0;
    padding: 15px 20px;
}

.search-section .icon {
    height: 40px;
}

.search-section .label {
    font-size: 2em;
    font-family: 'PT Sans', sans-serif;
    color: white;
    padding: 0 5px;
    vertical-align: middle;
}

.route-search {
    background-color: #D19637;
    padding: 15px 20px;
}

.keyword-search-underline {
    border-bottom: 5px solid #5FF0BF;
}

.no-underline {
    border-bottom: none;
}

.route-search-underline {
    border-bottom: 5px solid #ffc520;
}