.search-section {
}

.search-section .icon {
    height: 25px;
    margin-top: 3px;
}

.search-section .label {
    font-size: 1em;
    font-family: 'PT Sans', sans-serif;
    color: #2D3C4D;
    padding: 0 5px;
    vertical-align: middle;
    border-radius: 0;
}

.keyword-search {
    background-color: #97D3E8;
    padding: 15px 20px;
}

.route-search {
    background-color: #32A2D4;
    padding: 15px 20px;
}

.underline {
    border-bottom: 2px solid #FDE64E;
}

.no-underline {
    border-bottom: none;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .keyword-search {
        padding: 15px 20px;
    }

    .search-section .icon {
        height: 40px;
        margin-top: 0px;
    }

    .search-section .label {
        font-size: 2em;
        padding: 0 5px;
    }

    .underline {
        border-width: 5px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}