<footer>
	<div class="footer">
	    <div class='container'>
	      <div class='row'>
	        <div class="col-md-1 col-sm-1 hidden-xs "></div>
	        <div class="text-center col-md-5 col-sm-5 col-xs-12">
	          <h3>Quines somos</h3>
	          <p><i>Listado de participantes</i>.</p>
	          <p><a href='tickets.html'>Imagen 1<i class="glyphicon glyphicon-arrow-left"></i></a></p>
	          <p><a href='about.html'>Imagen 2<i class="glyphicon glyphicon-arrow-left"></i></a></p>
	        </div>

	        <div class="col-xs-12 visible-xs clearfix"><hr></div>
	        <div class="text-center col-md-5  col-sm-5 col-xs-12">
	          <h3>Contactenos</h3>
	            <ul class="list-unstyled">
	              <li><a href='http://twitter.com/codeschool'><i class="fa fa-twitter-square fa-2x iconk"></i></a></li>
                  <li><a href='http://facebook.com/codeschool'><i class="fa fa-facebook-official fa-2x iconk"></i></a></li>
	            </ul>
	            <p>Unal &copy;2214.</p>
	        </div>
	        <div class="col-md-1 col-sm-1 hidden-xs"></div>
	      </div>
	    </div>
	</div>
</footer>