/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
  border: none;
  border-radius: 5px;
}

.autocomplete ul{
  position: absolute;
  padding-left: 0px !important;
  left: 0;
  width: 100%;
  z-index: 1;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  left: 0;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
  border-bottom: solid 1px #C7C7CD;
}

.autocomplete li.active{
  width: 100%;
  background-color: #ebf2fe;
}

.autocomplete .highlight {
  font-weight: bolder;
}

.autocomplete li.active .highlight {
  font-weight: bolder;
}
