<div class="row">
    <div class="col-md-12 center-block">
        <h4 class="text-center" translate="LOGIN.LOGIN_WITH_SOCIAL_NETWORKS"></h4>
    </div>
    <div class="col-md-12 text-center">
        <img src="images/botones/borrar.png"/>
        <button class="button" ng-click="authenticate('facebook')" translate="LOGIN.LOGIN_WITH_FACEBOOK"/>
    </div>
    <div class="col-md-12 text-center">
        <img src="images/botones/borrar.png"/>
        <button class="button" ng-click="authenticate('google')" translate="LOGIN.LOGIN_WITH_GOOGLE"/>
    </div>

    <hr>
    <div class="col-md-12 center-block">
        <h4 class="text-center" translate="LOGIN.LOGIN_WITH_ACCOUNT"></h4>
    </div>

    <div class="col-md-12 text-center">
        <form novalidate name="form" autocomplete="off">
            <input class="form-control" type="email" ng-model="login.email" name="usuario" ng-pattern="/^.+@.+\..+$/"
                   translate translate-attr-placeholder="LOGIN.EMAIL_INPUT" required>
            <div ng-messages="form.usuario.$error">
                <div ng-message="required">Por favor digite su nombre de usuario</div>
                <div ng-message="pattern">El usuario debe tener el formato de un correo (ejemplo@correo.com)</div>
            </div>

            <input class="form-control" type="password" ng-model="login.contrasena" name="contrasena"
                   translate translate-attr-placeholder="LOGIN.PASSWORD_INPUT" required>
            <div ng-messages="form.contrasena.$error">
                <div ng-message="required">Por favor digite su contraseña</div>
            </div>

            <a class="col-md-12" ng-click="forgottenPassword()" translate="LOGIN.FORGOTTEN_PASSWORD"></a>

            <button id="login" class="button" translate="LOGIN.LOGIN_BUTTON" ng-click="login()"/>
        </form>
    </div>
    <div id="alertPop" ng-cloak></div>

    <div class="col-md-12 text-center">
        <h4 class="text-center" translate="LOGIN.STILL_NO_USER"></h4><span translate="LOGIN.REGISTER"></span>
    </div>
</div>

<div layout='row' layout-align="center center">
    <md-progress-circular md-mode="indeterminate" ng-show="load"></md-progress-circular>
</div>