.dropDownTowns {
    width: 250px;
    padding: 2px 10px;
    border-radius: 5px;
    border: none;
    background: #fff;
    color: #B3B3B3;
    font-size: 1.1em;
}

.md-select-label {
    border: none !important;
    padding: 0 !important;
    min-height: inherit !important;
}