.search-section {
}

.search-section .icon {
    height: 25px;
    margin-top: 3px;
}

.search-section .label {
    font-size: 1em;
    font-family: 'PT Sans', sans-serif;
    color: #2D3C4D;
    padding: 0 5px;
    vertical-align: middle;
    border-radius: 0;
}

.keyword-search {
    background-color: #97D3E8;
    padding: 15px 20px;
}

.route-search {
    background-color: #32A2D4;
    padding: 15px 20px;
}

.underline {
    border-bottom: 2px solid #FDE64E;
}

.no-underline {
    border-bottom: none;
}

.map-search-tab-categories-list{
    background-color: #97D3E8;
    margin-top: 0% !important;
}

.search-tab-categories-list{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 1%;
    /*overflow-x: auto;*/
}

.search-tab-categories{
    display: inline-block;
    float: none;
}

.search-tab-category-container{
    display: flex;
    flex-flow: column wrap;
    margin: 3px;
    height: 100px;
    width: 100px;
    padding: 5px 1px 0px 1px;
}

.categories-map-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #97D3E8;
}

.search-tab-category-selected-container{
    background-color: #0A3C5A;
}

.search-tab-category-unselected-container{
    background-color: #A9EDFF;
}

.search-tab-category-inside-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.search-tab-category-label{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-align: center;
}

.search-tab-category-selected-label{
    color: #A9EDFF;
}

.search-tab-category-unselected-label{
    color: #0071BC;
}

.map-scroll-categories{
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    white-space: nowrap;
}


.category-scroll-container{
    width: 100%;
    background-color: #97D3E8;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.page-wrap {
    width: 80%;

}

.horizontal-slide {
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.horizontal-slide .item {
    display: inline-block;
    float: none;
}

.search-tab-category-inside-container-scroll{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.search-tab-category-inside-container-scroll2{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.subcategory-container-map{
    background-color: #0E5072;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.subcategory-label-border{
    border-right: solid 2px #f2f2f2;
}

.subcategory-label-container-map{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.subcategory-map-label{
     color: #A9EDFF;
}

.subcategory-map-selected-label{
    color: #f2f2f2;
    border-bottom: 2px solid #FDE64E;
}


/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .keyword-search {
        padding: 15px 20px;
    }

    .search-section .icon {
        height: 40px;
        margin-top: 0px;
    }

    .search-section .label {
        font-size: 2em;
        padding: 0 5px;
    }

    .underline {
        border-width: 5px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}