<div class="row row-eq-height search-section">
    <div class="col-xs-6 keyword-search text-center" ng-click="showSelectedSection(KEYWORD_SEARCH_SECTION)">
        <li class="label" ng-class="isSearchFormVisible ? 'underline' : 'no-underline'"
            translate="TABS_CONSTANTS.SEARCH_TAB"></li>
        <img class="icon" src="./images/icons/que-buscas.png">
    </div>
    <div class="col-xs-6 route-search text-center" ng-click="showSelectedSection(ROUTE_SEARCH_SECTION)">
        <li class="label" ng-class="isRouteFormVisible ? 'underline' : 'no-underline'"
            translate="TABS_CONSTANTS.PLAN_YOUR_TRIP"></li>
        <img class="icon" src="./images/icons/arma-tu-ruta.png">
    </div>
</div>

<div class="row" ng-show="isSearchFormVisible || isRouteFormVisible">
    <div ng-show="isSearchFormVisible">
        <!--SearchTab Home-->
        <div ng-show="!isonmap" class="col-xs-12 tab-content keyword-search">
            <div class="row">
                <div class="col-md-6 input-section align-first">
                    <div style="display: inline-flex">
                        <img class="icon" src="./images/icons/paso1.png">

                    </div>
                    <p class="data-label" translate="TABS_CONSTANTS.SEARCH_BY_KEY_WORD"></p>
                    <div class="input">
                        <browser-input-field isonmapview="true" result="result" do-search="doSearch(result)"
                                             show-route="showRoute()"
                                             subcategory-search="doSearch(subcategoryname)"></browser-input-field>
                    </div>
                </div>

                <!--Categories List Mobile-->
                <div ng-if="isMobile" class="row category-scroll-container mobile-category-top-margin-container">
                    <div class="col-xs-12 category-container-mobile-padding">
                        <ul rn-carousel rn-carousel-index="carouselIndexCategory" class="image"
                            ng-class="isSubcategoriesVisible ? 'categories-scroll-no-margin-bottom' : ''"
                            style="height: 100px">
                            <li ng-repeat="category in categories" class="carrusel-categorias">
                                <div ng-class="category.isSelected ? 'search-tab-category-container search-tab-category-map-container search-tab-category-selected-container':'search-tab-category-container search-tab-category-map-container search-tab-category-unselected-container'"
                                     ng-click="setCategoryNameAsInputText(category)">
                                    <div>
                                        <img class="icon mobile-category-icon"
                                             ng-src="%%category.URL_icono_general%%">
                                    </div>
                                    <div class="search-tab-category-inside-container">
                                        <label ng-class="category.isSelected ? 'search-tab-category-label search-tab-category-selected-label':'search-tab-category-label search-tab-category-unselected-label'">%%category.nombre%%</label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="separator"></div>
                <div class="col-md-6 input-section align-second">
                    <img class="icon" src="./images/icons/paso2.png">
                    <p class="data-label" translate="TABS_CONSTANTS.SELECT_TOWN"></p>
                    <div class="input">
                        <drop-down-town-directive isonregistersite="false"></drop-down-town-directive>
                    </div>
                </div>
            </div>

            <!--Categories List Desktop-->
            <div ng-if="!isMobile" class="row search-tab-categories-list">
                <div class="search-tab-categories" ng-repeat="category in categories">
                    <div ng-class="category.isSelected ? 'search-tab-category-container search-tab-category-selected-container':'search-tab-category-container search-tab-category-unselected-container'"
                         ng-click="setCategoryNameAsInputText(category)">
                        <div class="search-tab-category-inside-container">
                            <img class="icon" ng-src="%%category.URL_icono_general%%">
                        </div>
                        <div class="search-tab-category-inside-container">
                            <label ng-class="category.isSelected ? 'search-tab-category-label search-tab-category-selected-label':'search-tab-category-label search-tab-category-unselected-label'">%%category.nombre%%</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-center">
                    <button class="button" aria-label="Buscar" translate="TABS_CONSTANTS.DO_SEARCH"
                            ng-click="doSearchByKeyWord(result)"></button>
                </div>
            </div>
        </div>

        <!--SearchTab Map Desktop-->
        <div ng-show="isonmap">
            <div class="row">
                <div class="row tab-content keyword-search is-desktop">
                    <div class="col-xs-4 col-xs-offset-1 input">
                        <browser-input-field isonmapview="true" result="result" do-search="doSearch(result)"
                                             show-route="showRoute()"></browser-input-field>
                    </div>
                    <div class="col-xs-1 input">
                        <p class="searchMapTip" translate="TABS_CONSTANTS.IN_TIP"></p>
                    </div>
                    <div class="col-xs-4 input">
                        <drop-down-town-directive></drop-down-town-directive>
                    </div>
                    <div class="col-xs-1 col-xs-offset-1 route-map-no-left-padding  input"
                         ng-click="clearSubcategories(); doSearch(result)">
                        <img class="iconDoSearchMap" src="./images/armar-ruta.png">
                    </div>
                </div>
            </div>

            <!--Categories List Desktop-->
            <div ng-show="!isMobile" class="row category-scroll-container">
                <div class="col-xs-1 arrow-category-map-container" ng-click="previousSlide('category')">
                    <img ng-show="carouselIndexCategory>0" class="icon"
                         src=./images/icons/site-detail/flecha-atras-azul.png>
                </div>
                <div class="col-xs-10">
                    <ul rn-carousel rn-carousel-index="carouselIndexCategory" class="image"
                        ng-class="isSubcategoriesVisible ? 'categories-scroll-no-margin-bottom' : ''"
                        style="height: 100px">
                        <li ng-repeat="category in categories" class="carrusel-categorias">
                            <div ng-class="category.isSelected ? 'search-tab-category-container search-tab-category-map-container search-tab-category-selected-container':'search-tab-category-container search-tab-category-map-container search-tab-category-unselected-container'"
                                 ng-click="setCategoryNameAsInputText(category)">
                                <div>
                                    <img class="icon" ng-src="%%category.URL_icono_general%%">
                                </div>
                                <div class="search-tab-category-inside-container">
                                    <label ng-class="category.isSelected ? 'search-tab-category-label search-tab-category-selected-label':'search-tab-category-label search-tab-category-unselected-label'">%%category.nombre%%</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-1 arrow-category-map-container" ng-click="nextSlide('category')">
                    <img ng-show="carouselIndexCategory<categories.length-1" class="icon"
                         src=./images/icons/site-detail/flecha-adelante-azul.png>
                </div>
            </div>
        </div>

        <!--Subcategories List Desktop-->
        <div ng-show="isSubcategoriesVisible && !isMobile" class=" row subcategory-container-map">
            <div class="col-xs-1 arrow-category-map-container" ng-click="previousSlide('subCategory')">
                <img ng-show="carouselIndexSubcategory>0" class="icon" src=./images/icons/site-detail/flecha-atras.png>
            </div>
            <div class="col-xs-10">
                <ul rn-carousel rn-carousel-index="carouselIndexSubcategory" class="image" style="height: 60px">
                    <li ng-repeat="subcategory in subcategories" class="carrusel-categorias">
                        <div ng-click="selectSubcategory(subcategory)">
                            <div class="subcategory-label-container-map subcategory-label-border">
                                <div>
                                    <label ng-class="subcategory.isSelected ? 'search-tab-category-label subcategory-map-label subcategory-map-selected-label' : 'search-tab-category-label subcategory-map-label'">%%subcategory.nombre%%</label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-1 arrow-category-map-container" ng-click="nextSlide('subCategory')">
                <img ng-show="carouselIndexSubcategory<subcategories.length-1" class="icon"
                     src=./images/icons/site-detail/flecha-adelante.png>
            </div>
        </div>


        <!--SearchTab Map mobile-->
        <div ng-show="isonmap" class="col-xs-12 tab-content keyword-search is-mobile">
            <div class="row">
                <div class="col-md-6 input-section align-first">
                    <div class="input">
                        <browser-input-field isonmapview="false" result="result" do-search="doSearch(result)"
                                             show-route="showRoute()"></browser-input-field>
                    </div>
                </div>

                <!--Categories List mobile-->
                <div ng-if="isMobile" class="row category-scroll-container mobile-category-top-margin-container">
                    <div class="col-xs-12 category-container-mobile-padding">
                        <ul rn-carousel rn-carousel-index="carouselIndexCategory" class="image"
                            ng-class="isSubcategoriesVisible ? 'categories-scroll-no-margin-bottom' : ''"
                            style="height: 100px">
                            <li ng-repeat="category in categories" class="carrusel-categorias">
                                <div ng-class="category.isSelected ? 'search-tab-category-container search-tab-category-map-container search-tab-category-selected-container':'search-tab-category-container search-tab-category-map-container search-tab-category-unselected-container'"
                                     ng-click="setCategoryNameAsInputText(category)">
                                    <div>
                                        <img class="icon mobile-category-icon"
                                             ng-src="%%category.URL_icono_general%%">
                                    </div>
                                    <div class="search-tab-category-inside-container">
                                        <label ng-class="category.isSelected ? 'search-tab-category-label search-tab-category-selected-label':'search-tab-category-label search-tab-category-unselected-label'">%%category.nombre%%</label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


                <!--Subcategories List Mobile-->
                <div ng-show="isSubcategoriesVisible && isMobile" class=" row subcategory-container-map">
                    <div class="col-xs-12 category-container-mobile-padding">
                        <ul rn-carousel rn-carousel-index="carouselIndexSubcategory" class="image" style="height: 60px">
                            <li ng-repeat="subcategory in subcategories" class="carrusel-categorias">
                                <div ng-click="selectSubcategory(subcategory)">
                                    <div class="subcategory-label-container-map subcategory-label-border">
                                        <div>
                                            <label ng-class="subcategory.isSelected ? 'search-tab-category-label subcategory-map-label subcategory-map-selected-label' : 'search-tab-category-label subcategory-map-label'">%%subcategory.nombre%%</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="row separatorMarginRowMap">
                    <div class="col-xs-5 separatorMobileMap"></div>
                    <p class="col-xs-2 searchMapTip" translate="TABS_CONSTANTS.IN_TIP"></p>
                    <div class="col-xs-5 separatorMobileMap"></div>
                </div>
                <div class="col-md-6  input-section align-second">
                    <div class="input">
                        <drop-down-town-directive></drop-down-town-directive>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button class="button" aria-label="Buscar" translate="TABS_CONSTANTS.DO_SEARCH"
                            ng-click="doSearchByKeyWord(result)"></button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isRouteFormVisible">
        <!--RouteTab Home-->
        <div ng-show="!isonmap" class="col-xs-12 tab-content route-search">
            <div class="row">
                <div class="col-md-6 input-section align-first">
                    <img class="icon" src="./images/icons/paso1.png">
                    <div class="label-with-description">
                        <p class="data-label" translate="TABS_CONSTANTS.ROUTE_STARTING_POINT"></p>
                        <p class="data-description" translate="TABS_CONSTANTS.ROUTE_STARTING_POINT_TIP"></p>
                    </div>
                    <div class="input-route">
                        <div class="inline-block">
                            <p class="tip" translate="TABS_CONSTANTS.STARTING_POINT_TIP"></p>
                            <input id="route-origin" ng-focus="clear()"
                                   class="form-control" ng-model="searchedRoute.origin.name"/>
                        </div>
                        <div class="inline-block">
                            <p class="tip md-margin-top" translate="TABS_CONSTANTS.CURRENT_LOCATION"></p>
                            <img class="my-position-icon" src="./images/icons/mi-ubicacion.png"
                                 ng-click="getUserPosition()">
                            <md-progress-circular class="loadingSitesOnMap" ng-show="loadingCurrentPosition"
                                                  md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="col-md-6 input-section align-second">
                    <img class="icon" src="./images/icons/paso2.png">
                    <div class="label-with-description">
                        <p class="data-label" translate="TABS_CONSTANTS.ROUTE_DESTINATION_POINT"></p>
                        <p class="data-description" translate="TABS_CONSTANTS.ROUTE_DESTINATION_POINT_TIP"></p>
                    </div>

                    <div class="input-route" style="margin-left: 10px">
                        <input id="route-destination" ng-focus="clear()"
                               class="form-control" ng-model="searchedRoute.destination.name"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 text-center">
                <button class="button" aria-label="Ruta" translate="TABS_CONSTANTS.MAKE_ROUTE"
                        ng-click="calculateRoute()"></button>
            </div>
        </div>

        <!--RouteTab Desktop Map-->
        <div ng-show="isonmap" class="is-desktop">
            <div class="row tab-content route-search route-map-no-bottom-padding">
                <div class="col-xs-4 col-xs-offset-1 input">
                    <input id="route-origin-map" ng-focus="clear()"
                           class="form-control" ng-model="searchedRoute.origin.name"/></div>
                <div class="col-xs-1 input">
                    <p class="searchMapTip" translate="TABS_CONSTANTS.TO_TIP"></p>
                </div>
                <div class="col-xs-4 input">
                    <input id="route-destination-map" ng-focus="clear()"
                           class="form-control" ng-model="searchedRoute.destination.name"/>
                </div>
                <div class="col-xs-1 col-xs-offset-1 route-map-no-left-padding input"
                     ng-click="calculateRoute()">
                    <img class="iconDoSearchMap" src="./images/armar-ruta.png">
                </div>
            </div>
            <diV class="row route-search route-map-no-up-padding">
                <div class="col-xs-4 col-xs-offset-1 input route-map-no-left-padding">
                    <p class="tip col-xs-4 col-xs-offset-1"
                       translate="TABS_CONSTANTS.ROUTE_STARTING_POINT_MAP"></p>
                </div>
                <div class="col-xs-4 col-xs-offset-1 input">
                    <p class="tip col-xs-4 col-xs-offset-1"
                       translate="TABS_CONSTANTS.ROUTE_DESTINATION_POINT_MAP"></p>
                </div>
            </diV>
            <diV class="row route-search route-map-no-up-padding">
                <div class="col-xs-4 col-xs-offset-1 input route-map-no-left-padding">
                    <img class="my-position-icon" src="./images/icons/mi-ubicacion.png"
                         ng-click="getUserPosition()">
                    <p class="tip current-location-tip-map" translate="TABS_CONSTANTS.CURRENT_LOCATION"></p>
                </div>
            </diV>
        </div>

        <!--RouteTab Mobile Map-->
        <div ng-show="isonmap" class="col-xs-12 tab-content route-search is-mobile">
            <div class="row">
                <div class="col-md-6 input-section align-first">
                    <div class="input" style="margin-left: 10px;">
                        <div class="inline-block">
                            <input id="route-origin-map-mobile" ng-focus="clear()"
                                   class="form-control" ng-model="searchedRoute.origin.name"/>
                            <p class="tip" translate="TABS_CONSTANTS.ROUTE_STARTING_POINT_MAP"></p>
                        </div>
                        <div class="inline-block">
                            <p class="tip md-margin-top" translate="TABS_CONSTANTS.CURRENT_LOCATION"></p>
                            <img class="my-position-icon" src="./images/icons/mi-ubicacion.png"
                                 ng-click="getUserPosition()">
                            <md-progress-circular class="loadingSitesOnMap" ng-show="loadingCurrentPosition"
                                                  md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="col-md-6 input-section align-second">
                    <div class="input" style="margin-left: 10px">
                        <div class="inline-block">
                            <input id="route-destination-map-mobile" ng-focus="clear()"
                                   class="form-control" ng-model="searchedRoute.destination.name"/>
                            <p class="tip" translate="TABS_CONSTANTS.ROUTE_DESTINATION_POINT_MAP"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 text-center">
                <button class="button" aria-label="Ruta" translate="TABS_CONSTANTS.MAKE_ROUTE"
                        ng-click="calculateRoute()"></button>
            </div>
        </div>
    </div>
</div>
