.tab-content {
    padding: 0;
}

.tab-content .button {
    width: 250px;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #FFC501;
    color: #2D3C4D;
    padding: 5px 10px;
    margin: 15px 0;
}

.tab-content .data-label {
    color: #2D3C4D;
    font-size: 1.1em;
    font-weight: bolder;
    padding: 15px 5px;
    vertical-align: middle;
    display: inline-block;
    width: 250px;
    text-align: left;
    vertical-align: middle;
    margin: 0;
}

.tab-content .data-description {
    color: #2D3C4D;
    font-size: 1.3em;
    font-weight: normal;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
    width: 230px;
    text-align: justify;
    vertical-align: middle;
    margin: 0;
}

.tab-content .icon {
    height: 30px;
    margin: 0 1%;
}

.tab-content .input {
    display: inline-block;
}

.tab-content .input-route {
    display: inline-block;
}

.tab-content .input-section {
    padding: 3% 2%;
}

.route-search .data-label {
    width: 230px;
    padding: 0;
}

.route-search .tip {
    font-size: 1.1em;
    color: #fff;
    margin: 0;
    padding: 5px 0px;
}

.route-search .icon {
    vertical-align: top;
}

.route-search .my-position-icon {
    height: 25px;
}

.route-search .inline-block {
    display: inline-block;
    margin-left: 10px;
}

.route-search .label-with-description {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2%;
}

.keyword-search .align-first {
    text-align: center;
}

.keyword-search .align-second {
    text-align: center;
}

.route-search .align-first {
    text-align: left;
}

.route-search .align-second {
    text-align: left;
}

.tab-content .separator {
    border: none;
    height: 2px;
    width: 90%;
    margin: 2% auto;
}

.keyword-search .separator {
    background-color: #32A2D4;
}

.route-search .separator {
    background-color: #0A3C5A;
}

md-tabs-content-wrapper {
    top: 0.1px !important;
}

md-tabs-canvas {
    height: 0 !important;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .tab-content {
        padding: 0px !important;
    }
}
@media (min-width: 500px) and (max-width: 992px){
    .tab-content .input {
    display: block;
      width: 250px;
      margin-top: 2%;
      margin-left: 35%;
    }


}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .tab-content {
        padding: 20px 5px;
    }

    .tab-content .data-label {
        font-size: 1.3em;
        padding: 0 5px;
        width: 250px;
    }

    .tab-content .icon {
        height: 50px;
    }


    .tab-content .button {
        width: 400px;
        font-size: 1.3em;
        margin: 15px 0 0 0;
    }

    .route-search .data-label {
        padding: 0;
    }

    .route-search .my-position-icon {
        height: 25px;
    }

    .route-search .inline-block {
        display: block;
    }

    .keyword-search .align-first {
        text-align: center;
    }

    .keyword-search .align-second {
        text-align: center;
        
    }

    .route-search .align-first {
        text-align: center;
    }

    .route-search .align-second {
        text-align: center;

    }

  
    .md-margin-top {
        margin-top: 5px !important;
    }



    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .route-search .align-first {
        text-align: right;
    }

    .route-search .align-second {
        text-align: left;
        border-left:2px solid #0A3C5A;
    }
      .keyword-search .align-first {
        text-align: right;
    }

    .keyword-search .align-second {
        text-align: left;
        border-left: 2px solid #32A2D4;
    }
        .tab-content .input {
    display: inline-block;

    }
         .tab-content .input-route {
    display: inline-block;

    }
    .tab-content .separator {
        display: none;
     
    }

.tab-content .data-description {
    font-size: 1.1em;

}




}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


