<form>
	<fieldset class="form-group">
		Problema
		<input type="radio" name="problema_o_solucion" ng-model="problem.tipo" value="P">
		Solución
		<input type="radio" name="problema_o_solucion" ng-model="problem.tipo" value="S">
	</fieldset>

	<fieldset class="form-group">
		<label for="title">Seleccione Categoria</label>
			<!-- Click me: <input type="checkbox" ng-model="clicked" aria-label="Toggle ngHide"><br/> -->
			<div ng-model="clicked">
				<p>problem.categorias: %%problem.categorias%%</p>
				<div ng-hide="clicked">
					<p ><span class="label label-danger">EDIT</span></p>
					<select ng-model="problem.categorias[0]"
							ng-change="clearCategoryArray()"
					        ng-options="category.id as category.nombre for category in categorias | filter:{nivel:1}"
					        >
					        </select>
					<select ng-options="category.id as category.nombre for category in categorias | filter:{categoria_padre:problem.categorias[0], nivel:2}"
							ng-model="problem.categorias[1]"></select>

					<select ng-options="category.id as category.nombre for category in categorias | filter:{categoria_padre:problem.categorias[1], nivel:3}"
							ng-model="problem.categorias[2]"></select>

<!--                      <select ng-options="category.id as category.nombre for category in categorias" ng-model="problem.categorias[1]"></select>
					<select ng-options="category.id as category.nombre for category in categorias" ng-model="problem.categorias[2]"></select>
 -->


					<!-- <select ng-change="getCategoriesLevel2(problem.categorias[0],2)" ng-model="problem.categorias[0]">
						<option ng-repeat="category in rootCategories" value="%%category.id%%"   > %%category.nombre%% </option>
						<option ng-repeat="category.id as category.nombre for category in problem.categories.rootCategories" ng-model="problem.rootCategory"></option>
					</select>
					<select ng-change="getCategoriesLevel3(problem.categorias[1],3)" ng-model="problem.categorias[1]">
						<option ng-repeat="category in subcategoryTwo"   value="%%category.id%%" > %%category.nombre%% </option>
					</select>
					<select ng-model="problem.categorias[2]">
						<option ng-repeat="category in subcategoryThree" value="%%category.id%%" > %%category.nombre%% </option>
					</select>
				</div> -->

				<!-- <div ng-show="clicked">
					<p ><span class="label label-info">READ - from categories json</span></p>
					<select ng-model="clicked">
						<option>%%problem.categorias_completas[0].nombre%%</option>
					</select>
					<select>
						<option>%%problem.categorias_completas[1].nombre%%</option>
					</select>
					<select>
						<option>%%problem.categorias_completas[2].nombre%%</option>
					</select>
				</div> -->
			</div>
	</fieldset>

	<fieldset  class="form-group">
		<label for="name">Título</label>
		<input class="form-control" type="text" id="titulo" name="titulo" ng-model="problem.titulo">
	</fieldset>
	<fieldset  class="form-group">
		<label for="bio">Descripción</label>
		<textarea class="form-control" type="text" id="descripcion" name="descripcion" ng-model="problem.descripcion"> </textarea>
	</fieldset>
	<fieldset  class="form-group">
		<label for="tags">palabras clave:</label>
		<div>
	      	<autocomplete ng-model="tag.result" attr-placeholder="digite nueva palabra clave..." click-activation="true" data="results" on-type="doSomething" on-select="doSomethingElse"></autocomplete>
		    <div class="addContainer habilitado">
				<span class="addLetter" ng-click="add_tag(tag.result)">Adicionar palabra clave</span>
			</div>
		</div>
			<fieldset  class="form-group">
				<span class="tag" ng-repeat="tag in problem.tags" ng-click="remove_tag($index)">
					<span class="arrow" ></span>
					<span>&#10006; %%tag%%</span>
				</span>
			</fieldset>
	</fieldset>
	<div class="addContainer habilitado">
		<span class="addLetter" ng-click="saveProblem(problem)" ng-disabled="isSubmitting"> %%isSubmitting ? 'Guardando...':'Guardar'%% </span>
	</div>
</form>