<div class="jcarousel-wrapper">
    <div class="jcarousel">
        <ul>
            <li ng-repeat="img in images">
                <img src="%%img.URLfoto%%" width="600" height="400" alt=""
                     ng-click="imageClickEvent()">
            </li>
        </ul>
    </div>
    <a href="javascript:void(0)" class="jcarousel-control-prev">
        <img class="arrow-icon"
             src="./images/icons/site-detail/flecha-atras.png">
    </a>

    <a href="javascript:void(0)" class="jcarousel-control-next">
        <img class="arrow-icon"
             src="./images/icons/site-detail/flecha-adelante.png">
    </a>
</div>
