<div class="wrapper">
    <div class="connected-carousels modal-window-photos">
        <div class="photos-carousel-container">
            zzz<a ref="javascript:void(0)" class="close-button"> <img  src="./images/icons/site-detail/cerrar.png"></a>
            <a href="javascript:void(0)" class="prev prev-stage"><img class="arrow-icon" src="./images/icons/site-detail/flecha-atras.png"></a>
            <div class="carousel carousel-stage stage">
                <ul>
                    <li ng-repeat="img in images"><img src="%%img.URLfoto%%" width="600" height="400" alt=""></li>
                </ul>
            </div>
            <a href="javascript:void(0)" class="next next-stage"><img class="arrow-icon" src="./images/icons/site-detail/flecha-adelante.png"></a>
        </div>

        <div class="navigation-container">
            <div class="navigation">
                <a href="javascript:void(0)" class="prev prev-navigation">&lsaquo;</a>
                <a href="javascript:void(0)" class="next next-navigation">&rsaquo;</a>
                <div class="carousel carousel-navigation">
                    <ul>
                        <li ng-repeat="img in images"><img src="%%img.URLfoto%%" width="50" height="50" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

