<div layout="row" layout-align="space-around center" class="barra_main"></div>
<div layout="row" layout-align="space-around center" class="homeSubHeaderPicture">FOTO</div>
<div layout="row" layout-align="space-between center" class="formContainer">
    <div class="searchDiv" flex>
        <input class="searchInput" type="text" placeholder="Busca por palabra clave">
        <button class="searchButton">Buscar
            <img class="img_box seacrhIcon" src="./images/botones/Lupa.png">
        </button>
    </div>
    <div class="makeRouteDiv" flex>Second item in row</div>
</div>

