<div class="hidden-xs hidden-sm">
    <app-header></app-header>
</div>
<loader></loader>
<div class="row topMarginHeader registerSiteBackgroundColor backgroundFillViewPort">
    <div class="col-md-4  col-md-offset-4 centerColumnNoPadding registerSiteFormBackgroundColor">
        <div class="header container-fluid">
            <div class="col-xs-1 registerHeaderBackIconcontainer">
                <a href="#/home"><img class="registerHeaderBackIcon" src="./images/registerIcons/atras.png"></a>
            </div>
            <p class="text" translate="LOGIN.MUNICIPALITY_LOGIN"></p>
        </div>

        <form name="municipalitylogininfoForm" class="form-group form">
            <div class="row control">
                <div class="col-xs-2 container-fluid">
                    <img class="confirmRegisterIcons" src="./images/registerIcons/mail.png">
                </div>
                <div class="container-fluid col-xs-10 emailTraderContainer">
                    <input input placeholder="Regular Placeholder" translate
                           translate-attr-placeholder="LOGIN.EMAIL_MUNICIPAPLITY_INPUT"
                           class="form-control col-xs-10 businessAddressInput"
                           name="email"
                           type="email" ng-model="loginMunicipalityFields.email" required>

                    <i ng-show="loginMunicipalityFields.email==undefined"

                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconRegisterStar"></i>
                </div>
            </div>
     <span class="error" ng-show="submitted && municipalitylogininfoForm.email.$error.required"
           translate="REGISTER_USER_CONSTANTS.REQUIRED_FIELD"></span>
     <span class="error" ng-show="submitted && municipalitylogininfoForm.email.$error.email"
           translate="REGISTER_USER_CONSTANTS.EMAIL_VALIDATION"></span>

            <div class="row control topMarginHeader">
                <div class="container-fluid col-xs-12">
                    <input input placeholder="Regular Placeholder" translate
                           translate-attr-placeholder="LOGIN.PASSWORD_INPUT"
                           class="form-control col-x    s-10 businessAddressInput"
                           name="password" type="password" ng-model="loginMunicipalityFields.password" required>

                    <i ng-show="loginMunicipalityFields.password==undefined"
                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconRegisterStar"></i>
                    <span ng-show="loginMunicipalityFields.password.length<6" class="error" translate="LOGIN.PASSWORD_LENGTH"></span>
                </div>
            </div>
   <span class="error" ng-show="submitted && municipalitylogininfoForm.password.$error.required"
         translate="REGISTER_USER_CONSTANTS.REQUIRED_FIELD"></span>

            <div class="registerTrader-button NextButtonRegister topMarginElements col-xs-12">
                <button id="login" class="button" translate="LOGIN.LOGIN_BUTTON" ng-click="loginMunicipality()"></button>
            </div>


            <div class="registerTraderLineSeparator row col-xs-12"></div>
        </form>

        <div id="alertPop" ng-cloak></div>

        <div class="bottom-text ">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <p class="already-registered-text" translate="LOGIN.FORGOT_MUNICIPALITY_PASWORD"></p>
                <a href="" style="text-decoration: none"><p class="signup-text" translate="LOGIN.ADMINISTRATOR_ACCESS_REQUEST"></p></a>
            </div>
            <div class="col-xs-3"></div>
        </div>

    </div>
</div>