<div class="hidden-xs hidden-sm">
    <app-header></app-header>
</div>
<loader></loader>
<div class="row topMarginHeader registerSiteBackgroundColor backgroundFillViewPort">
    <div class="col-md-4  col-md-offset-4 centerColumnNoPadding registerSiteFormBackgroundColor">
        <div class="header container-fluid">
            <div class="col-xs-1 registerHeaderBackIconcontainer">
                <a href="#/home"><img class="registerHeaderBackIcon" src="./images/registerIcons/atras.png"></a>
            </div>
            <p class="text" translate="RECOVERY_PASSWORD.TITLE"></p>
        </div>

        <form name="recoveryPasswordForm" class="form-group form">
            <div class="row control">
                <div class="col-xs-2 container-fluid">
                    <img class="confirmRegisterIcons" src="./images/registerIcons/mail.png">
                </div>
                <div class="container-fluid col-xs-10 emailTraderContainer">
                    <input input placeholder="Regular Placeholder" translate
                           translate-attr-placeholder="RECOVERY_PASSWORD.EMAIL"
                           class="form-control col-xs-10 businessAddressInput"
                           name="email"
                           type="email" ng-model="recoveryPasswordField.email" required>

                    <i ng-show="recoveryPasswordField.email==undefined"

                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconRegisterStar"></i>
                </div>
            </div>

     <span class="error" ng-show="submitted && recoveryPasswordForm.email.$error.required"
           translate="REGISTER_USER_CONSTANTS.REQUIRED_FIELD"></span>
     <span class="error" ng-show="submitted && recoveryPasswordForm.email.$error.email"
           translate="REGISTER_USER_CONSTANTS.EMAIL_VALIDATION"></span>

            <div class="registerTrader-button NextButtonRegister topMarginElements col-xs-12">
                <button id="login" class="button" translate="RECOVERY_PASSWORD.RECOVERY_BUTTON" ng-click="sendRecoveryPasswordEmail()"></button>
            </div>
        </form>

    </div>
</div>