.masterContainer {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}

header {
    background: #285453;
    width: 100%;
    padding: 20px;
    height: 8%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

header .logo a {
    font-size: 3em;
    text-decoration: none;
}

header nav {
    width: 40%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 2em;

    flex-grow: 1;
}

p{
    text-align: left;
}

.carousel {
    width: 100%;
    height: 400px;
    background-color: #59585B;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.carouselText{
    color: white;
    margin-left: 40%;
}

.howWorksButton{
    width: 20%;
    border: 1px solid #5FF0BF;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 2em;
    background-color: #5FF0BF;
    color: #285453;
    padding: 5px;
    margin-left: 40%;
}

.searchSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.searchDiv {
    width: 50%;
    background-color: #3BC6D0;
    padding: 2px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.searchLabel{
    font-size: 1.5em;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    text-align: center;
    color: white;
    border-bottom: 5px solid #5FF0BF;
}

.seacrhIcon{
    height: 3em;
    width: 1em;
    margin-left: 2%;
}

.searchMenu {
    background-color: whitesmoke;
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: row wrap;

}

.desktopLayout{
    display: flex;
}

.mobile{
    display: none;
}

.StepIconContainer{
    width: 6%;
    height: 100px;


    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.stepIcon{
    height: 3em;
    width: 1em;
    margin-top: 20%;
}

.stepLabelsContanier{
    width: 22%;
    height: 100px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.stepTitle{
    color: #2EAAA4;
    font-size: 1.5em;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    margin-top: 5%;
}

.subTitle{
    color: #285453;
}

.searchInputContainer{
    width: 18%;
    height: 100px;
    margin-left: 2%;

    display: flex;
    flex-flow: column wrap;
}

.searchInput{
    width: 100%;
    border-radius: 10px;
    font-family: 'PT Sans', sans-serif;
    border: 1px solid #B6EDEA;
    font-weight: normal;
    font-size: 1.0em;
    color: #868684;
    background: #B6EDEA;
    margin-top: 5%;
}

#secondStepIconContainer{
    margin-left: 2%;
}

.dropDownTowns{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #B6EDEA;
    background: #B6EDEA;
    color: #868684;
}

.searchButtonContainer{
    width: 100%;
    height: 5%;
    background-color: #3BC6D0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.searchButton{
    width: 20%;
    height: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid #B6EDEA;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 1.0em;
    background-color: #B6EDEA;
    color: #2B91C8;
    padding: 5px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.routeDiv {
    width: 50%;
    background-color: #D19637;
}



@media screen and (max-width: 1000px) {
    .desktopLayout{
        display: none;
    }

    .mobile{
        display: flex;
    }

    .stepsContainerMobile{
        width: 100%;
        margin-top: 5%;
        height: auto;
        flex-flow: column wrap;
    }

    .stepContainerMobile{
        width: 80%;
        height: auto;
        margin-left: 5%;
        margin-right: 15%;

        display: flex;
        flex-flow: column wrap;

    }

    .imageAndTextMobileContainer{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }

    .imageContainerMobile{
        width: 10%;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .textContainerMobile{
        width: 90%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    .inputBoxMobile{
        width: 30%;
        margin-left: 10%;

        display: flex;
        flex-flow: row wrap;
    }

    .searchInput{
        font-size: 0.9em;
    }


    .stepsDivider{
        width: 90%;
        margin: 2% 5% 3% 5%;
        height: 2px;
        background-color: #5FF0BF;
    }

}
