<app-header></app-header>
<loader></loader>

<div class="row search-results">
    <div class="col-md-6 no-padding">
        <div class="header container-fluid route-header-color">
            <div class="col-xs-1 registerHeaderBackIconcontainer" ng-click="changeViewMunicipalityAccount()">
                <img class="registerHeaderBackIcon" src="./images/registerIcons/atras.png">
            </div>
            <p class="text" translate="ROUTE_CREATION.FORM_TITLE"></p>
        </div>

        <form name="municipalityRouteBasicInfoForm" class="form-group form col-xs-10 col-xs-offset-1">
            <div class="row control">
                <div class="col-xs-2 container-fluid">
                    <img class="confirmRegisterIcons" src="./images/icons/municipio_puntos.png">
                </div>
                <div class="container-fluid col-xs-10 emailTraderContainer">
                    <input input placeholder="Regular Placeholder" translate
                           translate-attr-placeholder="ROUTE_CREATION.ROUTE_NAME"
                           class="form-control col-xs-10 businessAddressInput"
                           name="routeName"
                           type="text" ng-model="$parent.routeName" required>

                    <i ng-show="routeName==undefined"

                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconRegisterStar"></i>
                </div>
            </div>
     <span class="error" ng-show="submitted && municipalityRouteBasicInfoForm.routeName.$error.required"
           translate="REGISTER_USER_CONSTANTS.REQUIRED_FIELD"></span>

         <div class="input topMarginElements col-xs-12 no-padding">
             <textarea placeholder="Regular Placeholder" translate
                       translate-attr-placeholder="ROUTE_CREATION.ROUTE_DESCRIPTION"
                       class="form-control businessAddressInput"
                       name="routeDescription" ng-model="$parent.routeDescription" required></textarea>
             <i ng-show="routeDescription==undefined"
                class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconStarColor"></i>
             <span ng-show="submitted && municipalityRouteBasicInfoForm.routeDescription.$error.required"
                   class="errorField businessAddressText"
                   translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
         </div>
        </form>

        <div class="registerTraderLineSeparator topMarginElements col-xs-10 col-xs-offset-1"></div>

        <form name="municipalityRoutePointsForm" class="form-group form col-xs-10 col-xs-offset-1">
            <div class="row businessAddressText topMarginElements municipality-description-bottom-margin citizen-hall-title col-xs-12">
                <span class="texto-claro-business"
                      translate="ROUTE_CREATION.MAKE_ROUTE_TIP"></span>
            </div>



            <div class="row control">
                <div class="col-xs-2 container-fluid">
                    <img class="confirmRegisterIcons" src="./images/icons/salida-mapa.png">
                </div>
                <div class="container-fluid col-xs-10 emailTraderContainer">
                    <browser-input-field isonmapview="false" isoncreateroute="true" result="result" do-search="doSearch(result)"
                                         show-route="showRoute()"
                                         subcategory-search="doSearch(subcategoryname)" placeholdertext="startPoint"></browser-input-field>

                    <i ng-show="routeName==undefined"

                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconRegisterStar"></i>
                </div>
            </div>

            <fieldset  data-ng-repeat="site in routeSites">
                <input type="text" ng-model="site.name" name="" placeholder="Enter mobile number">
                <button class="remove" ng-click="removeSite($index)">-</button>
            </fieldset>


            <div ng-show="routeSites.length<8" class="row control">
                <div class="col-xs-2 container-fluid">
                </div>
                <div class="route-controls add-route-point-container">
                    <div class="control add-route-site-button no-padding" ng-click="addSite()">
                        <p class="add-route-site-text" translate="ROUTE_CREATION.ADD_SITE"></p>
                        <img src="./images/icons/municipio_puntos.png">
                    </div>
                </div>
            </div>



            <div class="row control">
                <div class="col-xs-2 container-fluid">
                    <img class="confirmRegisterIcons" src="./images/icons/llegada-mapa.png">
                </div>
                <browser-input-field isonmapview="false" isoncreateroute="true" result="result" do-search="doSearch(result)"
                                     show-route="showRoute()" placeholdertext="endPoint"
                                     subcategory-search="doSearch(subcategoryname)"></browser-input-field>
            </div>


            <div class=" municipality-info-buttons-conatiner next-button NextButtonRegister topMarginElements col-xs-12">
                <button class="button edit-section-button cancel-button municipality-info-buttons"
                        ng-click="cancelRegister()"
                        translate="CANCEL_BUTTON"></button>
                <button class="button municipality-info-buttons"
                        ng-click="changeViewLocation()" translate="ACCOUNT_INFO.SAVE_BUTTON"></button>
            </div>

        </form>

    </div>

    <div class="col-md-6 map map-container-no-padding" ng-if="!isMobileDevice()">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control"/>
    </div>
</div>