.route-header-color{
    background-color: #0E5072;
}

.add-route-point-container{
    background-color: white !important;
    flex-flow: column wrap;
    align-items: flex-start;
}

.add-route-site-button{
    margin: 0px !important;
    background-color: #97D3E8 !important;
}

.add-route-site-text{
    color:#0A3C5A;
    font-family: "PT Sans";
    font-weight: normal;
}

.autocomplete-site-browser{
    background-color: #F2F2F2 !important;
}

.autocomplete-li-border{
    border-left: solid 1px #C7C7CD;
    border-right: solid 1px #C7C7CD;

}

.margin-left{
    margin-left: 10px;
}

.route-subtitles{
    color: #32A2D4;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
}

.route-subtitles-size{
    font-size: 1.3em !important;
}

.route-description{
    min-height: 80px;
}

.scrollable-route-form{
    overflow-y: scroll;
    height: 580px;
}

.correct-width{
    width:102%;
}

.input-create-route{
    background-color: #F2F2F2;
    height: 40px;
}

.input-create-route-highlight {
    color: #000;
    font-weight: bold;
}

.add-site-route-button{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #97D3E8 !important;
    height: 40px;
    border: none;
    padding: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.route-list-title-container{
    display: inline-block;
}

.route-list-title{
    font-size: 1.3em;
    font-weight: bold;
    color: #32A2D4;
}


@media (max-width: 767px) {
    .add-site-icon{
        height: 8vmin;
        width: 8vmin;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .add-site-icon{
        height: 5vmin;
        width: 5vmin;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .add-site-icon{
        height: 4vmin;
        width: 4vmin;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .add-site-icon{
        height: 4vmin;
        width: 4vmin;
    }
}