<div class="hidden-xs hidden-sm">
    <app-header></app-header>
</div>
<form name="registerMunicipalityInfoForm">
    <div class="row topMarginHeader registerSiteBackgroundColor backgroundFillViewPortSummary">
        <div class="col-md-4  col-md-offset-4 centerColumnNoPadding PhotosFormPadding registerSiteFormBackgroundColor">
            <div class="header container-fluid">
                <div class="col-xs-1 registerHeaderBackIconcontainer" ng-click="changeViewHome()">
                    <img class="registerHeaderBackIcon" src="./images/registerIcons/atras.png">
                </div>
                <p class="text" translate="REGISTER_MUNICIPALITY_CONSTANTS.MUNICIPALITY_INFORMATION"></p>
            </div>
            <ul class="progress-bar1 progressBarPadding topMarginElements">
                <li class="done-step"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>


            <div class="row businessAddressText topMarginElements">
                <div class="col-xs-2">
                    <img class="confirmRegisterIcons" src="./images/registerIcons/Nombre_municipio.png">
                </div>
                <div class="col-xs-10">
                    <select ng-model="municipalitySelected"
                            ng-options="obj.nombre for obj in municipalities track by obj.id"
                            name="municipality"
                            class="top-margin-municipality-combo-box combo-box-municipality-register-info form-control businessAddressInput businessAddressText"
                            ng-change="deleteBusinessLocation()"
                            required>
                        <option value="" translate="REGISTER_SITE_CONSTANTS.SELECT_TOWN"></option>
                    </select>
                    <i ng-show="municipalitySelected==undefined"
                       class="form-control-feedback top-margin-municipality-combo-box glyphicon glyphicon-asterisk glyphiconStarColor glyphiconTownMunicipalityStar"></i>
                        <span ng-show="showRequiredFieldMessage && registerMunicipalityInfoForm.municipality.$error.required"
                              class="errorField businessAddressText"
                              translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
                </div>

            </div>



            <div class="input topMarginElements col-xs-12 municipality-description-bottom-margin">
                        <textarea placeholder="Regular Placeholder" translate
                                  translate-attr-placeholder="REGISTER_MUNICIPALITY_CONSTANTS.MUNICIPALITY_DESCRIPTION"
                                  class="municipality-description-height form-control businessAddressInput businessAddressText"
                                  name="municipalityDescription" ng-model="$parent.municipalityDescription" required></textarea>
                <i ng-show="municipalityDescription==undefined"
                   class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconStarColor glyphiconBusinessDescriptionStar"></i>
                        <span ng-show="showRequiredFieldMessage && registerMunicipalityInfoForm.municipalityDescription.$error.required"
                              class="errorField businessAddressText"
                              translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
            </div>


            <div class="row businessAddressText municipality-description-bottom-margin citizen-hall-title col-xs-12">
                <span class="texto-claro-business"
                        translate="REGISTER_MUNICIPALITY_CONSTANTS.MUNICIPALITY_CITIZEN_HALL_INFO_TITLE"></span>
            </div>


            <div class="row businessAddressText topMarginElements">
                <div class="col-xs-2">
                    <img class="confirmRegisterIcons" src="./images/registerIcons/telefono.png">
                </div>
                <div class="col-xs-10">
                    <input type="tel" ng-pattern="/^\d+$/" ng-minlength="7" ng-maxlength="10"
                           class="form-control businessAddressInput" name="businessPhone" type="text" translate
                           translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_PHONE"
                           ng-model="$parent.municipalityPhoneNumber" name="municipalityPhoneNumber2" required/>

                    <i ng-show="municipalityPhoneNumber==undefined"
                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconStarColor glyphiconBusinessStar"></i>
                    <span ng-show="showRequiredFieldMessage && registerMunicipalityInfoForm.businessPhone.$error.required"
                          class="errorField" translate="REGISTER_SITE_CONSTANTS.PHONE_VALIDATION"></span>
                </div>
            </div>
            <div class="row businessAddressText topMarginElements">
                <div class="col-xs-2">
                    <img class="confirmRegisterIcons" src="./images/registerIcons/whatsapp.png">
                </div>
                <div class="col-xs-10">
                    <input type="text" class="form-control businessAddressInput" name="municipalityWhatsapp" type="text"
                           ng-model="$parent.municipalityWhatsapp" translate
                           translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_WHATS_APP"/>


                </div>
            </div>
            <div class="row businessAddressText topMarginElements">
                <div class="col-xs-2">
                    <img class="confirmRegisterIcons" src="./images/registerIcons/web.png">
                </div>
                <div class="col-xs-10">
                    <input type="text" class="form-control businessAddressInput" name="municipalityWeb" type="text"
                           ng-model="$parent.municipalityWeb" translate
                           translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_WEB"/>
                </div>
            </div>

            <div class="input topMarginElements col-xs-12">
                        <textarea placeholder="Regular Placeholder" translate
                                  translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_OPENINGHOURS"
                                  class="form-control businessAddressInput businessAddressText"
                                  name="municipalityOpeningHours" ng-model="$parent.municipalityOpeningHours"></textarea>
            </div>
            <div class="row businessAddressText  col-xs-12">
                    <span class="texto-oscuro-business"
                          translate="REGISTER_MUNICIPALITY_CONSTANTS.MUNICIPALITY_OPENINGHOURS_TEXT"> </span>
                <span
                        class="texto-claro-business"
                        translate="REGISTER_SITE_CONSTANTS.BUSINESS_OPENINGHOURS_TEXT_EXAMPLE"></span>
            </div>

            <div class=" next-button NextButtonRegister topMarginElements col-xs-12">
                <button class="button"
                        ng-click="changeViewLocation()" translate="REGISTER_SITE_CONSTANTS.NEXT_BUTTON"></button>
            </div>


        </div>
    </div>
</form>



