<div style="flex-flow: column wrap;" class="row popup-carousel carousel-photos-display-desktop" ng-if="selectedSite.fotos">

    <div class="text-center" ng-click="closeDialogWindowPhotos()">
        <img class="close-button" src="./images/icons/site-detail/cerrar.png">
    </div>


    <slick infinite="true" fade="true" css-ease="linear" speed="200" next-arrow=".right" prev-arrow=".left">
        <div style="display: flex; flex-flow: row wrap; justify-content: center" ng-repeat="photo in selectedSite.fotos">
            <img class="icon photos-carousel-arrow left" src="./images/icons/site-detail/flecha-atras.png"/>
            <img style="min-height: 800px; width: auto !important"  class="image" ng-src="%%photo.URLfoto%%"/>
            <img class="icon photos-carousel-arrow right" src="./images/icons/site-detail/flecha-adelante.png" />
        </div>
    </slick>

</div>

<div class="row popup-carousel carousel-photos-display-mobile" ng-if="selectedSite.fotos">
    <div class="text-center" ng-click="closeDialogWindowPhotos()">
        <img class="close-button" src="./images/icons/site-detail/cerrar.png">
    </div>
    <ul rn-carousel rn-carousel-controls rn-carousel-index="carouselIndex" class="carousel">
        <li ng-repeat="photo in selectedSite.fotos" class="text-center">
            <img class="image" ng-src="%%photo.URLfoto%%"/>
        </li>
    </ul>
</div>