<app-header></app-header>
<div class="row search-results">
    <md-progress-circular class="loading" md-mode="indeterminate"
                          ng-show="loading"></md-progress-circular>

    <div class="col-md-6 no-padding">
        <div ng-show="isShowingSiteDetail" class="site-detail-search-route">
            <div ng-click="goBackToSiteList()" class="back-button">
                <img class="registerHeaderBackIcon" src="./images/registerIcons/atras.png">
            </div>

            <div ng-show="initialSelectedSite.id!=selectedSite.id && hasMadeFirstRouteToSite" ng-click="backToInitialPlace(initialSelectedSite)" class="get-there get-there-mobile" class="search-button">
                <p translate="INITIAL_PLACE"></p>
                <img class="detail-icon" src="./images/icons/paso1.png">
            </div>

            <div ng-show="!hasMadeCurrentSiteRoute" class="get-there get-there-mobile" ng-click="showRouteToSite(selectedSite)" class="search-button">
                <p translate="HOW_TO_GET_THERE"></p>
                <img class="detail-icon" src="./images/icons/arma-tu-ruta.png">
            </div>

            <div ng-show="hasMadeCurrentSiteRoute" class="get-there get-there-mobile" class="search-button">
                <p translate="DESTINY"></p>
                <img class="detail-icon" src="./images/icons/llegada-mapa.png">
            </div>

        </div>
        <div ng-show="!isShowingSiteDetail || isOnSitedetails">
            <search-tabs ng-show="!isOnSitedetails" isonmap="true" result="result" subcategoryname="subcategoryname" do-search="doSearch(result)"
                         show-route="showRoute()" subcategory-search="subcategorySearch"></search-tabs>
            <div class="map" ng-if="isMobileDevice()" ng-show="resulListInCompactMode || isOnSitedetails">
                <ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control"/>
            </div>
        </div>
        <div class="result-list">
            <div ng-if="noResults" class="center-block text-center">
                <h4 class="no-results" translate="NO_RESULTS"></h4>
            </div>
            <div ng-show="foundSites.length > 0 && !isShowingSiteDetail">
                <div ng-if="!showResultListHorizontally()"
                     ng-repeat="site in foundSites"
                     ng-mouseover="highLightMarker($index)"
                     ng-mouseleave="clearHighLightedMarker($index)">
                    <div class="list-item ">
                        <div class="row" ng-click="showSiteDetail(site, $index)">
                            <div class="col-xs-8 info">
                                <div class="row category-container-map-list-result">
                                    <img class="icon" ng-src="%%site.categoryicon%%">
                                    <h3 class="">%%site.nombre%%</h3>
                                </div>
                                <h4 class="">%%site.municipio.nombre%%</h4>
                                <p clamp="3" class="description">%%site.descripcion%%</p>
                            </div>
                            <div class="col-xs-4 image">
                                <img class="img-responsive  site-photo-height"
                                     ng-src="%%(site.fotos | filter:{tipo:'P'}:true)[0].URLfoto%%"/>
                            </div>
                        </div>
                    </div>
                    <div class="item-separator"></div>
                </div>

                <ul rn-carousel rn-carousel-controls ng-if="showResultListHorizontally()" class="image"
                    style="height: 110px;">
                    <li ng-repeat="site in foundSites"
                        ng-mouseover="highLightMarker($index)"
                        ng-mouseleave="clearHighLightedMarker($index)">
                        <div class="list-item list-item-background">
                            <div class="row vertical-align-arrow" ng-click="showSiteDetail(site, $index)">
                                <div class="col-xs-7 info">
                                    <div class="row category-container-map-list-result">
                                        <img class="icon" ng-src="%%site.categoryicon%%">
                                        <h3 class="">%%site.nombre%%</h3>
                                    </div>
                                    <h4 class="">%%site.municipio.nombre%%</h4>
                                    <p clamp="3" class="description">%%site.descripcion%%</p>
                                </div>
                                <div class="col-xs-3 image">
                                    <img class="img-responsive"
                                         ng-src="%%(site.fotos | filter:{tipo:'P'}:true)[0].URLfoto%%"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="centerColumnNoPadding col-xs-6" ng-click="showRouteToSite(site)">
                                    <img class="icon" src="./images/icons/arma-tu-ruta.png">
                                    <h3 class="display-h-inline" translate="HOW_TO_GET_THERE"></h3>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div ng-show="isShowingSiteDetail">
                <div class="row site-detail-carousel" ng-if="selectedSite.fotos">
                    <ul ng-if="isMobileDevice()" rn-carousel rn-carousel-controls rn-carousel-index="carouselIndex" class="carousel"
                        ng-click="openDialogWindowPhotos()">
                        <li ng-repeat="photo in selectedSite.fotos" class="text-center">
                            <img class="image" ng-src="%%photo.URLfoto%%"/>
                        </li>
                    </ul>
                    <carousel ng-if="!isMobileDevice()" images="selectedSite.fotos" image-click-event="openDialogWindowPhotos()">
                    </carousel>
                </div>

                <div class="row">
                    <div class="site-detail col-md-12">
                        <h1 class="name">%%selectedSite.nombre%%</h1>
                        <h2 class="location">%%selectedSite.municipio.nombre%%</h2>
                        <div class="item">
                            <img src="./images/icons/site-detail/descripcion.png">
                            <span class="light-text" translate="SITE_DETAIL_CONSTANTS.DESCRIPTION"></span>
                            <p class="dark-text">%%selectedSite.descripcion%%</p>
                        </div>
                        <div ng-show="!isEmpty(selectedSite.horariolocal)" class="item">
                            <img src="./images/icons/site-detail/horario.png">
                            <span class="light-text" translate="SITE_DETAIL_CONSTANTS.OPENINGHOURS"></span>
                            <p class="dark-text">%%selectedSite.horariolocal%%</p>
                        </div>
                        <div class="item">
                            <img src="./images/icons/site-detail/direccion.png">
                            <span class="dark-text">%%selectedSite.ubicacionlocal%%</span>
                        </div>
                        <div class="item">
                            <img src="./images/icons/site-detail/telefono.png">
                            <span class="dark-text"><a
                                    ng-href="tel:%%selectedSite.telefono%%">%%selectedSite.telefono%%</a></span>
                        </div>
                        <div ng-show="!isEmpty(selectedSite.whatsapp)" class="item">
                            <img src="./images/icons/site-detail/whatsapp.png">
                            <span class="dark-text"><a
                                    ng-href="tel:%%selectedSite.whatsapp%%">%%selectedSite.whatsapp%%</a></span>
                        </div>
                        <div ng-show="!isEmpty(selectedSite.web)" class="item">
                            <img src="./images/icons/site-detail/web.png">
                            <span class="light-text"><a
                                    ng-href="%%selectedSite.web%%" target="_blank">%%selectedSite.web%%</a></span>
                        </div>
                    </div>
                </div>


                    <div ng-show="foundSites.length > 0 && routeToSiteIsVisible">
                        <div ng-show="selectedSite.id!=site.id" class="item-separator"></div>
                        <div ng-repeat="site in foundSites"
                             ng-mouseover="highLightMarker($index)"
                             ng-mouseleave="clearHighLightedMarker($index)">
                            <div ng-show="selectedSite.id!=site.id" class="list-item ">
                                <div class="row" ng-click="showSiteDetail(site, $index)">
                                    <div class="col-xs-8 info">
                                        <div class="row category-container-map-list-result">
                                            <img class="icon" ng-src="%%site.categoryicon%%">
                                            <h3 class="">%%site.nombre%%</h3>
                                        </div>
                                        <h4 class="">%%site.municipio.nombre%%</h4>
                                        <p clamp="3" class="description">%%site.descripcion%%</p>
                                    </div>
                                    <div class="col-xs-4 image">
                                        <img class="img-responsive  site-photo-height"
                                             ng-src="%%(site.fotos | filter:{tipo:'P'}:true)[0].URLfoto%%"/>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="selectedSite.id!=site.id" class="item-separator"></div>
                        </div>
                    </div>




            </div>
        </div>
    </div>

    <div class="col-md-6 map map-container-no-padding" ng-if="!isMobileDevice()">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control"/>
    </div>
</div>