.angular-google-map-container {
    height: 80vh;
}

.map-control {
    margin: 20px;
}

.loadingSitesOnMap{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}