/*.angular-google-map {
    display: inline-block;

    width: 60vw;
    height: 50vh;
    top: 0px;
}*/

.search-results .map {
    padding: 0;
}

.search-results .angular-google-map-container {
    height: 50vh;
}

.search-results .result-list {
}

.search-results .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.result-list .list-item {

}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}