<ecosistema-header-directive style="width: 100%; height: auto"></ecosistema-header-directive>
<search-and-route-tabs-section class="searchAndRouteSection"></search-and-route-tabs-section>
<search-tab-content-map class="searchAndRouteSection"></search-tab-content-map>

<div class="map-control">
    <div class="input-group">
        <label for="routeOrigin">Desde</label>
        <input id="routeOrigin" type="text" class="input-lg" ng-model="routeOrigin" ng-click="clearRouteOrigin()">
        <button class="btn btn-default" aria-label="Left Align" ng-click="goToUserPosition()">
            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
        </button>
    </div>
    <div class="input-group">
        <label for="routeDestination">Hasta</label>
        <input id="routeDestination" type="text" class="input-lg" ng-model="routeDestination"
               ng-click="clearRouteDestination()">
    </div>
    <button class="btn btn-primary" ng-click="calculateRoute()">Calcular ruta</button>
</div>

<div class="row">
    <md-progress-circular class="loadingSitesOnMap" md-mode="indeterminate" ng-show="loading"></md-progress-circular>

    <div class="col-md-5 found-sites" ng-show="foundSites.length > 0">
        <div ng-repeat="site in foundSites" class="row item">
            <div class="row boton" ng-click="showSiteDetail($index)" ng-mouseover="highLightMarker($index)" ng-mouseleave="clearHighLightedMarker($index)">

                <div class="text col-md-8">
                    <h1 class="title">%%site.nombre%%</h1>
                    <p class="desc">%%site.descripcion%%</p>
                </div>
                <div class="col-md-4 image">
                    <img ng-src='%%site.URLfoto%%' class="img-rounded"/>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-default clase1">COMO LLEGAR</button>
            </div>
        
        </div>
    </div>
    <div class="col-md-7">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control"/>
    </div>
</div>