.route-controls {
    background-color: #2F6586;
    text-align: right;
    display: flex;
}

.route-controls .list-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 5px auto 5px 7px;
}

.route-controls .list-button img {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 7px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.route-controls .control {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: #32A2D4;
    border-radius: 5px;
    margin: 5px 7px;
}

.route-controls .destination {
    cursor: auto;
    background-color: #2F6586;
}

.route-controls .destination p {
    color: #fff;
    padding-left: 40px !important;
}

.route-controls .control p {
    display: inline-block;
    padding: 10px 7px 10px 50px;
    margin: 0;
    font-weight: bold;
    font-size: 1.3em;
}

.route-controls .control img {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 7px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

