<div class="hidden-xs hidden-sm">
    <app-header></app-header>
</div>
<loader></loader>

<form name="registerSiteForm">
    <div class="row topMarginHeader registerSiteBackgroundColor backgroundFillViewPortSummary">
        <div class="col-md-4  col-md-offset-4 centerColumnNoPadding PhotosFormPadding registerSiteFormBackgroundColor">
            <div class="header container-fluid">
                <div class="col-xs-1 registerHeaderBackIconcontainer" ng-click="changeViewHome()">
                    <img class="registerHeaderBackIcon" src="./images/registerIcons/atras.png">
                </div>
                <p ng-show="user.tipo_cuenta=='C'" class="text" translate="REGISTER_SITE_CONSTANTS.BUSINESS_INFORMATION"></p>
                <p ng-show="user.tipo_cuenta=='M'" class="text" translate="REGISTER_SITE_CONSTANTS.BUSINESS_MUNICIPALITY_INFORMATION"></p>
            </div>
            <ul class="progress-bar1 progressBarPadding topMarginElements">
                <li class="done-step"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>


            <div class="row businessAddressText topMarginElements">
                <div class="col-xs-2">
                    <img class="confirmRegisterIcons" src="./images/registerIcons/nombre-negocio.png">
                </div>
                <div class="col-xs-10">
                    <input ng-show="user.tipo_cuenta=='C'" type="text" placeholder="Regular Placeholder" translate
                           translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_NAME"
                           class="form-control businessAddressInput" name="businessName" type="text"
                           ng-model="$parent.businessName" required/>


                    <input ng-show="user.tipo_cuenta=='M'" type="text" placeholder="Regular Placeholder" translate
                           translate-attr-placeholder="REGISTER_SITE_CONSTANTS.MUNICIPALITY_BUSINESS_NAME"
                           class="form-control businessAddressInput" name="businessName" type="text"
                           ng-model="$parent.businessName" required/>

                    <i ng-show="businessName==undefined"
                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconStarColor glyphiconBusinessStar"></i>
                        <span ng-show="showRequiredFieldMessage && registerSiteForm.businessName.$error.required"
                              class="errorField" translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
                </div>

            </div>

            <div class="row businessAddressText topMarginElements">
                <div class="col-xs-2">
                    <img class="confirmRegisterIcons" src="./images/registerIcons/telefono.png">
                </div>
                <div class="col-xs-10">
                    <input type="tel" ng-pattern="/^\d+$/" ng-minlength="7" ng-maxlength="10"
                           class="form-control businessAddressInput" name="businessPhone" type="text" translate
                           translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_PHONE"
                           ng-model="$parent.sitePhoneNumber" name="sitePhoneNumber2" required/>

                    <i ng-show="sitePhoneNumber==undefined"
                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconStarColor glyphiconBusinessStar"></i>
                    <span ng-show="showRequiredFieldMessage && registerSiteForm.businessPhone.$error.required"
                          class="errorField" translate="REGISTER_SITE_CONSTANTS.PHONE_VALIDATION"></span>
                </div>
            </div>
            <div class="row businessAddressText topMarginElements">
                <div class="col-xs-2">
                    <img class="confirmRegisterIcons" src="./images/registerIcons/whatsapp.png">
                </div>
                <div class="col-xs-10">
                    <input type="text" class="form-control businessAddressInput" name="businessWhatsapp" type="text"
                           ng-model="$parent.whatsapp" translate
                           translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_WHATS_APP"/>


                </div>
            </div>
            <div class="row businessAddressText topMarginElements">
                <div class="col-xs-2">
                    <img class="confirmRegisterIcons" src="./images/registerIcons/web.png">
                </div>
                <div class="col-xs-10">
                    <input type="text" class="form-control businessAddressInput" name="businessWeb" type="text"
                           ng-model="$parent.web" translate
                           translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_WEB"/>
                </div>
            </div>



            <div class="topMarginElements col-xs-12">
                <select ng-model="businessMunicipality"
                        ng-options="obj.nombre for obj in municipalities track by obj.id"
                        name="municipality"
                        class="form-control businessAddressInput businessAddressText"
                        ng-class="isInMunicipalitySite?'disabled-color':''"
                        ng-change="deleteBusinessLocation()"
                        required
                        ng-disabled="isInMunicipalitySite">
                    <option value="" translate="REGISTER_SITE_CONSTANTS.SELECT_TOWN"></option>
                </select>
                <i ng-show="businessMunicipality==undefined"
                   class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconStarColor glyphiconCategoryStar"></i>
                        <span ng-show="showRequiredFieldMessage && registerSiteForm.municipality.$error.required"
                              class="errorField businessAddressText"
                              translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
            </div>


            <div class="input topMarginElements col-xs-12">
                        <textarea ng-show="user.tipo_cuenta=='C'" placeholder="Regular Placeholder" translate
                                  translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_DESCRIPTION"
                                  class="form-control businessAddressInput businessAddressText"
                                  name="businessDescription" ng-model="$parent.businessDescription" required></textarea>

                 <textarea ng-show="user.tipo_cuenta=='M'" placeholder="Regular Placeholder" translate
                           translate-attr-placeholder="REGISTER_SITE_CONSTANTS.MUNICIPALITY_BUSINESS_DESCRIPTION"
                           class="form-control businessAddressInput businessAddressText"
                           name="businessDescription" ng-model="$parent.businessDescription" required></textarea>

                <i ng-show="businessDescription==undefined"
                   class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconStarColor glyphiconBusinessDescriptionStar"></i>
                        <span ng-show="showRequiredFieldMessage && registerSiteForm.businessDescription.$error.required"
                              class="errorField businessAddressText"
                              translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
            </div>

            <div class="input topMarginElements col-xs-12">
                        <textarea placeholder="Regular Placeholder" translate
                                  translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_OPENINGHOURS"
                                  class="form-control businessAddressInput businessAddressText"
                                  name="businessOpeningHours" ng-model="$parent.openingHours"></textarea>
            </div>
            <div class="row businessAddressText  col-xs-12">
                    <span ng-show="user.tipo_cuenta=='C'" class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.BUSINESS_OPENINGHOURS_TEXT"> </span>

                    <span ng-show="user.tipo_cuenta=='M'" class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_BUSINESS_OPENINGHOURS_TEXT"> </span>

                <span
                    class="texto-claro-business"
                    translate="REGISTER_SITE_CONSTANTS.BUSINESS_OPENINGHOURS_TEXT_EXAMPLE"></span>
            </div>

            <div class="topMarginElements col-xs-12">
                <tags-input class="businessAddressText businessAddressInput" name="tags" ng-model="tags"
                            placeholder="Tags" add-on-comma=true replace-spaces-with-dashes=false>
                </tags-input>

            </div>

            <div class="row businessAddressText col-xs-12">
                <span ng-show="user.tipo_cuenta=='C'" class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.TAGS_TEXT"></span> <span ng-show="user.tipo_cuenta=='C'"
                    class="texto-claro-business" translate="REGISTER_SITE_CONSTANTS.TAGS_TEXT_EXAMPLE"></span>

                <span ng-show="user.tipo_cuenta=='M'" class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_TAGS_TEXT"></span> <span ng-show="user.tipo_cuenta=='M'"
                    class="texto-claro-business" translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_TAGS_TEXT_EXAMPLE"></span>
            </div>

            <div class=" next-button NextButtonRegister topMarginElements col-xs-12">
                <button class="button"
                        ng-click="changeViewLocation()" translate="REGISTER_SITE_CONSTANTS.NEXT_BUTTON"></button>
            </div>

           
        </div>
    </div>
</form>



