<div class="hidden-xs hidden-sm">
    <app-header></app-header>
</div>
<loader></loader>
<div class="forms-container">
    <form name="registerSiteForm">
        <div class="row topMarginHeader registerSiteBackgroundColor forms-height ">
            <div class="col-md-4  col-md-offset-4 centerColumnNoPadding PhotosFormPadding registerSiteFormBackgroundColor">
                <div class="header container-fluid">
                    <div class="col-xs-1 registerHeaderBackIconcontainer" ng-click="changeViewBusinessInformation()">
                        <img class="registerHeaderBackIcon" src="./images/registerIcons/atras.png">
                    </div>
                    <p ng-show="user.tipo_cuenta=='C'" class="text" translate="REGISTER_SITE_CONSTANTS.BUSINESS_CATEGORY_TITLE"></p>
                    <p ng-show="user.tipo_cuenta=='M'" class="text" translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_BUSINESS_CATEGORY_TITLE"></p>

                </div>
                <ul class="progress-bar1 progressBarPadding topMarginElements">
                    <li class="done-step"></li>
                    <li class="done-step"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>


                <div ng-show="!listFirstCategoryIsVisible">
                    <div class="input topMarginElements col-xs-12">
                        <label class="main-category-label topMarginElements col-xs-12"
                               translate="REGISTER_SITE_CONSTANTS.MAIN_CATEGORY"></label>
                        <div class="input topMarginElements col-xs-12 compressed-category-container">
                            <input placeholder="Regular Placeholder" translate
                                   translate-attr-placeholder=%%firstCategory.nombre%%
                                   class="form-control subcategory"
                                   name="businessDescription" ng-model="$parent.businessDescription" readonly>
                            </input>
                            <div class="arrow-container">
                                <img ng-click="editcategory(1)" class="topMarginElements category-arrow"
                                     src="./images/registerIcons/categoria-expandir.png">
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="listFirstCategoryIsVisible">
                    <label class="main-category-label col-xs-12" translate="REGISTER_SITE_CONSTANTS.MAIN_CATEGORY"></label>
                    <div class="topMarginElements col-xs-12">
                        <select ng-model="firstCategory"
                                ng-options="obj.nombre for obj in ((arrayCategories | filter:categoryOptionFilter(1)))  track by obj.id "
                                name="catefory"
                                class="form-control businessAddressInput businessAddressText"
                                ng-change="getSubcategoriesOnChange(firstCategory,'%%firstCategory.id%%', 1)"
                                required>
                            <option value="" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY">%%firstCategory.nombre%%
                            </option>
                        </select>
                        <i ng-show="firstCategory==undefined"
                           class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconStarColor glyphiconCategoryStar"></i>
                        <span ng-show="showRequiredFieldMessage && registerSiteForm.catefory.$error.required"
                              class="errorField businessAddressText"
                              translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
                    </div>
                    <div class="row businessAddressText col-xs-12">
                        <span ng-show="user.tipo_cuenta=='C'" class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY_TEXT"></span>
                        <span ng-show="user.tipo_cuenta=='M'" class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_CHOOSE_CATEGORY_TEXT"></span>

                    </div>

                    <div class="row topMarginElements col-xs-offset-1 col-xs-10 businessAddressText">
                        <div class="row  subcategory-container" ng-repeat="subcategory in firstSubcategories">
                            <div>
                                <label class="col-xs-11" for="%%subcategory.nombre%%"
                                       ng-class="isCategorySelected(subcategory.id) ? 'selected-subcategory':'subcategory-label'">%%subcategory.nombre%%</label>
                                <input id="%%subcategory.nombre%%" type="checkbox"
                                       checklist-model="businessSubcategories.subcategories" checklist-value="subcategory">
                            </div>
                        </div>
                        <div class="row  subcategory-container" ng-show="firstCategory==undefined">
                            <label ng-show="user.tipo_cuenta=='C'" class="subcategory-tip texto-oscuro-business"
                                   translate="REGISTER_SITE_CONSTANTS.CHOOSE_SUBCATEGORY_TEXT"></label>
                            <label ng-show="user.tipo_cuenta=='M'" class="subcategory-tip texto-oscuro-business"
                                   translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_CHOOSE_SUBCATEGORY_TEXT"></label>
                        </div>
                    </div>

                    <div class="row businessAddressText col-xs-12" ng-show="firstCategory!=undefined">
                    <span ng-show="user.tipo_cuenta=='C'" class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.CHOOSE_SUBCATEGORY_TEXT"></span>

                    <span ng-show="user.tipo_cuenta=='M'" class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_CHOOSE_SUBCATEGORY_TEXT"></span>

                    </div>

                    <div class="arrow-container collapse-arrow businessAddressText topMarginElements"
                         ng-show="firstCategory!=undefined">
                        <img ng-click="collapseCategory(1)" class="topMarginElements category-arrow "
                             src="./images/registerIcons/categoria-colapsar.png">
                    </div>

                </div>


                <div ng-show="!listSecondCategoryIsVisible && listSecondCategoryExists">
                    <div class="registerTraderLineSeparator topMarginElements col-xs-10  col-xs-offset-1"></div>
                    <div class="input topMarginElements col-xs-12">
                        <label class="additional-category-label topMarginElements col-xs-12"
                               translate="REGISTER_SITE_CONSTANTS.ADDITIONAL_CATEGORY_1"></label>
                        <div class="input topMarginElements col-xs-12 compressed-category-container">
                            <input placeholder="Regular Placeholder" translate
                                   translate-attr-placeholder=%%secondCategory.nombre%%
                                   class="form-control subcategory"
                                   name="businessDescription" ng-model="$parent.businessDescription" readonly>
                            </input>
                            <div class="arrow-container">
                                <button class="button-add-category col-xs-3 delete-button topMarginElements"
                                        ng-click="deleteCategory(2)"
                                        translate="REGISTER_SITE_CONSTANTS.DELETE_CATEGORY_BUTTON"></button>
                                <img ng-click="editcategory(2)" class="topMarginElements category-arrow"
                                     src="./images/registerIcons/categoria-expandir.png">
                            </div>
                        </div>
                    </div>
                </div>


                <div ng-show="listSecondCategoryIsVisible && listSecondCategoryExists">
                    <div class="registerTraderLineSeparator topMarginElements col-xs-10  col-xs-offset-1"></div>
                    <label class="additional-category-label topMarginElements col-xs-12"
                           translate="REGISTER_SITE_CONSTANTS.ADDITIONAL_CATEGORY_1"></label>
                    <div class="topMarginElements col-xs-12">
                        <select id="secondCategory"
                                ng-model="secondCategory"
                                ng-options="obj.nombre for obj in ((arrayCategories | filter:categoryOptionFilter(2)))  track by obj.id "
                                name="catefory"
                                class="form-control businessAddressInput businessAddressText"
                                ng-change="getSubcategoriesOnChange(secondCategory,'%%secondCategory.id%%',2)">
                            <option value="" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY"></option>
                        </select>
                    </div>
                    <div class="row businessAddressText col-xs-12">
                        <span ng-show="user.tipo_cuenta=='C'" class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.CHOOSE_AUXILIAR_CATEGORY_TEXT"></span>
                        <span ng-show="user.tipo_cuenta=='M'" class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_CHOOSE_AUXILIAR_CATEGORY_TEXT"></span>

                    </div>

                    <div class="row topMarginElements col-xs-offset-1 col-xs-10 businessAddressText">
                        <div class="row  subcategory-container" ng-repeat="subcategory in secondSubcategories">
                            <label class="col-xs-11"
                                   for="%%subcategory.nombre%%"
                                   ng-class="isCategorySelected(subcategory.id) ? 'selected-subcategory':'subcategory-label'">%%subcategory.nombre%%</label>
                            <input id="%%subcategory.nombre%%" type="checkbox"
                                   checklist-model="businessSubcategories.subcategories" checklist-value="subcategory">
                        </div>
                        <div class="row  subcategory-container" ng-show="secondCategory==undefined">
                            <label ng-show="user.tipo_cuenta=='C'" class="subcategory-tip texto-oscuro-business"
                                   translate="REGISTER_SITE_CONSTANTS.CHOOSE_SUBCATEGORY_TEXT"></label>
                            <label ng-show="user.tipo_cuenta=='M'" class="subcategory-tip texto-oscuro-business"
                                   translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_CHOOSE_SUBCATEGORY_TEXT"></label>
                        </div>
                    </div>

                    <div class="row businessAddressText col-xs-12" ng-show="secondCategory!=undefined">
                    <span ng-show="user.tipo_cuenta=='C'" class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.CHOOSE_SUBCATEGORY_TEXT"></span>

                    <span ng-show="user.tipo_cuenta=='M'" class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_CHOOSE_SUBCATEGORY_TEXT"></span>
                    </div>

                    <div class="arrow-container collapse-arrow businessAddressText topMarginElements"
                         ng-show="secondCategory!=undefined">
                        <button class="button-add-category col-xs-3 delete-button  topMarginElements"
                                ng-click="deleteCategory(2)"
                                translate="REGISTER_SITE_CONSTANTS.DELETE_CATEGORY_BUTTON"></button>
                        <img ng-click="collapseCategory(2)" class="topMarginElements category-arrow "
                             src="./images/registerIcons/categoria-colapsar.png">
                    </div>

                </div>


                <div ng-show="!listThirdCategoryIsVisible && listThirdCategoryExists">
                    <div class="registerTraderLineSeparator topMarginElements col-xs-10  col-xs-offset-1"></div>
                    <div class="input topMarginElements col-xs-12">
                        <label class="additional-category-label topMarginElements col-xs-12"
                               translate="REGISTER_SITE_CONSTANTS.ADDITIONAL_CATEGORY_2"></label>
                        <div class="input topMarginElements col-xs-12 compressed-category-container">
                            <input placeholder="Regular Placeholder" translate
                                   translate-attr-placeholder=%%thirdCategory.nombre%%
                                   class="form-control subcategory"
                                   name="businessDescription" ng-model="$parent.businessDescription" readonly>
                            </input>
                            <div class="arrow-container">
                                <button class="button-add-category col-xs-3 delete-button topMarginElements"
                                        ng-click="deleteCategory(3)"
                                        translate="REGISTER_SITE_CONSTANTS.DELETE_CATEGORY_BUTTON"></button>
                                <img ng-click="editcategory(3)" class="topMarginElements category-arrow"
                                     src="./images/registerIcons/categoria-expandir.png">
                            </div>
                        </div>
                    </div>
                </div>


                <div ng-show="listThirdCategoryIsVisible && listThirdCategoryExists">
                    <div class="registerTraderLineSeparator topMarginElements col-xs-10  col-xs-offset-1"></div>
                    <label class="additional-category-label topMarginElements col-xs-12"
                           translate="REGISTER_SITE_CONSTANTS.ADDITIONAL_CATEGORY_2"></label>
                    <div class="topMarginElements col-xs-12">
                        <select ng-model="thirdCategory"
                                ng-options="obj.nombre for obj in ((arrayCategories | filter:categoryOptionFilter(3)))  track by obj.id "
                                name="catefory"
                                class="form-control businessAddressInput businessAddressText"
                                ng-change="getSubcategoriesOnChange(thirdCategory,'%%thirdCategory.id%%',3)">
                            <option value="" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY"></option>
                        </select>
                    </div>
                    <div class="row businessAddressText col-xs-12">
                        <span ng-show="user.tipo_cuenta=='C'" class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.CHOOSE_AUXILIAR_CATEGORY_TEXT"></span>
                        <span ng-show="user.tipo_cuenta=='M'" class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_CHOOSE_AUXILIAR_CATEGORY_TEXT"></span>                </div>

                    <div class="row topMarginElements col-xs-offset-1 col-xs-10 businessAddressText">
                        <div class="row  subcategory-container" ng-repeat="subcategory in thirdSubcategories">
                            <label class="col-xs-11"
                                   for="%%subcategory.nombre%%"
                                   ng-class="isCategorySelected(subcategory.id) ? 'selected-subcategory':'subcategory-label'">%%subcategory.nombre%%</label>
                            <input id="%%subcategory.nombre%%" type="checkbox"
                                   checklist-model="businessSubcategories.subcategories" checklist-value="subcategory">
                        </div>
                        <div class="row  subcategory-container" ng-show="thirdCategory==undefined">
                            <label ng-show="user.tipo_cuenta=='C'" class="subcategory-tip texto-oscuro-business"
                                   translate="REGISTER_SITE_CONSTANTS.CHOOSE_SUBCATEGORY_TEXT"></label>
                            <label ng-show="user.tipo_cuenta=='M'" class="subcategory-tip texto-oscuro-business"
                                   translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_CHOOSE_SUBCATEGORY_TEXT"></label>
                        </div>
                    </div>

                    <div class="row businessAddressText col-xs-12" ng-show="thirdCategory!=undefined">
                    <span ng-show="user.tipo_cuenta=='C'" class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.CHOOSE_SUBCATEGORY_TEXT"></span>

                    <span ng-show="user.tipo_cuenta=='M'" class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_CHOOSE_SUBCATEGORY_TEXT"></span>
                    </div>

                    <div class="arrow-container collapse-arrow businessAddressText topMarginElements"
                         ng-show="thirdCategory!=undefined">
                        <button class="button-add-category col-xs-3 delete-button  topMarginElements"
                                ng-click="deleteCategory(3)"
                                translate="REGISTER_SITE_CONSTANTS.DELETE_CATEGORY_BUTTON"></button>
                        <img ng-click="collapseCategory(3)" class="topMarginElements category-arrow "
                             src="./images/registerIcons/categoria-colapsar.png">
                    </div>

                </div>


                <div ng-show="hadTwoCategoriesLeft">
                    <div class="registerTraderLineSeparator topMarginElements col-xs-10  col-xs-offset-1"></div>

                    <div class="row businessAddressText topMarginElements col-xs-12">
                    <span ng-show="user.tipo_cuenta=='C'" class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.CHOOSE_OTHER_CATEGORY_TEXT"></span>

                    <span ng-show="user.tipo_cuenta=='M'" class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_CHOOSE_OTHER_CATEGORY_TEXT"></span>
                    </div>

                    <div class="row businessAddressText topMarginElements">
                        <button class="button-add-category col-xs-3 col-xs-offset-8"
                                ng-click="addFirstAditionalCategory()"
                                translate="REGISTER_SITE_CONSTANTS.ADD_CATEGORY_BUTTON"></button>
                    </div>
                </div>


                <div ng-show="hadOneCategoriesLeft">
                    <div class="registerTraderLineSeparator topMarginElements col-xs-10  col-xs-offset-1"></div>

                    <div class="row businessAddressText topMarginElements col-xs-12">
                    <span ng-show="user.tipo_cuenta=='C'" class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.CHOOSE_OTHER_CATEGORY_TEXT_SECOND"></span>
                    <span ng-show="user.tipo_cuenta=='M'" class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.MUNICIPALITY_CHOOSE_OTHER_CATEGORY_TEXT_SECOND"></span>
                    </div>

                    <div class="row businessAddressText topMarginElements">
                        <button class="button-add-category col-xs-3 col-xs-offset-8"
                                ng-click="addSecondAditionalCategory()"
                                translate="REGISTER_SITE_CONSTANTS.ADD_CATEGORY_BUTTON"></button>
                    </div>
                </div>


                <div class=" next-button NextButtonRegister topMarginElements col-xs-12">
                    <button class="button"
                            ng-click="changeViewLocation()" translate="REGISTER_SITE_CONSTANTS.NEXT_BUTTON"></button>
                </div>
            </div>
        </div>
    </form>

</div>



