.selected-subcategory {
    color: #32A2D4;
}

.subcategory::-webkit-input-placeholder {
    color: #32A2D4 !important;
}

.subcategory:-moz-placeholder { /* Firefox 18- */
    color: #32A2D4 !important;
}

.subcategory::-moz-placeholder { /* Firefox 19+ */
    color: #32A2D4 !important;
}

.subcategory:-ms-input-placeholder {
    color: #32A2D4 !important;
}

.main-category-label {
    padding-left: 7%;
    color: #32A2D4;
    font-weight: bold;
}

.additional-category-label {
    color: #32A2D4;
    padding-left: 7%;
    font-weight: normal;
}

.compressed-category-container {
    display: flex;
    flex-flow: column wrap;
    padding-left: 10%;
    padding-right: 10%;
}

.category-container {
    display: flex;
    flex-flow: column wrap;
}

.arrow-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.collapse-arrow {
    padding-right: 15px;
}

.subcategory-container {
    background-color: #E6E6E6;
}

.subcategory-label {
    color: #2D3C4D;
}

.delete-button {
    margin-right: 10%;
}

.button-add-category {
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 100%;
    background-color: #97D3E8;
    color: #2D3C4D;
    padding: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.subcategory-tip {
    margin-top: 30% !important;
    padding: 0 10% 0 10% !important;
    margin-bottom: 30% !important;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .category-arrow {
        height: 10vmin !important;
        width: 10vmin !important;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .category-arrow {
        height: 5vmin !important;
        width: 5vmin !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .category-arrow {
        height: 3vmin !important;
        width: 3vmin !important;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .category-arrow {
        height: 3vmin !important;
        width: 3vmin !important;
    }
}
