.subcategory::-webkit-input-placeholder {
    color: #32A2D4 !important;
}

.subcategory:-moz-placeholder { /* Firefox 18- */
    color: #32A2D4 !important;
}

.subcategory::-moz-placeholder {  /* Firefox 19+ */
    color: #32A2D4 !important;
}

.subcategory:-ms-input-placeholder {
    color: #32A2D4 !important;
}

.main-category-label{
    color: #32A2D4;
    font-weight: bold;
}

.additional-category-label{
    color: #32A2D4;
    font-weight: normal;
}

.subcategory-container{
    background-color: #E6E6E6;
}

.subcategory-label{
    color: #2D3C4D;
}

.button-add-category {
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 100%;
    background-color: #97D3E8;
    color: #2D3C4D;
    padding: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.subcategory-tip{
    margin-top: 30% !important;
    padding: 0 10% 0 10% !important;
    margin-bottom: 30% !important;
}

.category-arrow{
    width: 6vmin !important;
}