<div class="hidden-xs hidden-sm">
    <app-header></app-header>
</div>
<form name="registerSiteForm">
    <div class="row topMarginHeader registerSiteBackgroundColor backgroundFillViewPortSummary">
        <div class="col-md-4  col-md-offset-4 centerColumnNoPadding PhotosFormPadding registerSiteFormBackgroundColor">
            <div class="header container-fluid">
                <div class="col-xs-1 registerHeaderBackIconcontainer" ng-click="changeViewBusinessInformation()">
                    <img class="registerHeaderBackIcon" src="./images/registerIcons/atras.png">
                </div>
                <p class="text" translate="REGISTER_SITE_CONSTANTS.BUSINESS_CATEGORY_TITLE"></p>
            </div>
            <ul class="progress-bar1 progressBarPadding topMarginElements">
                <li class="done-step"></li>
                <li class="done-step"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>


            <div ng-show="compressedFirstCategoryIsVisible">
                <div class="input topMarginElements col-xs-12">
                    <label class="main-category-label topMarginElements col-xs-12"
                           translate="REGISTER_SITE_CONSTANTS.MAIN_CATEGORY"></label>
                    <div class="input topMarginElements col-xs-12 compressed-category-container">
                        <input placeholder="Regular Placeholder" translate
                               translate-attr-placeholder=%%firstCategories[businessFirstCategories.category-1].nombre%%
                               class="form-control subcategory"
                               name="businessDescription" ng-model="$parent.businessDescription" readonly>
                        </input>
                        <div class="arrow-container">
                            <img ng-click="editFirstCategory()" class="topMarginElements category-arrow"
                                 src="./images/registerIcons/categoria-expandir.png">
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="listFirstCategoryIsVisible">
                <label class="main-category-label col-xs-12" translate="REGISTER_SITE_CONSTANTS.MAIN_CATEGORY"></label>
                <div class="topMarginElements col-xs-12">
                    <select ng-model="businessFirstCategories.category"
                            ng-options="obj.id as obj.nombre for obj in firstCategories"
                            name="catefory"
                            class="form-control businessAddressInput businessAddressText"
                            ng-change="getFirstSubcategories()"
                            required>
                        <option value="" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY"></option>
                    </select>
                    <i ng-show="businessFirstCategories==undefined"
                       class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconStarColor glyphiconCategoryStar"></i>
                        <span ng-show="showRequiredFieldMessage && registerSiteForm.catefory.$error.required"
                              class="errorField businessAddressText"
                              translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
                </div>
                <div class="row businessAddressText col-xs-12">
                    <span class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY_TEXT"></span>
                </div>

                <div class="row topMarginElements col-xs-offset-1 col-xs-10 businessAddressText">
                    <div class="row  subcategory-container" ng-repeat="subcategory in firstSubcategories">
                        <label class="col-xs-11 subcategory-label">%%subcategory.nombre%%</label>
                        <input type="checkbox" checklist-model="user.categorias" checklist-value="subcategory">
                    </div>
                    <div class="row  subcategory-container" ng-show="businessFirstCategories.category==undefined">
                        <label class="subcategory-tip texto-oscuro-business"
                               translate="REGISTER_SITE_CONSTANTS.CHOOSE_SUBCATEGORY_TEXT"></label>
                    </div>
                </div>

                <div class="row businessAddressText col-xs-12" ng-show="businessFirstCategories.category!=undefined">
                    <span class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.CHOOSE_SUBCATEGORY_TEXT"></span>
                </div>

                <div class="arrow-container collapse-arrow businessAddressText topMarginElements"
                     ng-show="businessFirstCategories.category!=undefined">
                    <img ng-click="collapseFirstListCategory()" class="topMarginElements category-arrow "
                         src="./images/registerIcons/categoria-colapsar.png">
                </div>

            </div>


            <div ng-show="compressedSecondCategoryIsVisible && businessSecondCategories.category!=undefined && secondcategoryExists">
                <div class="registerTraderLineSeparator topMarginElements col-xs-10  col-xs-offset-1"></div>
                <div class="input topMarginElements col-xs-12">
                    <label class="additional-category-label topMarginElements col-xs-12"
                           translate="REGISTER_SITE_CONSTANTS.ADDITIONAL_CATEGORY_1"></label>
                    <div class="input topMarginElements col-xs-12 compressed-category-container">
                        <input placeholder="Regular Placeholder" translate
                               translate-attr-placeholder=%%secondCategories[businessSecondCategories.category-1].nombre%%
                               class="form-control subcategory"
                               name="businessDescription" ng-model="$parent.businessDescription" readonly>
                        </input>
                        <div class="arrow-container">
                            <button class="button-add-category col-xs-3 delete-button topMarginElements"
                                    ng-click="deleteSecondCategory()"
                                    translate="REGISTER_SITE_CONSTANTS.DELETE_CATEGORY_BUTTON"></button>
                            <img ng-click="editSecondCategory()" class="topMarginElements category-arrow"
                                 src="./images/registerIcons/categoria-expandir.png">
                        </div>
                    </div>
                </div>
            </div>




            <div ng-show="listSecondCategoryIsVisible && secondcategoryExists">
                <div class="registerTraderLineSeparator topMarginElements col-xs-10  col-xs-offset-1"></div>
                <label class="additional-category-label topMarginElements col-xs-12" translate="REGISTER_SITE_CONSTANTS.ADDITIONAL_CATEGORY_1"></label>
                <div class="topMarginElements col-xs-12">
                    <select ng-model="businessSecondCategories.category"
                            ng-options="obj.id as obj.nombre for obj in secondCategories"
                            name="catefory"
                            class="form-control businessAddressInput businessAddressText"
                            ng-change="getSecondSubCategories()">
                        <option value="" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY"></option>
                    </select>
                </div>
                <div class="row businessAddressText col-xs-12">
                    <span class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY_TEXT"></span>
                </div>

                <div class="row topMarginElements col-xs-offset-1 col-xs-10 businessAddressText">
                    <div class="row  subcategory-container" ng-repeat="subcategory in secondSubcategories">
                        <label class="col-xs-11 subcategory-label">%%subcategory.nombre%%</label>
                        <input type="checkbox" checklist-model="user.categorias" checklist-value="subcategory">
                    </div>
                    <div class="row  subcategory-container" ng-show="businessSecondCategories.category==undefined">
                        <label class="subcategory-tip texto-oscuro-business"
                               translate="REGISTER_SITE_CONSTANTS.CHOOSE_SUBCATEGORY_TEXT"></label>
                    </div>
                </div>

                <div class="row businessAddressText col-xs-12" ng-show="businessSecondCategories.category!=undefined">
                    <span class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.CHOOSE_SUBCATEGORY_TEXT"></span>
                </div>

                <div class="arrow-container collapse-arrow businessAddressText topMarginElements"
                     ng-show="businessSecondCategories.category!=undefined">
                    <button class="button-add-category col-xs-3 delete-button  topMarginElements"
                            ng-click="deleteSecondCategory()"
                            translate="REGISTER_SITE_CONSTANTS.DELETE_CATEGORY_BUTTON"></button>
                    <img ng-click="collapseSecondListCategory()" class="topMarginElements category-arrow "
                         src="./images/registerIcons/categoria-colapsar.png">
                </div>

            </div>






            <div ng-show="compressedThirdCategoryIsVisible && businessThirdCategories.category!=undefined && thirdcategoryExists">
                <div class="registerTraderLineSeparator topMarginElements col-xs-10  col-xs-offset-1"></div>
                <div class="input topMarginElements col-xs-12">
                    <label class="additional-category-label topMarginElements col-xs-12"
                           translate="REGISTER_SITE_CONSTANTS.ADDITIONAL_CATEGORY_2"></label>
                    <div class="input topMarginElements col-xs-12 compressed-category-container">
                        <input placeholder="Regular Placeholder" translate
                               translate-attr-placeholder=%%thirdCategories[businessThirdCategories.category-1].nombre%%
                               class="form-control subcategory"
                               name="businessDescription" ng-model="$parent.businessDescription" readonly>
                        </input>
                        <div class="arrow-container">
                            <button class="button-add-category col-xs-3 delete-button topMarginElements"
                                    ng-click="deleteThirdCategory()"
                                    translate="REGISTER_SITE_CONSTANTS.DELETE_CATEGORY_BUTTON"></button>
                            <img ng-click="editThirdCategory()" class="topMarginElements category-arrow"
                                 src="./images/registerIcons/categoria-expandir.png">
                        </div>
                    </div>
                </div>
            </div>




            <div ng-show="listThirdCategoryIsVisible && thirdcategoryExists">
                <div class="registerTraderLineSeparator topMarginElements col-xs-10  col-xs-offset-1"></div>
                <label class="additional-category-label topMarginElements col-xs-12" translate="REGISTER_SITE_CONSTANTS.ADDITIONAL_CATEGORY_2"></label>
                <div class="topMarginElements col-xs-12">
                    <select ng-model="businessThirdCategories.category"
                            ng-options="obj.id as obj.nombre for obj in thirdCategories"
                            name="catefory"
                            class="form-control businessAddressInput businessAddressText"
                            ng-change="getThirdSubCategories()">
                        <option value="" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY"></option>
                    </select>
                </div>
                <div class="row businessAddressText col-xs-12">
                    <span class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY_TEXT"></span>
                </div>

                <div class="row topMarginElements col-xs-offset-1 col-xs-10 businessAddressText">
                    <div class="row  subcategory-container" ng-repeat="subcategory in thirdSubcategories">
                        <label class="col-xs-11 subcategory-label">%%subcategory.nombre%%</label>
                        <input type="checkbox" checklist-model="user.categorias" checklist-value="subcategory">
                    </div>
                    <div class="row  subcategory-container" ng-show="businessThirdCategories.category==undefined">
                        <label class="subcategory-tip texto-oscuro-business"
                               translate="REGISTER_SITE_CONSTANTS.CHOOSE_SUBCATEGORY_TEXT"></label>
                    </div>
                </div>

                <div class="row businessAddressText col-xs-12" ng-show="businessThirdCategories.category!=undefined">
                    <span class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.CHOOSE_SUBCATEGORY_TEXT"></span>
                </div>

                <div class="arrow-container collapse-arrow businessAddressText topMarginElements"
                     ng-show="businessThirdCategories.category!=undefined">
                    <button class="button-add-category col-xs-3 delete-button  topMarginElements"
                            ng-click="deleteThirdCategory()"
                            translate="REGISTER_SITE_CONSTANTS.DELETE_CATEGORY_BUTTON"></button>
                    <img ng-click="collapseThirdListCategory()" class="topMarginElements category-arrow "
                         src="./images/registerIcons/categoria-colapsar.png">
                </div>

            </div>



            <div ng-show="(businessFirstCategories.category!=undefined && !secondcategoryExists && !thirdcategoryExists)">
                <div class="registerTraderLineSeparator topMarginElements col-xs-10  col-xs-offset-1"></div>

                <div class="row businessAddressText topMarginElements col-xs-12">
                    <span class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.CHOOSE_OTHER_CATEGORY_TEXT"></span>
                </div>

                <div class="row businessAddressText topMarginElements">
                    <button class="button-add-category col-xs-3 col-xs-offset-8"
                            ng-click="addFirstCategory()"
                            translate="REGISTER_SITE_CONSTANTS.ADD_CATEGORY_BUTTON"></button>
                </div>
            </div>


            <div ng-show="(businessSecondCategories.category!=undefined && secondcategoryExists && !thirdcategoryExists) || (businessSecondCategories.category!=undefined && !secondcategoryExists && thirdcategoryExists)">
                <div class="registerTraderLineSeparator topMarginElements col-xs-10  col-xs-offset-1"></div>

                <div class="row businessAddressText topMarginElements col-xs-12">
                    <span class="texto-oscuro-business"
                          translate="REGISTER_SITE_CONSTANTS.CHOOSE_OTHER_CATEGORY_TEXT_SECOND"></span>
                </div>

                <div class="row businessAddressText topMarginElements">
                    <button class="button-add-category col-xs-3 col-xs-offset-8"
                            ng-click="addSecondCategory()"
                            translate="REGISTER_SITE_CONSTANTS.ADD_CATEGORY_BUTTON"></button>
                </div>
            </div>


            <div class=" next-button NextButtonRegister topMarginElements col-xs-12">
                <button class="button"
                        ng-click="changeViewLocation()" translate="REGISTER_SITE_CONSTANTS.NEXT_BUTTON"></button>
            </div>
        </div>
    </div>
</form>



