<div class="hidden-xs hidden-sm">
    <app-header></app-header>
</div>
<form name="registerSiteForm">
    <div class="row topMarginHeader registerSiteBackgroundColor backgroundFillViewPortSummary">
        <div class="col-md-4  col-md-offset-4 centerColumnNoPadding PhotosFormPadding registerSiteFormBackgroundColor">
            <div class="header container-fluid">
                <div class="col-xs-1 registerHeaderBackIconcontainer" ng-click="changeViewBusinessInformation()">
                    <img class="registerHeaderBackIcon" src="./images/registerIcons/atras.png">
                </div>
                <p class="text" translate="REGISTER_SITE_CONSTANTS.BUSINESS_CATEGORY_TITLE"></p>
            </div>
            <ul class="progress-bar1 progressBarPadding topMarginElements">
                <li class="done-step"></li>
                <li class="done-step"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>


            <div class="input topMarginElements col-xs-12">
                <input placeholder="Regular Placeholder" translate
                       translate-attr-placeholder=%%categories[businessCategories.category-1].nombre%%
                       class="form-control businessAddressInput businessAddressText subcategory"
                       name="businessDescription" ng-model="$parent.businessDescription" readonly>
                </input>
            </div>

            <div class="row businessAddressText topMarginElements">
                <button class="button-add-category col-xs-3 col-xs-offset-8 topMarginElements"
                        ng-click="addCategory()" translate="REGISTER_SITE_CONSTANTS.EDIT_CATEGORY_BUTTON"></button>
            </div>

            <div class="registerTraderLineSeparator topMarginElements col-xs-10  col-xs-offset-1"></div>




            <div class="topMarginElements col-xs-12">
                <select ng-model="businessCategories.category"
                        ng-options="obj.id as obj.nombre for obj in categories"
                        name="catefory"
                        class="form-control businessAddressInput businessAddressText"
                        ng-change="getControllerSubcategories()"
                        required>
                    <option value="" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY"></option>
                </select>
                <i ng-show="businessCategories==undefined"
                   class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconStarColor glyphiconCategoryStar"></i>
                        <span ng-show="showRequiredFieldMessage && registerSiteForm.catefory.$error.required"
                              class="errorField businessAddressText"
                              translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
            </div>
            <div class="row businessAddressText col-xs-12">
                <span class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.CHOOSE_CATEGORY_TEXT"></span>
            </div>


            <div class="input topMarginElements col-xs-12">
                <input placeholder="Regular Placeholder" translate
                       translate-attr-placeholder="REGISTER_SITE_CONSTANTS.BUSINESS_SUBCATEGORY"
                       class="form-control businessAddressInput businessAddressText subcategory"
                       name="businessDescription" ng-model="$parent.businessDescription" readonly>
                </input>
            </div>

            <div class="row col-xs-offset-1 col-xs-10 businessAddressText">
                <div class="row  subcategory-container" ng-repeat="subcategory in subcategories">
                    <label class="col-xs-11 subcategory-label">%%subcategory.nombre%%</label>
                    <input type="checkbox">
                </div>
            </div>

            <div class="row businessAddressText col-xs-12" ng-show="businessCategories.category!=undefined">
                <span class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.CHOOSE_SUBCATEGORY_TEXT"></span>
            </div>

            <div class="registerTraderLineSeparator topMarginElements col-xs-10  col-xs-offset-1"></div>

            <div class="row businessAddressText topMarginElements col-xs-12">
                <span class="texto-oscuro-business" translate="REGISTER_SITE_CONSTANTS.CHOOSE_OTHER_CATEGORY_TEXT"></span>
            </div>

            <div class="row businessAddressText topMarginElements">
                <button class="button-add-category col-xs-3 col-xs-offset-8"
                        ng-click="addCategory()" translate="REGISTER_SITE_CONSTANTS.ADD_CATEGORY_BUTTON"></button>
            </div>

            <div class=" next-button NextButtonRegister topMarginElements col-xs-12">
                <button class="button"
                        ng-click="changeViewLocation()" translate="REGISTER_SITE_CONSTANTS.NEXT_BUTTON"></button>
            </div>
        </div>
    </div>
</form>



