.backgroundFillViewPortPhotos{
    height: 100%;
}

.photo-asterisk{
    position: inherit;
}

.topMarginmainPhotolabel{
    margin-top: 6% !important;
}

.title-main-photo-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.PhotosFormPadding{
    margin-bottom: 2%;
}

.mainPhotoContainer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.mainPhotoImagesContainer{
    position: relative;
}

.selectedMainPhoto{
    z-index: -1;
}
.rowPhotos{
    border: none !important;
    margin: 0% !important;
}

.rowPhotosButton{
    height: 134px;
    width: 146px;
    padding: 6px 12px 6px 12px;
}

.deletePhoto{
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.selectedRowPhotos{
    max-height: 300px !important;
    max-width: 180% !important;
}

.loadingPhoto{
    position: absolute !important;
}
.loadingGlobalPhoto{
    position: absolute !important;
    z-index: 1;
    margin-top: 140px;
}

/* xs devices */
@media (max-width: 767px) {
    .deletePhotoSize{
        height: 30px !important;
    }
}

/* sm devices */
@media (min-width:768px) {
    .deletePhotoSize{
        height: 37px !important;
    }
}

/* md devices */
@media(min-width:992px){
    .deletePhotoSize{
        height: 37px !important;
    }
}


