<!-- <div> Usuario </div>
<div>
<input type="text" ng-model="user" class="form-control" >
<div class="error">%%mensaje%%</div>
<button class="btn btn-primary btn-md" ng-click="signin(user)">Entrar</button>
<button class="btn btn-primary btn-md" ng-click="signup()">Nuevo Usuario</button>
</div>
 -->

<div class="fondo">
  <form class="form-signin">
    <image class="img-logo" ng-src="%%logo%%"></image>
    <!-- <div layout="row" layout-align="center center">
    <image class="img-logo"></image></div> -->
    <!-- <h2 class="form-signin-heading">Ingresar...</h2> -->    
    <!-- <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" ng-model="user" class="form-control" placeholder="id usuario..." autofocus>
    <div class="error">%%mensaje%%</div>
      <label for="inputPassword" class="sr-only">Password</label>
      <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Recordarme
      </label>
    </div> -->

    <div class="botones_inicio">


      <button class="btn btn-lg btn-success btn-block" ng-click="signin(user)">   
        <img ng-src="%%como%%"> ¿Cómo Funciona?
     </button>
     <button class="btn btn-lg btn-success btn-block" ng-click="signup()">     
        <img ng-src="%%registro%%"> Registrate
      </button>
    <button class="btn btn-lg btn-danger btn-block" ng-click="noregistrado()">     
        <img ng-src="%%comenzar%%"> Comienza a Explorar
    </button>
    </div>
  </form>
</div> <!-- /container -->
