<!-- <div> Usuario </div>
<div>
<input type="text" ng-model="user" class="form-control" >
<div class="error">%%mensaje%%</div>
<button class="btn btn-primary btn-md" ng-click="signin(user)">Entrar</button>
<button class="btn btn-primary btn-md" ng-click="signup()">Nuevo Usuario</button>
</div>
 -->
<div class="fondo">
  <div layout="row" layout-align="space-around center" class="barra_main">   
    <img class="logo" ng-src="%%logo%%">
    <div class="menu" ng-click="toggleRight()"> 
      <i class="fa fa-reorder"></i>
    </div>
  </div>
  <form class="form-signin">
    <div class="botones_inicio">
      <button class="btn btn-lg btn-danger btn-block" ng-click="noregistrado()">     
        <img class="img_box" ng-src="%%comenzar%%"> BUSCAR
      </button>
      <button class="btn btn-lg btn-success btn-block" ng-click="login()">   
        <img class="img_box" ng-src="%%iniciar_sesion%%"> INICIAR SESIÓN
      </button>
      <button  class="btn btn-lg btn-success btn-block" ng-click="signup()">     
        <img class="img_box" ng-src="%%registro%%"> REGÍSTRARSE
      </button>
    </div>
  </form>
</div>
