<app-header></app-header>
<div class="search-municipalities">
    <h1 translate="MUNICIPALITIES_VIEW.TITLE" class="title"></h1>
    <div class="row">
        <div class="col-xs-12 text-center">
            <input type="text" class="text-input" translate
                   translate-attr-placeholder="MUNICIPALITIES_VIEW.SEARCH_BOX"></input>
        </div>
    </div>

    <div ng-if="municipalitiesGroupedByLetter.length" ng-repeat="group in municipalitiesGroupedByLetter"
         class="row municipalities">
        <h1 class="title-section">%%group.letter%%</h1>
        <div ng-repeat="municipality in group.municipalities" class="col-xs-12 col-sm-4">
            <div class="municipality"
                 ng-style="{'background-image':'url(%%municipality.fotos[0].URLfoto%%)'}">
                <h1 class="municipality-title">%%municipality.nombre%%</h1>
                <h1 clamp="3" class="municipality-description">%%municipality.descripcion%%</h1>
                <div class="shadow"></div>
            </div>
        </div>
    </div>
</div>
</div>
