<div layout="row" layout-align="space-around center" class="barra_main">
  <div class="regresar" ng-click="menu_bar('profileMain')">
    <img ng-src="%%anterior%%">
    <md-tooltip>
        VOLVER
      </md-tooltip>
  </div>
  MERCATIC
  <div class="menu" ng-click="toggleRight()"> 
    <i class="fa fa-reorder"></i>
  </div>
</div>

<form novalidate name="form">
<div class="prompt">
  <md-input-container>
      <div ng-messages="form.nombres.$error" >
        <div ng-message="required">Por favor digite sus nombres</div>
      </div>
      <label>Nombres:</label>
      <input ng-model="usuario.nombres" name="nombres" required>      
    </md-input-container>
  
  <md-input-container>
      <div ng-messages="form.apellido1.$error" >
        <div ng-message="required">Por favor digite su primer apellido</div>
      </div>
      <label>Primer Apellido:</label>
      <input ng-model="usuario.apellido1" name="apellido1" required>            
  </md-input-container>

  <md-input-container>
      <div ng-messages="form.apellido2.$error" >
        <div ng-message="required">Por favor digite su segundo apellido</div>
      </div>
      <label>Segundo Apellido:</label>
      <input ng-model="usuario.apellido2" name="apellido2" required>      
  </md-input-container>

  <md-input-container>
      <div ng-messages="form.email.$error" >
        <div ng-message="required">Por favor digite su correo electrónico</div>
        <div ng-message="pattern">Su email debe tener el formato de un correo (ejemplo@correo.com)</div>
      </div>
      <label>Correo Electrónico</label>
      <input type="email" name="email" ng-model="usuario.correo" ng-pattern="/^.+@.+\..+$/" required/>
  </md-input-container>

  <md-input-container>
    <div ng-messages="form.telefono.$error" >
        <div ng-message="required">Por favor digite su número de telefono</div>
      </div>
      <label>Número de Telefono</label>
      <input ng-model="usuario.telefono_institucion" type="tel" name="telefono">      
 </md-input-container>    

 <md-input-container>
      <div ng-messages="form.ubicacion_institucion.$error">
        <div ng-message="required">Por favor ingrese su municipio</div>
      </div>
      <label>Municipio:</label>
      <input ng-model="usuario.ubicacion_institucion" name="ubicacion_institucion" required>      
</md-input-container>

<md-input-container>
	<md-button md-no-ink class="md-primary" ng-click="changepass()">Cambiar Contraseña</md-button>
  <md-button md-no-ink class="md-raised md-primary" ng-click="update()">Actualizar datos</md-button>
</md-input-container>
 </div>
</form>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar layout="row" layout-align="space-around center" class="toolbar_side">  
    <div>Lab. Virtuales</div>
    <div ng-click="close()" class="md-primary">
        <i class="fa fa-close"></i>
      </div>
  </md-toolbar>
  <div layout="column" layout-align="space_around center">
    <!-- <div class="botones_barra" ng-click="menu_bar('signin')">Inicio</div> -->
    <!-- <div class="botones_barra" ng-click="menu_bar('personalData')">Registrate</div>           -->
    <div class="botones_barra" ng-click="logout()">Cerrar Sesión</div>            
  </div>  
</md-sidenav>  