<div layout="row" layout-align="space-around center" class="barra_main">
  <div class="regresar" ng-click="menu_bar('')">
  <!--   <i class="fa fa-arrow-left"></i>
    <md-tooltip>
        VOLVER
      </md-tooltip> -->
    <img ng-src="%%img_rol%%" style="width: 60%;">
  </div>
  ¡Bienvenido!
  <div id="menu" class="menu" ng-click="toggleRight()"> 
    <i class="fa fa-reorder"></i>
  </div>
</div>
<div class="prompt">  
  <div class="datos_perfil">
      <div layout="row" layout-align="start center">
        <i class="fa fa-user"></i>
        %%usuario.nombres%% %%usuario.apellido1%% %%usuario.apellido2%%
      </div>  
      <div layout="row" layout-align="start center">
        <i class="fa fa-home"></i>
        %%usuario.nombre_institucion%% 
      </div>  
      <div layout="row" layout-align="start center">
        <i class="fa fa-envelope"></i>
        %%usuario.correo%% 
      </div>  
      <div layout="row" layout-align="start center">
        <i class="fa fa-phone"></i>
        %%usuario.telefono_institucion%% 
      </div>  
      <div layout="row" layout-align="start center">
        <i class="fa fa-location-arrow"></i>
        %%usuario.direccion_institucion%% 
      </div>
      <div layout="row" layout-align="start center">        
        %%usuario.ubicacion_institucion%%, Cundinamarca 
      </div>    
  </div>
  <div class="botones_perfil">
    <button id="editProfile" class="btn btn-lg btn-success btn-block" ng-click="profile()" layout="row" layout-align="start center">  
      <div flex="25"><img class="img_box" ng-src="%%perfil%%" ></div>
      <div flex="auto">EDITAR MI PERFIL</div>
    </button>
    <button class="btn btn-lg btn-success btn-block" ng-click="conexiones()" layout="row" layout-align="start center">  
      <div flex="25"><img class="img_box" ng-src="%%conectar%%" ></div>
      <div flex="auto">MIS CONEXIONES</div>
    </button>
    <button class="btn btn-lg btn-success btn-block" ng-click="busquedas()" layout="row" layout-align="start center">  
      <div flex="25"><img class="img_box" ng-src="%%buscar%%" ></div>
      <div flex="auto">MIS BÚSQUEDAS</div>
    </button>  
    <button class="btn btn-lg btn-danger btn-block" ng-click="new_b()" layout="row" layout-align="start center">  
      <div flex="25"><img class="img_box" ng-src="%%inicio%%" ></div>
      <div flex="auto">INICIO</div>
    </button>    
  </div>
</div>
<side-bar></side-bar>