<div layout="row" layout-align="space-around center" class="barra_main">
  <div class="regresar" ng-click="menu_bar('')">
  <!--   <i class="fa fa-arrow-left"></i>
    <md-tooltip>
        VOLVER
      </md-tooltip> -->
  </div>
  Bienvenido
  <div class="menu" ng-click="toggleRight()"> 
    <i class="fa fa-reorder"></i>
  </div>
</div>
<div class="prompt botones_inicio">
  <div>
  <div layout="row">
    %%usuario.nombres%% %%usuario.apellido1%%
  </div>  
  <div layout="row">
    %%usuario.nombre_institucion%% 
  </div>  
  <div layout="row">
    %%usuario.correo%% 
  </div>  
  <div layout="row">
    %%usuario.telefono_institucion%% 
  </div>  
  <div layout="row">
    %%usuario.direccion_institucion%% 
  </div>
  <div layout="row">
    %%usuario.ubicacion_institucion%%, Cundinamarca 
  </div>    
</div>
  <button class="btn btn-lg btn-success btn-block" ng-click="profile()" layout="row" layout-align="start center">  
    <div flex="25"><img ng-src="%%registro%%" ></div>
    <div flex="auto">PERFIL</div>
  </button>
  <button class="btn btn-lg btn-success btn-block" ng-click="openToast()" layout="row" layout-align="start center">  
    <div flex="25"><img ng-src="%%como%%" ></div>
    <div flex="auto">MIS CONEXIONES</div>
  </button>
  <button class="btn btn-lg btn-success btn-block" ng-click="busquedas()" layout="row" layout-align="start center">  
    <div flex="25"><img ng-src="%%comenzar%%" ></div>
    <div flex="auto">MIS BÚSQUEDAS</div>
  </button>  
  <button class="btn btn-lg btn-danger btn-block" ng-click="new_b()" layout="row" layout-align="start center">  
    <div flex="25"><img ng-src="%%comenzar%%" ></div>
    <div flex="auto">INICIO</div>
  </button>    
</div>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar layout="row" layout-align="space-around center" class="toolbar_side">  
    <div>Lab. Virtuales</div>
    <div ng-click="close()" class="md-primary">
        <i class="fa fa-close"></i>
      </div>
  </md-toolbar>
  <div layout="column" layout-align="space_around center">
    <!-- <div class="botones_barra" ng-click="menu_bar('signin')">Inicio</div> -->
    <!-- <div class="botones_barra" ng-click="menu_bar('personalData')">Registrate</div>           -->
    <div class="botones_barra" ng-click="logout()">Cerrar Sesión</div>            
  </div>  
</md-sidenav>  