<div layout="row" layout-align="space-around center" class="barra_main">
	<div class="regresar" ng-click="menu_bar('/profileMain')">
		<img ng-src="%%anterior%%">
		<md-tooltip>
        VOLVER
      </md-tooltip>
	</div>
	MERCATIC
	<div class="menu" ng-click="toggleRight()">	
		<i class="fa fa-reorder"></i>
	</div>
</div>

<div layout='row' layout-align="center center">
   	<md-progress-circular md-mode="indeterminate" ng-show="load"></md-progress-circular>
</div>  
<div layout='row' layout-align="center center" ng-show="nodata" class="prompt_q">
    No se han encontrado datos
</div>  
 <div class="box" ng-repeat="datos in data" ng-click="detalle(datos.id,$index)">
 	<div layout="row" layout-align="start center" >		
		<div flex="77" class="box-title">%%datos.titulo%%</div>
	</div>
	<div class="box-body"><p class="">%%datos.descripcion%%</p></div>
	<div layout-align="center center" class="box-button">Ver Detalles</div>
</div>
<side-bar></side-bar>

