<div layout="row" layout-align="space-around center" class="barra_main">
  <div class="regresar" ng-click="menu_bar('/profileMain')">
  <img ng-src="%%anterior%%">
    <md-tooltip>
        VOLVER
      </md-tooltip>
  </div>
  Bienvenido
  <div class="menu" ng-click="toggleRight()"> 
    <i class="fa fa-reorder"></i>
  </div>
</div>

<div layout='row' layout-align="center center">
    <md-progress-circular md-mode="indeterminate" ng-show="load"></md-progress-circular>
</div>  

<div class="box" ng-repeat="conv in data" >
  <div layout="row" layout-align="space-between center" >
    <div flex="30" class="box-title" align="center">%%conv.busqueda.titulo%%</div>
    <div flex="30" class="box-title" align="center">%%conv.respuesta.titulo%%</div>
    <div layout-align="center center" class="box-bubble">%%conv.mensajes_sin_leer%%</div>
  </div>  
  <div class="box-body">%%conv.busqueda.titulo%%</div>  
  <div layout-align="center center" ng-click="conversacion($index)">VER</div>
</div>


<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar layout="row" layout-align="space-around center" class="toolbar_side">  
    <div>Lab. Virtuales</div>
    <div ng-click="close()" class="md-primary">
        <i class="fa fa-close"></i>
      </div>
  </md-toolbar>
  <div layout="column" layout-align="space_around center">
    <!-- <div class="botones_barra" ng-click="menu_bar('signin')">Inicio</div> -->
    <!-- <div class="botones_barra" ng-click="menu_bar('personalData')">Registrate</div>           -->
    <div class="botones_barra" ng-click="logout()">Cerrar Sesión</div>            
  </div>  
</md-sidenav>  