<div layout="row" layout-align="space-around center" class="barra_main">
    <div class="regresar" ng-click="menu_bar('')">
        <img ng-src="%%img_rol%%" style="width: 60%;">
    </div>
    ¡Bienvenido!
    <div id="menu" class="menu" ng-click="toggleRight()">
        <i class="fa fa-reorder"></i>
    </div>
</div>
<div class="prompt">
    <div class="datos_perfil">
        <div layout="row" layout-align="start center">
            <i class="fa fa-user"></i>
            %%usuario.nombres%% %%usuario.apellido1%% %%usuario.apellido2%%
        </div>
        <div layout="row" layout-align="start center">
            <i class="fa fa-home"></i>
            %%usuario.nombre_institucion%%
        </div>
        <div layout="row" layout-align="start center">
            <i class="fa fa-envelope"></i>
            %%usuario.correo%%
        </div>
        <div layout="row" layout-align="start center">
            <i class="fa fa-phone"></i>
            %%usuario.telefono_institucion%%
        </div>
        <div layout="row" layout-align="start center">
            <i class="fa fa-location-arrow"></i>
            %%usuario.direccion_institucion%%
        </div>
        <div layout="row" layout-align="start center">
            %%usuario.ubicacion_institucion%%, Cundinamarca
        </div>
    </div>
    <div class="botones_perfil">
        <a href="#/profileUpdate" id="editProfile" class="btn btn-lg btn-success btn-block" layout="row"
           layout-align="start center">
            <div flex="25"><img class="img_box" src="./images/botones/boton_registrate.png"></div>
            <div flex="auto">EDITAR MI PERFIL</div>
        </a>
        <a href="#/profileConections" class="btn btn-lg btn-success btn-block" layout="row"
           layout-align="start center">
            <div flex="25"><img class="img_box" src="./images/botones/boton-conectarse.png"></div>
            <div flex="auto">MIS CONEXIONES</div>
        </a>
        <a href="#/profileSearch" class="btn btn-lg btn-success btn-block" layout="row"
           layout-align="start center">
            <div flex="25"><img class="img_box" src="./images/botones/boton_agregar_busqueda.png"></div>
            <div flex="auto">MIS BÚSQUEDAS</div>
        </a>
        <a href="#/questionnaires" class="btn btn-lg btn-danger btn-block" layout="row" layout-align="start center">
            <div flex="25"><img class="img_box" src="./images/botones/boton-comenzar.png"></div>
            <div flex="auto">INICIO</div>
        </a>
        <a href="#/map" class="btn btn-lg btn-danger btn-block" layout="row" layout-align="start center">
            <div flex="25"><img class="img_box" src="./images/botones/boton-donde.png"></div>
            <div flex="auto">VER MAPA</div>
        </a>
    </div>
</div>
<side-bar></side-bar>