.how-it-works-container {

}

.how-it-works-container .title {
    color: #097da6;
    font-weight: bold;
    font-size: 24px;
    padding: 30px 5px;
}

.how-it-works-container img {
    width: 100%;
    padding: 5px 0px;
}

@media (min-width: 768px) {
    .how-it-works-container .title {
        font-weight: bold;
        font-size: 30px;
    }
}

@media (min-width: 992px) {
    .how-it-works-container .title {
        font-weight: bold;
        font-size: 30px;
    }
}