.how-it-works-tourist .images-section {
    max-width: 1200px;
    margin: 0;
}

.how-it-works-tourist .title {
    color: #097da6;
    font-weight: bold;
    font-size: 24px;
    padding: 20px 5px;
}

.how-it-works-tourist img {
    width: 100%;
    padding: 20px 0;
}

.how-it-works-tourist .description {
    font-size: 6vw;
    font-weight: bolder;
    color: #097da6;
    /*line-height: 20px;*/
    position: absolute;
    right: 25px;
    left: 25px;
}

.how-it-works-tourist .register-section {
    max-width: 768px;
    margin: 0 auto;
}

.description1 {
    bottom: 12vw;
}

.description2 {
    bottom: 6vw;
}

.description3 {
    bottom: 12vw;
}

/*.register-button img {
    width: 100%;
}*/

.how-it-works-tourist .reg-button h1 {
    font-size: 6vw;
    font-weight: bolder;
    color: #fff;
    position: absolute;
    right: 25px;
    left: 25px;
    bottom: 8vw;
}

@media (min-width: 768px) {
    .how-it-works-tourist .title {
        font-size: 30px;
    }

    .how-it-works-tourist .images-section {
        margin: 15px auto;
    }

    .how-it-works-tourist .description {

    }

    .how-it-works-tourist .reg-button h1 {
        font-size: 40px;
        bottom: 60px;
    }
}

@media (min-width: 992px) {
    .how-it-works-tourist .title {
        font-size: 30px;
    }

    .how-it-works-tourist .description {
        font-size: 18px;
    }

    .description1 {
        bottom: 40px;
    }

    .description2 {
        bottom: 30px;
    }

    .description3 {
        bottom: 50px;
    }
}

@media (min-width: 1200px) {
    .how-it-works-tourist .title {
        font-size: 35px;
    }

    .how-it-works-tourist .description {
        font-size: 20px;
    }
}