<div class="masterContainer">
    <div class="header">
    </div>

    <div class="videoContainer">
    </div>

    <div class="linksContainer desktopLayout">
        <div class="registerSection linkSection" ng-click="goToRegistration()">
            <div class="sectionTitle">
                <div class="nummeral title">1</div>
                <div class="title">Regístrate</div>
            </div>
            <div class="sectionText">
                <p class="description">Sé parte de la comunidad y aprovecha las ventajas que Cundinamarcapp tiene para
                    tí</p>
            </div>
        </div>
        <div class="linkSection" ng-click="goToMapSearchTab()">
            <div class="sectionTitle">
                <div class="nummeral title">2</div>
                <div class="title">Encuentra lo que te gusta</div>
            </div>
            <div class="sectionText">
                <p class="description">Nuestro buscador te ayudará a ubicar lo que necesitas</p>
            </div>
        </div>
        <div class="linkSection" ng-click="goToMapRouteTab()">
            <div class="sectionTitle">
                <div class="nummeral title">3</div>
                <div class="title">Arma tu ruta</div>
            </div>
            <div class="sectionText">
                <p class="description">Planea tu aventura y sorpéndete con las maravillas de Cundinamarca</p>
            </div>
        </div>
    </div>

    <div class="linksContainerMobile mobileLayout">
        <div class="sectionMobile">
            <div class="titleMobile">
                <div class="nummeral title">1 Regístrate</div>
            </div>
            <div class="descriptionMobile">
                <p class="description">Sé parte de la comunidad y aprovecha las ventajas que Cundinamarcapp tiene para
                    tí</p>
            </div>
        </div>
        <div class="stepsDividerHome"></div>
        <div class="sectionMobile">
            <div class="titleMobile">
                <div class="nummeral title">2 Encuentra lo que te gusta</div>
            </div>
            <div class="descriptionMobile">
                <p class="description">Nuestro buscador te ayudará a ubicar lo que necesitas</p>
            </div>
        </div>
        <div class="stepsDividerHome"></div>
        <div class="sectionMobile">
            <div class="titleMobile">
                <div class="nummeral title">3 Arma tu ruta</div>
            </div>
            <div class="descriptionMobile">
                <p class="description">Planea tu aventura y sorpéndete con las maravillas de Cundinamarca</p>
            </div>
        </div>
    </div>


</div>