<app-header></app-header>
<div class="videoContainer">
    <iframe class="videoHowItWorks" src="https://www.youtube.com/embed/a1j0b5qMCB4" allowfullscreen></iframe>
</div>

<div class="linksContainer desktopLayout">
    <div class="linkSection" ng-click="goToMapSearchTab()">
        <div class="sectionTitle">
            <div class="nummeral title" translate="HOW_IT_WORKS_CONSTANTS.HOW_IT_WORKS_SEARCH_STEP"></div>
        </div>
        <div class="sectionText">
            <p class="description" translate="HOW_IT_WORKS_CONSTANTS.HOW_IT_WORKS_SEARCH_STEP_DESCRIPTION"></p>
        </div>
    </div>

    <div class="linkSection" ng-click="goToMapRouteTab()">
        <div class="sectionTitle">
            <div class="nummeral title" translate="HOW_IT_WORKS_CONSTANTS.HOW_IT_WORKS_ROUTE_STEP"></div>
        </div>
        <div class="sectionText">
            <p class="description" translate="HOW_IT_WORKS_CONSTANTS.HOW_IT_WORKS_ROUTE_STEP_DESCRIPTION"></p>
        </div>
    </div>

</div>

<div class="linksContainerMobile mobileLayout">
    <div class="sectionMobile" ng-click="goToMapSearchTab()">
        <div class="titleMobile">
            <div class="nummeral title" translate="HOW_IT_WORKS_CONSTANTS.HOW_IT_WORKS_SEARCH_STEP"></div>
        </div>
        <div class="descriptionMobile">
            <p class="description" translate="HOW_IT_WORKS_CONSTANTS.HOW_IT_WORKS_SEARCH_STEP_DESCRIPTION"></p>
        </div>
    </div>
    <div class="stepsDividerHowitWorks"></div>
    <div class="sectionMobile" ng-click="goToMapRouteTab()">
        <div class="titleMobile">
            <div class="nummeral title" translate="HOW_IT_WORKS_CONSTANTS.HOW_IT_WORKS_ROUTE_STEP"></div>
        </div>
        <div class="descriptionMobile">
            <p class="description" translate="HOW_IT_WORKS_CONSTANTS.HOW_IT_WORKS_ROUTE_STEP_DESCRIPTION"></p>
        </div>
    </div>
</div>
<app-footer></app-footer>

