<div class="masterContainer">
    <ecosistema-header-directive style="width: 100%; height: auto"></ecosistema-header-directive>
    <div class="videoContainer">
        <iframe class="videoHowItWorks" src="https://www.youtube.com/embed/a1j0b5qMCB4" allowfullscreen></iframe>
    </div>

    <div class="linksContainer desktopLayout">
        <div class="secondLinkContainer">
            <div class="registerSection linkSection" ng-click="goToRegistration()">
                <div class="sectionTitle">
                    <div class="nummeral title">1</div>
                    <div class="title" translate="HOW_IT_WORKS_REGISTER_STEP"></div>
                </div>
                <div class="sectionText">
                    <p class="description" translate="HOW_IT_WORKS_1ST_STEP_DESCRIPTION"></p>
                </div>
            </div>
            <div class="searchSection linkSection" ng-click="goToRegistration()">
                <div class="sectionTitle">
                    <div class="nummeral title">2</div>
                    <div class="title" translate="HOW_IT_WORKS_SEARCH_STEP"></div>
                </div>
                <div class="sectionText">
                    <p class="description" translate="HOW_IT_WORKS_2ND_STEP_DESCRIPTION"></p>
                </div>
            </div>
            <div class="routeSection linkSection" ng-click="goToRegistration()">
                <div class="sectionTitle">
                    <div class="nummeral title">3</div>
                    <div class="title" translate="HOW_IT_WORKS_TRIP_STEP"></div>
                </div>
                <div class="sectionText">
                    <p class="description" translate="HOW_IT_WORKS_3RD_STEP_DESCRIPTION"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="linksContainerMobile mobileLayout">
        <div class="sectionMobile">
            <div class="titleMobile">
                <div class="nummeral title" translate="HOW_IT_WORKS_REGISTER_STEP_MOBILE"></div>
            </div>
            <div class="descriptionMobile">
                <p class="description" translate="HOW_IT_WORKS_1ST_STEP_DESCRIPTION"></p>
            </div>
        </div>
        <div class="stepsDividerHome"></div>
        <div class="sectionMobile">
            <div class="titleMobile">
                <div class="nummeral title" translate="HOW_IT_WORKS_SEARCH_STEP_MOBILE"></div>
            </div>
            <div class="descriptionMobile">
                <p class="description" translate="HOW_IT_WORKS_2ND_STEP_DESCRIPTION"></p>
            </div>
        </div>
        <div class="stepsDividerHome"></div>
        <div class="sectionMobile">
            <div class="titleMobile">
                <div class="nummeral title" translate="HOW_IT_WORKS_TRIP_STEP_MOBILE"></div>
            </div>
            <div class="descriptionMobile">
                <p class="description" translate="HOW_IT_WORKS_3RD_STEP_DESCRIPTION"></p>
            </div>
        </div>
    </div>


</div>