<div class="hidden-xs hidden-sm">
    <app-header></app-header>
</div>
<loader></loader>
<div id="loaderDiv" ng-class="loader?'':'hidden_loader'"><img src="./images/ajax-loader.gif" class="ajax-loader"/></div>

<div class="forms-container">
    <div class="row topMarginHeader registerSiteBackgroundColor forms-height">
        <div class="col-md-4  col-md-offset-4 centerColumnNoPadding registerSiteFormBackgroundColor PhotosFormPadding">
            <div class="header container-fluid">

                <div class="col-xs-1 registerHeaderBackIconcontainer" ng-click="goMunicipalityLocation()">
                    <img class="registerHeaderBackIcon" src="./images/registerIcons/atras.png">
                </div>

                <p class="text" translate="REGISTER_MUNICIPALITY_CONSTANTS.MUNICIPALITY_PHOTOS_PAGE"></p></div>
            <ul class="progress-bar2 progressBarPadding topMarginElements">
                <li class="done-step"></li>
                <li class="done-step"></li>
                <li class="done-step"></li>
                <li></li>
            </ul>


            <label class="topMarginElements businessAddressText texto-oscuroBusinessLocation"
                   translate="REGISTER_MUNICIPALITY_CONSTANTS.UPLOAD_MAIN_PHOTO_TIP"></label>
            <div class="mainPhotoContainer">
                <div class="title-main-photo-container">

                    <md-progress-circular class="loading loadingGlobalPhoto" md-mode="indeterminate"
                                          ng-show="loadingPhotos"></md-progress-circular>

                    <i ng-show="flowMunicipalityMainPhoto.flow.files.length==0"
                       class="form-control-feedback photo-asterisk  glyphicon glyphicon-asterisk glyphiconStarColor"></i>
                    <label class="topMarginmainPhotolabel texto-claroBusinessLocation"
                           translate="REGISTER_SITE_CONSTANTS.UPLOAD_MAIN_PHOTO"></label>
                </div>

                <div flow-init
                     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                     flow-name="flowMunicipalityMainPhoto.flow">
                    <div ng-show="!$flow.files.length">
                        <flow-btn flow-single-file="false">
                            <img class="btn" ng-show="!$flow.files.length" ng-click="mainPhotoOnClick()"
                                 src="./images/registerIcons/foto-subir.png"/>
                        </flow-btn>
                    </div>


                    <div class="thumbnail mainPhotoImagesContainer" ng-show="$flow.files.length">
                        <md-progress-circular class="loading loadingPhoto" md-mode="indeterminate"
                                              ng-show="loadingMunicipalityMainPhoto"></md-progress-circular>
                        <img image-onload="imgLoadedCallback($flow.files[0])" class="selectedMainPhoto"
                             flow-img="$flow.files[0]" ng-class="correctOrientation($flow.files[0].orientation)"/>
                        <img class="deletePhoto deletePhotoSize" ng-click="$flow.cancel()"
                             src="./images/registerIcons/foto-borrar.png">
                    </div>
                </div>
                    <span ng-show="showMunicipalityMainPhotoRequired"
                          class="errorField" translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
            </div>


            <label class="topMarginElements businessAddressText texto-claroBusinessLocation"
                   translate="REGISTER_MUNICIPALITY_CONSTANTS.MUNICIPALITY_ANTHEM_PHOTOS"></label>

            <div class="coat-arms-photos-container">
                <div flow-init
                     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                     flow-name="flowCoatArmsPhoto.flow">
                    <div ng-show="!$flow.files.length">
                        <flow-btn flow-single-file="false">
                            <img class="btn" ng-show="!$flow.files.length"
                                 src="./images/registerIcons/foto-subir.png"/>
                        </flow-btn>
                    </div>


                    <div class="thumbnail mainPhotoImagesContainer" ng-show="$flow.files.length">
                        <md-progress-circular class="loading loadingPhoto" md-mode="indeterminate"
                                              ng-show="loadingCoatArmsPhoto"></md-progress-circular>
                        <img image-onload="imgLoadedCallback($flow.files[0])" class="selectedMainPhoto"
                             flow-img="$flow.files[0]" ng-class="correctOrientation($flow.files[0].orientation)"/>
                        <img class="deletePhoto deletePhotoSize" ng-click="$flow.cancel()"
                             src="./images/registerIcons/foto-borrar.png">
                    </div>
                </div>
            </div>


            <label class="topMarginElements businessAddressText texto-oscuroBusinessLocation"
                   translate="REGISTER_MUNICIPALITY_CONSTANTS.UPLOAD_SECONDARY_PHOTOS_TIP"></label>

            <label class="topMarginElements businessAddressText texto-claroBusinessLocation"
                   translate="REGISTER_MUNICIPALITY_CONSTANTS.MUNICIPALITY_GENERAL_PHOTOS"></label>

            <div class="topMarginElements businessAddressText">
                <div flow-init
                     flow-name="flowMunicipalityFacedePhotos.flow"
                     flow-files-submitted="$flow.upload()"
                     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">

                    <div ng-repeat="flowFile in $flow.files" class="gallery-box rowPhotos mainPhotoImagesContainer">
                        <div class="thumbnail mainPhotoImagesContainer" ng-show="$flow.files.length">
                            <md-progress-circular class="loading loadingPhoto" md-mode="indeterminate"
                                                  ng-show="loadingMunicipalityFacedePhotos"></md-progress-circular>
                            <img image-onload="imgLoadedCallback(flowFile)" class="selectedRowPhotos"
                                 class="selectedRowPhotos" flow-img="flowFile"
                                 ng-class="correctOrientation(flowFile.orientation)"/>

                            <img class="deletePhoto deletePhotoSize" ng-click="flowFile.cancel()"
                                 src="./images/registerIcons/foto-borrar.png">
                        </div>
                    </div>
                    <flow-btn flow-single-file="false">
                        <img class="rowPhotosButton" src="./images/registerIcons/foto-subir.png"/>
                    </flow-btn>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 next-button NextButtonRegister topMarginElements">
                    <button ng-disabled="loadingPhotos" class="button" ng-click="doneMunicipalityRegistration()"
                            translate="REGISTER_SITE_CONSTANTS.NEXT_BUTTON"></button>
                </div>
            </div>
        </div>
    </div>
</div>
