<div class="hidden-xs hidden-sm">
    <app-header></app-header>
</div>
<div class="row topMarginHeader registerSiteBackgroundColor backgroundFillViewPortLocation">
    <div class="col-md-4  col-md-offset-4 centerColumnNoPadding PhotosFormPadding registerSiteFormBackgroundColor">
        <div class="header container-fluid">
            <div class="col-xs-1 registerHeaderBackIconcontainer" ng-click="goMunicipalityInfo()">
                <img class="registerHeaderBackIcon" src="./images/registerIcons/atras.png">
            </div>
            <p class="text" translate="REGISTER_MUNICIPALITY_CONSTANTS.MUNICIPALITY_LOCATION"></p></div>
        <ul class="progress-bar2 progressBarPadding topMarginElements">
            <li class="done-step"></li>
            <li class="done-step"></li>
            <li></li>
            <li></li>
        </ul>
        <form name="registerMunicipalityInfoForm" class="topMarginElements" role="municipalityAddressForm">
            <div class="form-group has-feedback businessAddressText">
                <input type="text" class="form-control businessAddressInput" translate
                       translate-attr-placeholder="REGISTER_MUNICIPALITY_CONSTANTS.MUNICIPALITY_ADDRESS" name="municipalityAddress2"
                       type="text" ng-model="$parent.municipalityAddress" required/>
                <i ng-show="municipalityAddress==undefined"
                   class="form-control-feedback  glyphicon glyphicon-asterisk glyphiconBusinessAddress"></i>
                <span ng-show="showRequiredFieldMessage && registerMunicipalityInfoForm.municipalityAddress2.$error.required"
                      class="errorField" translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
            </div>
        </form>

        <div class="row businessAddressText topMarginElements">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9 centerColumnNoPadding">
                <label class="texto-claroBusinessLocation"
                       translate="REGISTER_MUNICIPALITY_CONSTANTS.MUNICIPALITY_GET_USER_LOCATION_TIP"></label>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <img class="getUserPositionBusinessAddressButton" src="./images/icons/mi-ubicacion.png"
                     ng-click="getUserPosition()">
            </div>
        </div>
        <label class="businessAddressText texto-oscuroBusinessLocation topMarginElements"
               translate="REGISTER_MUNICIPALITY_CONSTANTS.MUNICIPALITY_LOCATION_TIP"></label>
        <div class="progressBarPadding topMarginElements">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events"></ui-gmap-google-map>
            <span ng-show="showRequiredFieldMessage && businessLocation.lat==undefined" class="errorField"
                  translate="REGISTER_SITE_CONSTANTS.REQUIRED_FIELD"></span>
        </div>
        <div class=" next-button NextButtonRegister topMarginElements">
            <button class="button"  ng-click="changeViewPhotos()"
                    translate="REGISTER_SITE_CONSTANTS.NEXT_BUTTON"></button>
        </div>
    </div>
</div>
